<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpaceTrades</title>
    <link rel="shortcut icon" href="images/favicon.ico"> 
<!--     <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  -->
    <!--
  ____                       _                 _           
 / ___| _ __   __ _  ___ ___| |_ _ __ __ _  __| | ___  ___ 
 \___ \| '_ \ / _` |/ __/ _ \ __| '__/ _` |/ _` |/ _ \/ __|
  ___) | |_) | (_| | (_|  __/ |_| | | (_| | (_| |  __/\__ \
 |____/| .__/ \__,_|\___\___|\__|_|  \__,_|\__,_|\___||___/
       |_|                                                 
            * * * * Buy and Sell Locally * * * *  
-->
</head> 
<!-- <body>
</body> -->
<!-- TASK - We can use the spinner again -->
<template name="LayoutHome">
{{> sAlert}}
    {{#if currentUser}}
    {{> homeheaderpost}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> yield}}
    {{else}}
    {{> homeheaderpre}}
    {{> ModalJoin}}
    {{> yield}} 
{{/if}}
</template>

<!-- TASK - Make template for Messages -->
<template name="LayoutMessages">
{{> sAlert}}
    {{#if currentUser}}
    {{messageShow}}
    {{> headerpost}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutSearch">
{{> sAlert}}
    {{#if currentUser}} 
    {{> headersearchpost}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> yield}}
    {{else}}
    {{> headersearchpre}}
    {{> ModalJoin}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutHelp">
{{> sAlert}}
    {{#if currentUser}}
    {{> headerpost}}
    {{> HelpCenterNav}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> yield}}
    {{else}}
    {{> headerpre}}
    {{> ModalJoin}}
    {{> HelpCenterNav}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutProfile">
{{> sAlert}}
 {{#if currentUser}}
    <!-- MODALS -->
    {{> headerpost}}
    {{> ProfileCenterNav}}
    {{> ModalListingManager}}
    {{> ModalAddListing}}
    {{> ModalReceivedOffers}}
    {{> ModalReceivedOffersFull}}
    {{> ModalEditListing}}
    {{> ModalReceivedAccept}}
    {{> ModalReceivedDecline}}
    {{> ModalListingDelete}}

    {{> yield}}
    {{else}}
    {{> headerpre}}
    {{> ModalJoin}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutDefault">
{{> sAlert}}
 {{#if currentUser}}
    {{> headerpost}}
    {{userShow}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> ModalOfferRequest}}
    {{> ModalReportListing}}
    {{> ModalEditListing}}
    {{> yield}}
    {{else}}
    {{> headerpre}}
    {{> ModalJoin}}
    {{userShow}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutDefaultPost">
    {{> homeheaderpost}}
    {{> loginButtons}}
    {{listingShow}}
    {{> ModalNotifications}}
    {{> ModalAddListing}}
    {{> yield}}
</template>
 
