<template name="item">
    <!-- TASK - Make an icon for trades. Maybe draw this and have Trades Allowed or Trades Denied Check and Cross -->
    <!-- TASK - show created at timestamp -->
    {{> ModalOfferRequest}}
    {{> ModalReportListing}}
    {{> ModalEditListing}}

    {{#if offerAccepted}}
Cheat on her

{{/if}}
    <button class="modReportTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#reportListingModal">
        <a href="#reportListingModal"><i class="fa fa-gavel"></i>Report Listing</a>
    </button>

    <button class="modEditListingTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#editListingModal">
        <a href=""><i class="fa fa-pencil"></i>Edit</a>
    </button>

    <div class="listingItemDiv oneDiv">
        <h1 class="listingItemTitle">{{listing_title}}</h1>
        <p class="listingItemOffersRecieved">Created {{dateFormatted}}<br>{{offers}} Offers Received</p>
        <div class="listingItemLeft">
            <div class="listingItemPriceButtons">
                <ul class="listingItemPrice">
                    <li class="money itemMoney">${{price}}</li>
                </ul>
                <ul class="listingItemButtons">
                    <li>
                        <button class="modOfferRequestTrigger btn btn-default" data-toggle="modal" data-target="#offerRequestModal">Offer</button>
                    </li>
                    <li>
                        <a class="btn btn-default profileBtn" href="/chat/{{creator_id}}">Chat</a>
                    </li>
                </ul>
            </div>
            <div class="listingItemSlider">
                <div class="slider">
                    <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                    <label for="id1" class="sliderSmallOne">
                        <img class="imgBreak" src="{{img1}}" />
                    </label>
                    <img class="imgBreak" src="{{img1}}"/>

                    <input type="radio" name="slide_switch" id="id2" />
                    <label for="id2" class="sliderSmallTwo">
                        <img class="imgBreak" src="{{img2}}" />
                    </label>
                    <img class="imgBreak" src="{{img2}}"/>

                    <input type="radio" name="slide_switch" id="id3"/>
                    <label for="id3" class="sliderSmallThree">
                        <img class="imgBreak" src="{{img3}}" />
                    </label>
                    <img class="imgBreak" src="{{img3}}"/>

                    <input type="radio" name="slide_switch" id="id4"/>
                    <label for="id4" class="sliderSmallFour">
                        <img class="imgBreak" src="{{img4}}" />
                    </label>
                    <img class="imgBreak" src="{{img3}}"/>
                </div>
            </div>
            <div class="desc-box-listing desc-width">
                <h4 class="box-title-listing">Product Details</h4>
                <ul class="listingItemDetailItems">
                    <li class="listingItemDetailLeft">
                        <ul>
                            <li class="listingItemBrand">Brand:<a href="/search">{{brand}}</a></li>
                            <li class="listingItemType">Type:<a href="/search">{{type}}</a></li>
                            <li class="listingItemSize">Size: <span>{{size}}</span></li>
                            <li class="listingItemColor">Color: <span style="color: {{color}}">{{color}}</span></li>
                        </ul>
                    </li>
                    <li class="listingItemDetailRight">
                        <ul>
                         <li class="listingItemCat">Category: <span>{{category}}</span></li>
                         <li class="listingItemCondition">Condition: <span>{{condition}}</span></li>
                         <li class="listingItemQuantity">Quantity: <span>{{quantity}}</span></li>
                         <li class="listingItemTrade">Trade Offers: <span>{{trade}}</span></li> 
                     </ul>
                 </li>
             </ul>
         </div>
         <div class="desc-box-listing nomar desc-width listingItemDescription">
            <h4 class="box-title-listing">Description</h4>
            <p>{{{description}}}</p>
        </div>
    </div>  
    <div class="listingItemRight">
        <div class="listingItemShare">
            <!-- Twitter -->
            <a href="http://twitter.com/share?url=spacetrades.com/listing/{{_id}}&text=SpaceTrades&via=<VIA>" target="_blank" class="share-btn twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <!-- Google Plus -->
            <a href="https://plus.google.com/share?url=spacetrades.com/listing/{{_id}}" target="_blank" class="share-btn google-plus">
                <i class="fa fa-google-plus"></i>
            </a>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer/sharer.php?u=spacetrades.com/listing/{{_id}}" target="_blank" class="share-btn facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://reddit.com/submit?url=spacetrades.com/listing/{{_id}}&title=SpaceTrades" target="_blank" class="share-btn reddit">
                <i class="fa fa-reddit"></i>
            </a>
        </div>
        <div class="listingItemMaps">
            <ul class="listingItemMapsAPI">
                <li>
                    <div class="listingMapsCanvas" id="map-canvas">
                        {{> googleMap name="listingImage" options=exampleMapOptions}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="listingItemUser">
            <ul class="listingItemUserImg">
                <li><a href="/profile/{{profile}}"><img src="{{img1}}"></a></li>
            </ul>
            <ul class="listingItemUserInfo">
                <li class="listingItemUserName"><a href="/profile/{{profile}}">{{username}}</a></li>
                <li class="rating">☆☆☆☆☆</li>
                <ul class="listingPayment">
                {{#if paymentCash}}
                    <li class="listingPayCash"><i class="fa fa-usd"></i></li>
                {{/if}}
                {{#if paymentPaypal}}
                    <li class="listingPayPal"><i class="fa fa-cc-paypal"></i></li>
                {{/if}}
                </ul>
            </ul>
        </div>
        <div class="listingItemLocationString">
            <p>{{locationString}}</p>
        </div>
        <div class="optionsListClick click-nav">
            <ul class="no-js">
                <li>
                    <a class="clicker">Options<i class="fa fa-caret-down"></i></a>
                    <ul class="optionsItems">
                        <li>
                            <button class="modEditListingTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#editListingModal">
                                <a href=""><i class="fa fa-pencil"></i>Edit</a>
                            </button>
                        </li>
                        <li class="itemSave"><a href="#"><i class="fa fa-star"></i>Save</a></li>
                        <li>
                            <button class="modReportTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#reportListingModal">
                                <a href="#reportListingModal"><i class="fa fa-gavel"></i>Report Listing</a>
                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="hidden">
    {{creator_id}}
</div>

<script type="text/javascript">

    $(function () {
      $('.click-nav > ul').toggleClass('no-js js');
      $('.click-nav .js ul').hide();
      $(document).click(function() {
        if ($('.click-nav .js ul').is(':visible')) {
          $('.click-nav .js ul', this).slideUp();
          $('.clicker').removeClass('active');
      }
  });
  });
    
</script>
</template>