<template name="Notification">
	<div class="notificationBody">
		{{action}}
		of
		<span class="money"> ${{offer_price}} </span>
		for
		{{listing_title}}
		From
		{{creator_name}}
	</div>
<!-- 	<ul class="notificationBody">
		<li>{{action}} of {{offer_price}} from {{creator_name}} for {{listing_title}}</li>
	</ul> -->

	<!-- You received an offer of $240 from Nathan C. for Nike Air Max Retro 99x -->

	<!-- <div class="notificationBody">
		{{action}}
		of
		<span class="money"> ${{offer_price}} </span>
		for
		{{listing_title}}
		From
		{{creator_name}}
	</div> -->
</template>