<template name="Notification">
	<a href="{{link}}"><li>
	{{#if type equals "offer"}}
		<div class="notificationBody">
			{{creator_name}} <b>{{action}}</b>
			{{type}}
			<br/>
			of
			<span class="money"> ${{offer_price}} </span>
			for
			{{listing_title}}
			<br/>
			{{timestamp}}
		</div>
		{{/if}}
		{{#if type equals "reminder"}}
		<div class="notificationBody">
			<b>{{action}}</b>
				{{type}}
			<br/>
			for
			{{listing_title}}
			<br/>
			{{timestamp}}
		</div>
		{{/if}}
		{{#if type equals "feedback"}}
		<div class="notificationBody">
			<b>{{action}}</b>
				{{type}}
			<br/>
			for
			{{listing_title}}
			<br/>
			{{timestamp}}
		</div>
		{{/if}}
	 </li></a>
</template>