<template name="ModalSentOffer"> 
	<!-- Modal -->
	{{#with listingOffers}}
	<div class="modSentOffer modal" id="sentOfferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modSentOfferDialog modal-dialog" role="document">
	    <div class="modSendOfferContent modal-content">
	      <div class="modSentOfferBody modal-body">
	      	<div class="profileReceivedOffers">
		        <ul class="profileReceivedUl">
		            <li class="profileReceivedLi profileViewMeetupLi profileSentOfferLi">
		            	<p class="homeCardOfferRecieved profileSentOfferStatus">{{status}}</p>
		                <ul class="profileReceivedCardLeft">
		                    <li class="profileReceivedImage">
		                        <a href="/listing/{{listingId}}"><img src="{{img}}" class="profileReceivedImg"></a>
		                    </li>
		                </ul>
		                <ul class="profileReceivedCardRight profileViewMeetupRight">
		                    <li><a href="/listing/{{listingId}}"><h3>{{listing_title}}</h3></a></li>
		                    <li id="profileReceivedName" class="profileReceivedName">You sent an Offer To <a href="/profile/{{creator_id}}">{{creator}}</a></li>
		                    <li class="profileReceivedPrice"><b>Offered Amount: </b> <span class="money">${{offerprice}}</span>
Original Price: <span class="money">{{price}}</span>
		                    </li>
		                    <li class="profileReceivedPayment"><b>Payment: </b> Paypal</li>
		                    <li class="profileReceivedDate"><b>Date of Meetup: </b>{{date}}</li>
		                    <li class="profileReceivedLocation"><b>Location: </b>{{location}}</li>
		                    <li id="profileReceivedCancel"><a href="#">Cancel Offer</a></li>
		                </ul>
		                <div id="profileReceivedOffersMaps">
		                    {{> googleMap name="itemoffermap" options=ItemOfferOptions}}
		                </div>
		            </li>
		        </ul>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
	{{/with}}
</template>