<template name="about">
<div class="aboutdiv div">
    <h2 class="aboutlogo">About</h2>
    <p class="aboutpar">SpaceTrades assists individuals Buying, Selling, and/or Trading their stuff through local meetups.</p>
    <img src="#" class="aboutimg">
    <p class="aboutpar">Suspendisse feugiat arcu sit amet eros congue lacinia. Aliquam quis dignissim dui, quis rutrum nisl. In blandit dignissim eros sit amet sollicitudin. Maecenas pellentesque lorem metus, et egestas ligula vulputate pharetra. Donec eget volutpat lacus. Curabitur a dignissim turpis. Phasellus in ullamcorper odio. Phasellus nec sollicitudin dui.</p>
</div>
</template>