<template name="about">
<div class="aboutdiv div">
    <h2 class="aboutlogo">About</h2>
    <p class="aboutpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur non nibh at viverra. Phasellus commodo lacinia tincidunt. Quisque id luctus dolor. Donec ultricies diam mi, sit amet egestas arcu aliquet eget. Donec urna enim, elementum ultrices augue nec, facilisis vulputate dolor. Donec mollis metus vitae lorem scelerisque, at imperdiet leo efficitur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <img src="#" class="aboutimg">
    <p class="aboutpar">Suspendisse feugiat arcu sit amet eros congue lacinia. Aliquam quis dignissim dui, quis rutrum nisl. In blandit dignissim eros sit amet sollicitudin. Maecenas pellentesque lorem metus, et egestas ligula vulputate pharetra. Donec eget volutpat lacus. Curabitur a dignissim turpis. Phasellus in ullamcorper odio. Phasellus nec sollicitudin dui.</p>
</div>
</template>