<template name="card">
	<li>
        <div>
            <div class="carditp">
                <a href="#"><img src="{{imagesShow.url}}"></a>                      
                <p><a href="/listing/{{_id}}">{{listing_title}}</a></p>
            </div>
            <div class="cardpsa">
                <p class="cardprice">${{price}}</p>
                <p class="cardsl"><span class="cardsize">
                '{{size}}</span>
                {{county}}
              <!--   <span class="cardny">{{state}}</span> -->
                </p>
            </div>
            <div class="cardna">
                <a class="cardname" href="#">{{username}}</a>

                <!-- Different categories will have different size values. ex. Shoes '11, Apparel Medium, Electronics 16GB, etc -->
            </div>
        </div>
    </li>
</template>
