<template name="ChatInput">
<div class="chatInput">
<textarea rows="3" class="newMessage"></textarea>
<textarea rows="1" cols="100" name="message" class="newMessage form-message-input" autofocus="true" style="overflow: hidden; word-wrap: break-word; resize: none; height: 37px;"></textarea>
<a class="chatSend ph-button ph-btn-cardinal">Send</a>
</div>
People
<select class="People">
    <option value="New">Nathan</option>
    <option value="Like New">Yusuf</option>
    <option value="Used">George</option>
    <option value="Broken">Peter</option>
</select>
</template>

<template name="ChatMessages">
<div class="chatMessages">
{{#each messages}}
	{{> messageCard}}
{{/each}}
</div>
</template>

<template name="Messages">
{{> ChatInput}}
{{> ChatMessages}}
</template>

<template name="messageCard">
<b class="usernameChat">{{username}}</b> - {{message}}
<br />
</template>
<!-- 
	var date = new Date(timestamp);
	var hours = date.getHours();
	var minutes = "0" + date.getMinutes();
	var seconds = "0" + date.getSeconds();
	return hours + ':' + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2); -->