
<template name="chatRight">
	<ul class="chatRight">
		<li class="chatTopSection">
			<ul>
			<li><h3><a href="">{{conversation}}</a></h3></li>
				<!-- TASK - Include context of chat so, what items are you chatting about selling and display to right of userprofile -->
	<!-- 			<li>
					<div class="circle" style="background-color:#24ec3d;"></div>
				</li> -->
			</ul>
		</li>
		<li class="chatMessages">

			<!-- TASK - Each for your own messages match your and for alternate user messages -->
			<!-- TASK - Add divider between sidebar and right -->
			{{username}}
			<div class="circle" style="background-color: {{online.color}}"></div>
			{{#each messages}}
			<ul class="chatUserSent">
				<li>{{message}}</li>
				<li><a href=""><img src="{{sender}}"></a></li>
			</ul>
			{{/each}}

			<!-- TASK - Create speech bubble, http://www.sitepoint.com/pure-css3-speech-bubbles/ -->

				<!-- 	<ul class="chatUserSent">
						<li>I was interested in buying your shoes</li>  
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
					</ul>
					<ul class="chatUserReceived">
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
						<li>alright, I demand just one thing</li>            
					</ul>
					<ul class="chatUserSent">
						<li>And what is that</li>  
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
					</ul>
					<ul class="chatUserReceived">
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
						<li>Two SHRUBBERIES!!!</li>            
					</ul>
					<ul class="chatSubText">
					<li> <h1> Offer has been accepted </h1> </li>
				</ul> -->
			</li>
			<li class="chatBottomSection">
				<ul class="chatInputText">
					<li><input type="text" class="chatText"></li>
				</ul>
				<ul class="chatSend">
					<!-- TASK - ADD attachments PL -->
					<!-- <li><i class=" fa fa-paperclip"></i></li> -->
					<input type="submit" class="contactButton chatSendButton" value="Send">
				</ul>
			</li>
		</ul>
	</template>