	<template name="Messages">
		<div class="chatDiv oneDiv">
			<ul class="chatLeft">
				<li class="chatInbox">
					<ul>
						<li class="chatInboxTop">
							<ul>
								<li class="chatInboxTitle"><h3>Inbox</h3></li>
								<li class="chatInboxSearch"><i class="fa fa-search"></i><input type=text class="chatInboxSeachInput"></li>
							</ul>
						</li>
					</ul> 
				</li>
				<li class="chatPeople">
					<ul>
						<li class="chatPerson">
							<ul>
								<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
								<li><a href="#">Nathan</a></li>
								<li><div class="circle" style="background-color:#24ec3d;"></div></li>
								<!-- TASK - MAYBE - show a checked icon when meetup has been scheduled and hide on expiration -->
								<!-- TASK - USE Message box cloud look around messages -->
								<!-- TASK - ADD smart text autocomplete, locations, price... -->
							</ul>
						</li>
						<li class="chatPerson">
							<ul>
								<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
								<li><a href="#">Peter</a></li>
								<li><div class="circle" style="background-color:#24ec3d;"></div></li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
			<ul class="chatRight">
				<li class="chatTopSection">
					<ul>
						<li><h3><a href="">Yusuf Bagha</a></h3></li>
						<!-- TASK - Include context of chat so, what items are you chatting about selling and display to right of userprofile -->
						<li>
							<div class="circle" style="background-color:#24ec3d;"></div>
						</li>
					</ul>
				</li>
				<li class="chatMessages">

				<!-- TASK - Each for your own messages match your and for alternate user messages -->

				{{#each messages}}
				<ul class="chatUserSent">
				<li>{{message}}</li>
				<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
				</ul>
				{{/each}}

				<!-- TASK - Create speech bubble, http://www.sitepoint.com/pure-css3-speech-bubbles/ -->

					<ul class="chatUserSent">
						<li>I was interested in buying your shoes</li>  
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
					</ul>
					<ul class="chatUserReceived">
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
						<li>alright, I demand just one thing</li>            
					</ul>
					<ul class="chatUserSent">
						<li>And what is that</li>  
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
					</ul>
					<ul class="chatUserReceived">
						<li><a href=""><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></a></li>
						<li>Two SHRUBBERIES!!!</li>            
					</ul>
					<ul class="chatSubText">
					<li> <h1> Offer has been accepted </h1> </li>
					</ul>
				</li>
				<li class="chatBottomSection">
					<ul class="chatInputText">
						<li><input type="text" class="chatText"></li>
					</ul>
					<ul class="chatSend">
					<!-- TASK - ADD attachments PL -->
						<!-- <li><i class=" fa fa-paperclip"></i></li> -->
						<li class="chatSendButton"><a href="#">Send</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</template>