<template name="contact">
<div class="contactdiv div">
    <h2 class="contactlogo">Contact</h2>
    <h3>Interested in doing business, have any comments or questions not answered in the help center. Send us a message and we will try to help</h3>
    <form class="contactform">

        <p class="contactname">
            <input type="text" name="contactname" id="contactname" placeholder="Name" />
        </p>

<!--         <p class="contactemail">
            <input type="text" name="email" id="contactemail" placeholder="Email" />
        </p>		 -->

        <p class="contacttext">
            <textarea name="message" placeholder="Message" class="message"></textarea>
        </p>

        <p class="contactsubmit">
            <button type="button" value="Send" class="send">Send</button>
        </p>
    </form>
</div>
</template>