<template name="faq">
<div class="faqdiv div">
    <h2 class="faqlogo">FAQs</h2>
    <ul>
        <li>
            <h3 class="faqsec">A. Section Heading</h3>
            <ul>
                <li>
                    <h4 class="faqheading">1. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqheading">2. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="faqsec">B. Section Heading</h3>
            <ul>
                <li>
                    <h4 class="faqheading">1. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqheading">2. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="faqsec">C. Section Heading</h3>
            <ul>
                <li>
                    <h4 class="faqheading">1. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqheading">2. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="faqsec">D. Section Heading</h3>
            <ul>
                <li>
                    <h4 class="faqheading">1. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqheading">2. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <li>
            <h3 class="faqsec">E. Section Heading</h3>
            <ul>
                <li>
                    <h4 class="faqheading">1. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqheading">2. This is the Question</h4>
                    <p class="faqpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
    </ul>
    <div class="faqinfo">
        <h3>Still Have Questions?</h3>
        <p>Send us a message at <span class="email">help@spacetrades.com</span></p>
    </div>
</div>
</template>