<template name="buyerfeedback">
<div class="feedbackdiv div">
    <h2 class="feedbacklogo">Feedback</h2>
    <div>
    	<div>
        	<h3>Overall Experience</h3>
        	<p><input type="radio" name="overexp" value="good">Good<input type="radio" name="overexp" value="okay">Okay</p><input type="radio" name="overexp" value="bad">Bad</p>
        </div>
        <div class="feedbackstars">
            <ul>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
            </ul>
        </div>
        <div class="feedbacktext">
            <p>Say More</p>
            <input type="text" class="reportuser" id="reportuser" placeholder="" />
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>

<template name="sellerfeedback">
<div class="feedbackdiv div">
    <h2 class="feedbacklogo">Feedback</h2>
    <div>
        <div>
            <h3>Overall Experience</h3>
            <p><input type="radio" name="overexp" value="good">Good<input type="radio" name="overexp" value="okay">Okay</p><input type="radio" name="overexp" value="bad">Bad</p>
        </div>
        <div class="feedbackstars">
            <ul>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
            </ul>
        </div>
        <div class="feedbacktext">
            <p>Say More</p>
            <input type="text" class="reportuser" id="reportuser" placeholder="" />
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>

<template name="neverfeedback">
<div class="feedbackdiv div">
    <h2 class="feedbacklogo">Feedback</h2>
    <div>
        <div>
            <h3>Overall Experience</h3>
            <p><input type="radio" name="overexp" value="good">Good<input type="radio" name="overexp" value="okay">Okay</p><input type="radio" name="overexp" value="bad">Bad</p>
        </div>
        <div class="feedbackstars">
            <ul>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
            </ul>
        </div>
        <div class="feedbacktext">
            <p>Say More</p>
            <input type="text" class="reportuser" id="reportuser" placeholder="" />
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>