<template name="feedbackspacetrades">
<div class="reportdiv div">
    <h2 class="reportlogo">Reporting</h2>
    <div>
        <h2>Give Us Feedback</h2>
        <div class="reportstars">
            <ul>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
                <li>Question Goes Here?<!-- Stars Go Here --></li>
            </ul>
        </div>
        <div class="reportyes">
            <li>Question Goes Here? <input type="radio" name="#" value="yes">Yes<input type="radio" name="#" value="no">No</li>
            <li>Question Goes Here? <input type="radio" name="#" value="yes">Yes<input type="radio" name="#" value="no">No</li>
            <li>Question Goes Here? <input type="radio" name="#" value="yes">Yes<input type="radio" name="#" value="no">No</li>
            <li>Question Goes Here? <input type="radio" name="#" value="yes">Yes<input type="radio" name="#" value="no">No</li>
        </div>
        <div class="reporttext">
            <p>Description</p>
            <input type="text" class="reportuser" id="reportuser" placeholder="" />
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>