<template name="buyerfeedback"> 
<!-- Questions are oriented to buyer -->
<!-- TASK - Star Ratings - https://css-tricks.com/star-ratings/ -->
<!-- Notification 12 AM  -->
    <div class="feedBackMeetupDiv oneDiv">
        <h2 class="feedBackLogo">Feedback</h2>
        <div class="feedBackForm">
            <div class="feedBackExp">
                <h4>Overall Experience</h4>
                <ul>
                    <li><input type="radio" name="overexp" value="good">Good</li>
                    <li><input type="radio" name="overexp" value="okay">Okay</li>
                    <li><input type="radio" name="overexp" value="bad">Bad</li>
                </ul>
            </div>
            <div class="feedBackStars">
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-1" name="rating-1" value="5" /><label class = "full" for="star5-1"></label>
                    <input type="radio" id="star4half-1" name="rating-1" value="4 and a half" /><label class="half" for="star4half-1"></label>
                    <input type="radio" id="star4-1" name="rating-1" value="4" /><label class = "full" for="star4-1"></label>
                    <input type="radio" id="star3half-1" name="rating-1" value="3 and a half" /><label class="half" for="star3half-1"></label>
                    <input type="radio" id="star3-1" name="rating-1" value="3" /><label class = "full" for="star3-1"></label>
                    <input type="radio" id="star2half-1" name="rating-1" value="2 and a half" /><label class="half" for="star2half-1"></label>
                    <input type="radio" id="star2-1" name="rating-1" value="2" /><label class = "full" for="star2-1"></label>
                    <input type="radio" id="star1half-1" name="rating-1" value="1 and a half" /><label class="half" for="star1half-1"></label>
                    <input type="radio" id="star1-1" name="rating-1" value="1" /><label class = "full" for="star1-1"></label>
                    <input type="radio" id="starhalf-1" name="rating-1" value="half" /><label class="half" for="starhalf-1"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-2" name="rating-2" value="5" /><label class = "full" for="star5-2"></label>
                    <input type="radio" id="star4half-2" name="rating-2" value="4 and a half" /><label class="half" for="star4half-2"></label>
                    <input type="radio" id="star4-2" name="rating-2" value="4" /><label class = "full" for="star4-2"></label>
                    <input type="radio" id="star3half-2" name="rating-2" value="3 and a half" /><label class="half" for="star3half-2"></label>
                    <input type="radio" id="star3-2" name="rating-2" value="3" /><label class = "full" for="star3-2"></label>
                    <input type="radio" id="star2half-2" name="rating-2" value="2 and a half" /><label class="half" for="star2half-2"></label>
                    <input type="radio" id="star2-2" name="rating-2" value="2" /><label class = "full" for="star2-2"></label>
                    <input type="radio" id="star1half-2" name="rating-2" value="1 and a half" /><label class="half" for="star1half-2"></label>
                    <input type="radio" id="star1-2" name="rating-2" value="1" /><label class = "full" for="star1-2"></label>
                    <input type="radio" id="starhalf-2" name="rating-2" value="half" /><label class="half" for="starhalf-2"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-3" name="rating-3" value="5" /><label class = "full" for="star5-3"></label>
                    <input type="radio" id="star4half-3" name="rating-3" value="4 and a half" /><label class="half" for="star4half-3"></label>
                    <input type="radio" id="star4-3" name="rating-3" value="4" /><label class = "full" for="star4-3"></label>
                    <input type="radio" id="star3half-3" name="rating-3" value="3 and a half" /><label class="half" for="star3half-3"></label>
                    <input type="radio" id="star3-3" name="rating-3" value="3" /><label class = "full" for="star3-3"></label>
                    <input type="radio" id="star2half-3" name="rating-3" value="2 and a half" /><label class="half" for="star2half-3"></label>
                    <input type="radio" id="star2-3" name="rating-3" value="2" /><label class = "full" for="star2-3"></label>
                    <input type="radio" id="star1half-3" name="rating-3" value="1 and a half" /><label class="half" for="star1half-3"></label>
                    <input type="radio" id="star1-3" name="rating-3" value="1" /><label class = "full" for="star1-3"></label>
                    <input type="radio" id="starhalf-3" name="rating-3" value="half" /><label class="half" for="starhalf-3"></label>
                </fieldset>
                <br>
            </div>
            <div class="feedBackText">
                <h4>Say More</h4>
                <input type="text" class="reportuser" id="" placeholder="" />
                <button type="button">Submit</button>
            </div>
        </div>
        <div class="feedBackDocs2">
            <ul>
                <li><p>1. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>4. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>5. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
            </ul>
        </div>
    </div>
</template>

<template name="sellerfeedback"> <!-- Questions are oriented to seller -->
    <div class="feedBackMeetupDiv oneDiv">
        <h2 class="feedBackLogo">Feedback</h2>
        <div class="feedBackForm">
            <div class="feedBackExp">
                <h4>Overall Experience</h4>
                <ul>
                    <li><input type="radio" name="overexp" value="good">Good</li>
                    <li><input type="radio" name="overexp" value="okay">Okay</li>
                    <li><input type="radio" name="overexp" value="bad">Bad</li>
                </ul>
            </div>
            <div class="feedBackStars">
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-1" name="rating-1" value="5" /><label class = "full" for="star5-1"></label>
                    <input type="radio" id="star4half-1" name="rating-1" value="4 and a half" /><label class="half" for="star4half-1"></label>
                    <input type="radio" id="star4-1" name="rating-1" value="4" /><label class = "full" for="star4-1"></label>
                    <input type="radio" id="star3half-1" name="rating-1" value="3 and a half" /><label class="half" for="star3half-1"></label>
                    <input type="radio" id="star3-1" name="rating-1" value="3" /><label class = "full" for="star3-1"></label>
                    <input type="radio" id="star2half-1" name="rating-1" value="2 and a half" /><label class="half" for="star2half-1"></label>
                    <input type="radio" id="star2-1" name="rating-1" value="2" /><label class = "full" for="star2-1"></label>
                    <input type="radio" id="star1half-1" name="rating-1" value="1 and a half" /><label class="half" for="star1half-1"></label>
                    <input type="radio" id="star1-1" name="rating-1" value="1" /><label class = "full" for="star1-1"></label>
                    <input type="radio" id="starhalf-1" name="rating-1" value="half" /><label class="half" for="starhalf-1"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-2" name="rating-2" value="5" /><label class = "full" for="star5-2"></label>
                    <input type="radio" id="star4half-2" name="rating-2" value="4 and a half" /><label class="half" for="star4half-2"></label>
                    <input type="radio" id="star4-2" name="rating-2" value="4" /><label class = "full" for="star4-2"></label>
                    <input type="radio" id="star3half-2" name="rating-2" value="3 and a half" /><label class="half" for="star3half-2"></label>
                    <input type="radio" id="star3-2" name="rating-2" value="3" /><label class = "full" for="star3-2"></label>
                    <input type="radio" id="star2half-2" name="rating-2" value="2 and a half" /><label class="half" for="star2half-2"></label>
                    <input type="radio" id="star2-2" name="rating-2" value="2" /><label class = "full" for="star2-2"></label>
                    <input type="radio" id="star1half-2" name="rating-2" value="1 and a half" /><label class="half" for="star1half-2"></label>
                    <input type="radio" id="star1-2" name="rating-2" value="1" /><label class = "full" for="star1-2"></label>
                    <input type="radio" id="starhalf-2" name="rating-2" value="half" /><label class="half" for="starhalf-2"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-3" name="rating-3" value="5" /><label class = "full" for="star5-3"></label>
                    <input type="radio" id="star4half-3" name="rating-3" value="4 and a half" /><label class="half" for="star4half-3"></label>
                    <input type="radio" id="star4-3" name="rating-3" value="4" /><label class = "full" for="star4-3"></label>
                    <input type="radio" id="star3half-3" name="rating-3" value="3 and a half" /><label class="half" for="star3half-3"></label>
                    <input type="radio" id="star3-3" name="rating-3" value="3" /><label class = "full" for="star3-3"></label>
                    <input type="radio" id="star2half-3" name="rating-3" value="2 and a half" /><label class="half" for="star2half-3"></label>
                    <input type="radio" id="star2-3" name="rating-3" value="2" /><label class = "full" for="star2-3"></label>
                    <input type="radio" id="star1half-3" name="rating-3" value="1 and a half" /><label class="half" for="star1half-3"></label>
                    <input type="radio" id="star1-3" name="rating-3" value="1" /><label class = "full" for="star1-3"></label>
                    <input type="radio" id="starhalf-3" name="rating-3" value="half" /><label class="half" for="starhalf-3"></label>
                </fieldset>
                <br>
            </div>
            <div class="feedBackText">
                <h4>Say More</h4>
                <input type="text" class="reportuser" id="" placeholder="" />
                <button type="button">Submit</button>
            </div>
        </div>
        <div class="feedBackDocs2">
            <ul>
                <li><p>1. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>4. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>5. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
            </ul>
        </div>
    </div>
</template>

<template name="neverfeedback"> <!--Stars are not available-->
<div class="feedbackdiv div">
    <div class="feedBackMeetupDiv oneDiv">
        <h2 class="feedBackLogo">Feedback</h2>
        <div class="feedBackForm">
            <div class="feedBackExp">
                <h4>Overall Experience</h4>
                <ul>
                    <li><input type="radio" name="overexp" value="good">Good</li>
                    <li><input type="radio" name="overexp" value="okay">Okay</li>
                    <li><input type="radio" name="overexp" value="bad">Bad</li>
                </ul>
            </div>
            <div class="feedBackStars">
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-1" name="rating-1" value="5" /><label class = "full" for="star5-1"></label>
                    <input type="radio" id="star4half-1" name="rating-1" value="4 and a half" /><label class="half" for="star4half-1"></label>
                    <input type="radio" id="star4-1" name="rating-1" value="4" /><label class = "full" for="star4-1"></label>
                    <input type="radio" id="star3half-1" name="rating-1" value="3 and a half" /><label class="half" for="star3half-1"></label>
                    <input type="radio" id="star3-1" name="rating-1" value="3" /><label class = "full" for="star3-1"></label>
                    <input type="radio" id="star2half-1" name="rating-1" value="2 and a half" /><label class="half" for="star2half-1"></label>
                    <input type="radio" id="star2-1" name="rating-1" value="2" /><label class = "full" for="star2-1"></label>
                    <input type="radio" id="star1half-1" name="rating-1" value="1 and a half" /><label class="half" for="star1half-1"></label>
                    <input type="radio" id="star1-1" name="rating-1" value="1" /><label class = "full" for="star1-1"></label>
                    <input type="radio" id="starhalf-1" name="rating-1" value="half" /><label class="half" for="starhalf-1"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-2" name="rating-2" value="5" /><label class = "full" for="star5-2"></label>
                    <input type="radio" id="star4half-2" name="rating-2" value="4 and a half" /><label class="half" for="star4half-2"></label>
                    <input type="radio" id="star4-2" name="rating-2" value="4" /><label class = "full" for="star4-2"></label>
                    <input type="radio" id="star3half-2" name="rating-2" value="3 and a half" /><label class="half" for="star3half-2"></label>
                    <input type="radio" id="star3-2" name="rating-2" value="3" /><label class = "full" for="star3-2"></label>
                    <input type="radio" id="star2half-2" name="rating-2" value="2 and a half" /><label class="half" for="star2half-2"></label>
                    <input type="radio" id="star2-2" name="rating-2" value="2" /><label class = "full" for="star2-2"></label>
                    <input type="radio" id="star1half-2" name="rating-2" value="1 and a half" /><label class="half" for="star1half-2"></label>
                    <input type="radio" id="star1-2" name="rating-2" value="1" /><label class = "full" for="star1-2"></label>
                    <input type="radio" id="starhalf-2" name="rating-2" value="half" /><label class="half" for="starhalf-2"></label>
                </fieldset>
                <br>
                <h4>Question Goes Here?</h4>
                <fieldset class="rating">
                    <input type="radio" id="star5-3" name="rating-3" value="5" /><label class = "full" for="star5-3"></label>
                    <input type="radio" id="star4half-3" name="rating-3" value="4 and a half" /><label class="half" for="star4half-3"></label>
                    <input type="radio" id="star4-3" name="rating-3" value="4" /><label class = "full" for="star4-3"></label>
                    <input type="radio" id="star3half-3" name="rating-3" value="3 and a half" /><label class="half" for="star3half-3"></label>
                    <input type="radio" id="star3-3" name="rating-3" value="3" /><label class = "full" for="star3-3"></label>
                    <input type="radio" id="star2half-3" name="rating-3" value="2 and a half" /><label class="half" for="star2half-3"></label>
                    <input type="radio" id="star2-3" name="rating-3" value="2" /><label class = "full" for="star2-3"></label>
                    <input type="radio" id="star1half-3" name="rating-3" value="1 and a half" /><label class="half" for="star1half-3"></label>
                    <input type="radio" id="star1-3" name="rating-3" value="1" /><label class = "full" for="star1-3"></label>
                    <input type="radio" id="starhalf-3" name="rating-3" value="half" /><label class="half" for="starhalf-3"></label>
                </fieldset>
                <br>
            </div>
            <div class="feedBackText">
                <h4>Say More</h4>
                <textarea class="listdescription" placeholder="Briefly explain any other information helpful to buyers"></textarea>
                <input type="submit" class="add ph-button" value="Submit">
            </div>
        </div>
        <div class="feedBackDocs2">
            <ul>
                <li><p>1. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>4. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
                <li><p>5. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</p></li>
            </ul>
        </div>
    </div>
</div>
</template>