<template name="feedbackinitial">
<div class="feedbackdiv div">
    <h2 class="feedbacklogo">Feedback</h2>
    <h2>How Did The Meetup Go?</h2>
    <div class="feedbackoptions">
        <ul>
            <li><a href="#">Well</a></li>
            <li><a href="#">Not Well</a></li>
            <li><a href="#">Did Not Happen</a></li>
        </ul>
    </div>
    <div class="feedbackinfo">
        <ul>
            <li>1. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
            <li>2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
            <li>3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
        </ul>
    </div>
</div>
</template>