<footer>
    <ul class="foot">
        <ul class="footitems">
            <li><h6 class="footitem"><a href="#" class="foota">About</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Help</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">FAQ</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Terms &amp; Privacy</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Safety</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Advertise</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Buying</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Selling</a></h6></li>
            <li><h6 class="footitem"><a href="#" class="foota">Contact</a></h6></li>
            <p class="copyright">&copy; 2015 SpaceTrades</p>
        </ul>
    </ul>    
</footer>