<template name="headerpost">
    <nav class="headerNav headerPost">
        <ul class="headerSearch">
            <li><a href="/" class="headerNavLogo">SpaceTrades</a></li>
            <li><input type="search" class="headerNavSearch" id="headerNavSearch" placeholder="Brand, Name, Size, Price&hellip;" /></li>
            <li><a href="/search" class="headerNavSearchButton">Search</a></li>   
        </ul>
        <ul class="headerBigCat">
            <li class="headerDropDown">
                <a href="#">Categories</a>
                <ul class="headerDropDownNav">
                    <li><a href="#">Apparel</a></li>
                    <li><a href="#">Electronics</a></li>
                    <li><a href="#">Shoes</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </li>
        </ul>
        <ul class="headerNameOptions">
            <li>
                <a href="/profile">
                    <img src="http://microlancer.lancerassets.com/assets/placeholder/60x60_user_avatar-9430f08439593cd390e188f13919d5e0.png">
                    <span>{{usernameCurrent}}</span>
                </a>
            </li>
        </ul>
        <ul class="headerHomeButton">
            <li><a href="/">Home</a></li>
        </ul>
        <ul class="headerPostOptions headerLine">
            <li class="headerDropDown">
                <a href="#"><i class="fa fa-bars"></i></a>
                <ul class="headerDropDownNav">
                    <li><a href="/add">Add Listing</a></li>
                    <li><a href="/store">Your Store</a></li>
                    <li><a href="/saved">Saved Items</a></li>
                    <li><a href="/history">History</a></li>
                    <li><a href="profile/settings">Account Settings</a></li>
                    <!-- ex user/history  -->
                </ul>
            </li>
            <li class="headerDropDown">
                <a href="#"><i class="fa fa-globe"></i></a>
                <ul class="headerDropDownNav">
                    <li><a href="#">Offer From Jack</a></li>
                    <li><a href="#">Offer Accepted By Paul</a></li>
                    <li><a href="#">Your Listing Expired</a></li>
                    <li><a href="#">Saved Listing Ended</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            <li class="headerDropDown">
                <a href="#"><i class="fa fa-caret-square-o-down"></i></a>
                <ul class="headerDropDownNav">
                    <li><a href="/help">Help Center</a></li>
                    <li><a href="/advertise">Advertise</a></li>
                    <li><a href="/help/report">Report</a></li>
                    <li><a href="#" class="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</template>
