<template name="homeheaderpre">
    <nav class="headerNav headerHomePost">
        <ul class="headerCat">
            <li class="headerDropDown hoverDropDown">
                <a href="#">Apparel</a>
                <ul class="headerDropDownNav Apparel">
                    <li><a href="/search" class="catShirts">Shirt</a></li>
                    <li><a href="/search" class="catHoodies">Hoodie</a></li>
                    <li><a href="/search" class="catPants">Pants</a></li>
                    <li><a href="/search" class="catJacket">Jacket</a></li>
                    <li><a href="/search" class="catJeans">Jeans</a></li>
                    <li><a href="/search" class="catShorts">Shorts</a></li>
                </ul>
            </li>
            <li class="headerDropDown hoverDropDown">
                <a href="#">Electronics</a>
                <ul class="headerDropDownNav Electronics">
                    <li><a href="/search" class="catPhones">Phones</a></li>
                    <li><a href="/search" class="catTablets">Tablets</a></li>
                    <li><a href="/search" class="catComputers">Computers</a></li>
                    <li><a href="/search" class="catTvs">TV's</a></li>
                    <li><a href="/search" class="catHeadphones">Headphones</a></li>
                </ul>
            </li>
            <li class="headerDropDown hoverDropDown">
                <a href="#">Sneakers</a>
                <ul class="headerDropDownNav Shoes">
                    <li><a href="/search" class="catAsics">Asics</a></li>
                    <li><a href="/search" class="catAddidas">Addidas</a></li>
                    <li><a href="/search" class="catConverse">Converse</a></li>
                    <li><a href="/search" class="catNike">Nike</a></li>
                    <li><a href="/search" class="catJordan">Jordan</a></li>
                </ul>
            </li>
            <li class="headerNotDrop"><a>Other</a></li>
            <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
        </ul>
        <ul class="headerAuth">
            <li><a href="/register">Join</a></li>
            <li><a href="#" class="login">Login</a></li>
        </ul>
    </nav>
    <h1 class="logo">SpaceTrades</h1>
    <div class="searchfield job">
       <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
      <a href="/search" class="homesearchbtn">Search</a>
</div>
</template>