<template name="headerpre">
    <nav class="headerNav headerPre">
        <ul class="headerSearch">
            <li><a href="/" class="headerNavLogo">SpaceTrades</a></li>
            <li><input type="search" class="headerNavSearch" id="headerNavSearch" placeholder="Brand, Name, Size, Price&hellip;" /></li>
            <li><a href="/search" class="headerNavSearchButton">Search</a></li>   
        </ul>
        <ul class="headerCat">
            <li class="headerDropDown">
                <a href="#">Apparel</a>
                <ul class="headerDropDownNav">
                    <li><a href="#" class="catBags">Bags</a></li>
                    <li><a href="#" class="catBelts">Belts</a></li>
                    <li><a href="#" class="catHoodies">Hoodies</a></li>
                    <li><a href="#" class="catJackets">Jackets</a></li>
                    <li><a href="#" class="catJeans">Jeans</a></li>
                    <li><a href="#" class="catShorts">Shorts</a></li>
                    <li><a href="#" class="catTees">Tees</a></li>
                    <li><a href="#" class="catOther">Other</a></li>
                </ul>
            </li>
            <li class="headerDropDown">
                <a href="#">Electronics</a>
                <ul class="headerDropDownNav">
                    <li><a href="#" class="catPhones">Phones</a></li>
                    <li><a href="#" class="catTablets">Tablets</a></li>
                    <li><a href="#" class="catComputers">Computers</a></li>
                    <li><a href="#" class="catGames">Games</a></li>
                    <li><a href="#" class="catHeadphones">Headphones</a></li>
                    <li><a href="#" class="catOther">Other</a></li>
                </ul>
            </li>
            <li class="headerDropDown">
                <a href="#">Shoes</a>
                <ul class="headerDropDownNav">
                    <li><a href="#" class="catAsics">Asics</a></li>
                    <li><a href="#" class="catAddida">Addidas</a></li>
                    <li><a href="#" class="catConverse">Converse</a></li>
                    <li><a href="#" class="catNike">Nike</a></li>
                    <li><a href="#" class="catJordan">Jordan</a></li>
                    <li><a href="#" class="catOther">Other</a></li>
                </ul>
            </li>
            <li class="headerNotDrop Other"><a href="#">Other</a></li>
        </ul>
        <ul class="headerAuth">
            <li><a href="/register">Join</a></li>
            <li><a href="#" class="login">Login</a></li>
        </ul>
    </nav>
</template>