<template name="homeheaderpre">
    <nav class="headerNav headerHomePost">
        <ul class="headerCat">
            <li class="headerDropDown">
                <a href="#">Apparel</a>
                <ul class="headerDropDownNav">
                    <li><a href="#">Tees</a></li>
                    <li><a href="#">Hoodies</a></li>
                    <li><a href="#">Jackets</a></li>
                    <li><a href="#">Jeans</a></li>
                    <li><a href="#">Shorts</a></li>
                </ul>
            </li>
            <li class="headerDropDown">
                <a href="#">Electronics</a>
                <ul class="headerDropDownNav">
                    <li><a href="#">Phones</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Computers</a></li>
                    <li><a href="#">TV's</a></li>
                    <li><a href="#">Headphones</a></li>
                </ul>
            </li>
            <li class="headerDropDown">
                <a href="#">Shoes</a>
                <ul class="headerDropDownNav">
                    <li><a href="#">Asics</a></li>
                    <li><a href="#">Addidas</a></li>
                    <li><a href="#">Converse</a></li>
                    <li><a href="#">Nike</a></li>
                    <li><a href="#">Jordan</a></li>
                </ul>
            </li>
            <li class="headerNotDrop"><a>Other</a></li>
        </ul>
        <ul class="headerAuth">
            <li><a href="/register">Join</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </nav>
</template>