<template name="headersearchpre">
    <nav class="mainnav">
        <ul class="navsearch">
            <li><a href="/" class="navlogo">SpaceTrades</a></li>
            <li><span class="navsicon"><i class="fa fa-search"></i></span></li>
            <li><input type="search" class="navsearchf" id="navsearchf" placeholder="Brand, Name, Size, Price..." /></li>
            <li><a href="#" class="navsearchbtn">Search</a></li>
        </ul>
        <ul class="navdropdown">
            <li class="navdrop"><a href="#" class="navitem">Apparel</a></li>
            <li class="navdrop"><a href="#" class="navitem">Electronics</a></li>
            <li class="navdrop"><a href="#" class="navitem">Shoes</a></li>
            <li class="navdrop"><a href="#" class="navitem">Other</a></li>
        </ul>
        <ul class="navverify">
            <li class="navbox"><a href="#" class="navitem join">Join</a></li>
            <li class="navbox"><a href="#" class="navitem login">Login</a></li>
        </ul>
    </nav>
    <div class="searchfield searchfield2">
        {{> esInput index="listing" id="search search2" class="search search2" placeholder="Brand, Name, Neighborhood, Size, Price..."}}
        <a href="#" class="homesearchbtn">Search</a>
    </div>
    <div>
    {{#esEach index="listing"}}
            <li>Name of the player: {{listing_name}}</li>
    {{/esEach}}

    {{#ifEsIsSearching index="listing" logic="OR" }}
        <div>Searching...</div>
    {{/ifEsIsSearching}}

    {{#ifEsInputIsEmpty index="listing" }}
        Start searching!
    {{/ifEsInputIsEmpty}}       

    {{#ifEsHasNoResults index="listing" id="search" logic="OR" }}
            <div class="no-results">No results found!</div>
    {{/ifEsHasNoResults}}
    </div>	    
</template>