<template name="headerpre">
    <nav class="headerNav headerPre">
        <nav class="headerNavMax">
            <ul class="headerSearch">
                <li class="headerSearchRadiusLogo headerSearchNavLogo"><a href="/">SpaceTrades</a></li>
                <li class="headerSearchNavField">
                    <i class="fa fa-search"></i>
                    <input type="search" class="headerNavSearch headerSearchNav" id="headerNavSearch" placeholder="Search&hellip;" />
                    <!-- <li><a href="/search" class="headerNavSearchButton">Search</a></li> -->
                </li>  
            </ul>
            <ul class="headerCat">
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Apparel</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="#" class="catBags">Bags</a></li>
                        <li><a href="#" class="catBelts">Belts</a></li>
                        <li><a href="#" class="catHoodies">Hoodies</a></li>
                        <li><a href="#" class="catJackets">Jackets</a></li>
                        <li><a href="#" class="catJeans">Jeans</a></li>
                        <li><a href="#" class="catShorts">Shorts</a></li>
                        <li><a href="#" class="catTees">Tees</a></li>
                        <li><a href="#" class="catOther">Other</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Electronics</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="#" class="catPhones">Phones</a></li>
                        <li><a href="#" class="catTablets">Tablets</a></li>
                        <li><a href="#" class="catComputers">Computers</a></li>
                        <li><a href="#" class="catGames">Games</a></li>
                        <li><a href="#" class="catHeadphones">Headphones</a></li>
                        <li><a href="#" class="catOther">Other</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Shoes</span>
                    <ul class="headerDropDownNav hoverDropDown Shoes">
                        <li><a href="/search" class="catAsics">Asics</a></li>
                        <li><a href="/search" class="catAddidas">Addidas</a></li>
                        <li><a href="/search" class="catConverse">Converse</a></li>
                        <li><a href="/search" class="catNike">Nike</a></li>
                        <li><a href="/search" class="catJordan">Jordan</a></li>
                    </ul>
                </li>
                <li class="headerNotDrop"><a href="#">Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><a href="/register">Join</a></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </nav>
</template>