<template name="headerpre">
    <nav class="headerNav headerPre">
        <nav class="headerNavMax">
            <ul class="headerSearch">
                <li class="headerSearchRadiusLogo headerSearchNavLogo"><a href="/">SpaceTrades</a></li>
                <li class="headerSearchNavField">
                    <i class="fa fa-search"></i>
                    <input type="search" class="headerNavSearch headerSearchNav" id="headerNavSearch" placeholder="Search&hellip;" />
                    <!-- <li><a href="/search" class="headerNavSearchButton">Search</a></li> -->
                </li>  
            </ul>
            <ul class="headerCat">
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Apparel</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="#" class="catBags">Bape</a></li>
                        <li><a href="#" class="catBelts">Supreme</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Electronics</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="/search">Apple</a></li>
                        <li><a href="/search">Asus</a></li>
                        <li><a href="/search">Beats by Dr. Dre</a></li>
                        <li><a href="/search">Blackberry</a></li>
                        <li><a href="/search">Bose</a></li>
                        <li><a href="/search">Cannon</a></li>
                        <li><a href="/search">Dell</a></li>
                        <li><a href="/search">Go Pro</a></li>
                        <li><a href="/search">Google</a></li>
                        <li><a href="/search">HP</a></li>
                        <li><a href="/search">Lenovo</a></li>
                        <li><a href="/search">Logitech</a></li>
                        <li><a href="/search">Microsoft</a></li>
                        <li><a href="/search">Nikon</a></li>
                        <li><a href="/search">Nintendo</a></li>
                        <li><a href="/search">Panasonic</a></li>
                        <li><a href="/search">Samsung</a></li>
                        <li><a href="/search">Sandisk</a></li>
                        <li><a href="/search">Sharp</a></li>
                        <li><a href="/search">Sony</a></li>
                        <li><a href="/search">Turtle Beach</a></li>
                        <li><a href="/search">Vizio</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Shoes</span>
                    <ul class="headerDropDownNav hoverDropDown Shoes">
                    <li><a href="/search">Asics</a></li>
                    <li><a href="/search">Jordan</a></li>
                    <li><a href="/search">Converse</a></li>
                    <li><a href="/search">Ewing Athletics</a></li>
                    <li><a href="/search">Fila</a></li>
                    <li><a href="/search">Li Ning</a></li>
                    <li><a href="/search">New Balance</a></li>
                    <li><a href="/search">Nike</a></li>
                    <li><a href="/search">Puma</a></li>
                    <li><a href="/search">Radii</a></li>
                    <li><a href="/search">Reebok</a></li>
                    <li><a href="/search">Saucony</a></li>
                    <li><a href="/search">Sperry</a></li>
                    <li><a href="/search">Supra</a></li>
                    <li><a href="/search">Timberland</a></li>
                    <li><a href="/search">Toms</a></li>
                    <li><a href="/search">Vans</a></li>
                    <li><a href="/search">Under Armour</a></li>
                    </ul>
                </li>
                <li class="headerNotDrop"><a href="#">Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><a href="/register">Join</a></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </nav>
</template>