<template name="headerpre">
<nav class="mainnav">
    <ul class="navsearch">
        <li><a href="/" class="navlogo">SpaceTrades</a></li>
        <li><span class="navsicon"><i class="fa fa-search"></i></span></li>
        <li><input type="search" class="navsearchf" id="navsearchf" placeholder="Brand, Name, Size, Price..." /></li>
    </ul>
    <ul class="navdropdown">
        <li class="navdrop"><a href="#" class="navitem">Apparel</a></li>
        <li class="navdrop"><a href="#" class="navitem">Electronics</a></li>
        <li class="navdrop"><a href="#" class="navitem">Shoes</a></li>
        <li class="navdrop"><a href="#" class="navitem">Other</a></li>
    </ul>
    <ul class="navverify">
        <li class="navbox"><a href="#" class="navitem">Join</a></li>
        <li class="navbox"><a href="#" class="navitem">Login</a></li>
    </ul>
</nav>	
</template>

<div class="login-text-and-button">
    <div class="login-button single-login-button configure-button" id="login-buttons-facebook">
      
        <span class="text-besides-image configure-text-facebook">Configure Facebook Login</span>
      
    </div>
  </div>