<template name="homeheaderpost">
    <nav class="headerNav headerPost">
        <nav class="headerNavMax">
            <ul class="headerBigCat">
                <li class="headerDropDown hoverDropDown">
                    <a href="#">Categories</a>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="/search" class="catApparel">Apparel</a></li>
                        <li><a href="/search" class="catElectronics">Electronics</a></li>
                        <li><a href="/search" class="catShoes">Shoes</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="headerNameOptions">
                <li>
                    <a href="/profile/{{profile}}">
                        <img src="{{picturesmall}}">
                        <span class="headerUsername">{{usernameCurrent}}</span>
                    </a>
                </li>
            </ul>
            <ul class="headerHomeButton">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="headerPostOptions headerLine">
                <li class="headerDropDown navGlobal">
                    <a href="#"><i class="fa fa-bars"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="/add" class="addListing"><i class="fa fa-plus-circle"></i>Add Listing</a></li>
                        <li><a href="/profile/offers">Sent Offers</a></li>
                        <li><a href="/profile/listings">Your Listings</a></li>
                        <li><a href="/profile/saved">Saved Products</a></li>
                        <li><a href="/profile/history">History</a></li>
                        <li><a href="/profile/settings">Settings</a></li>
                        <!-- ex user/history  -->
                    </ul>
                </li>
                <li class="headerDropDown">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Offer From Jack</a></li>
                        <li><a href="#">Offer Accepted By Paul</a></li>
                        <li><a href="#">Your Listing Expired</a></li>
                        <li><a href="#">Saved Listing Ended</a></li>
                    </ul>
                </li> 
                <li class="headerDropDown">
                    <a href="#"><i class="fa fa-comments"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                    </ul>
                </li> 
                <li class="headerDropDown navGeneral">
                    <a href="#"><i class="fa fa-caret-square-o-down"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="/help">Help Center</a></li>
                        <li><a href="/advertise">Advertise</a></li>
                        <li><a href="/help/report">Report</a></li>
                        <li><a href="#" class="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
    <h1 class="logo">SpaceTrades</h1>
    <div class="searchfield job">
       <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
      <a href="/search" class="homesearchbtn">Search</a>
</div>

</template>