<template name="homeheaderpost">
    <nav class="mainnav">
        <ul class="navcat">
            <li><a href="#" class="navitem">Categories</a></li>
        </ul>
        <ul class="navprofile">
            <li><a href="/profile/{{profile}}" class="navusername"><span>{{usernameCurrent}}</span></a></li>
            <li><a href="/" class="navhome">Home</a></li>
            <li>
            {{#dropdownTrigger name="global" class="drops" }}
            <i class="navbarsdown navfa navfai fa fa-bars"></i>
            {{/dropdownTrigger}}

             {{#dropdown name="global"}}
                  <ul>
                      <li><a href="/add"><span class="dropdownitem">Add Listing</span></a></li>
                      <li><a href="/meetuprequest"><span class="dropdownitem">Meetup Request Manager</span></a></li>
                      <li><a href="/profile/listing"><span class="dropdownitem">Listing Manager</span></a></li>
                      <li><a href="/request"><span class="dropdownitem">Meetup History</span></a></li>
                      <li><a href="/profile/settings"><span class="dropdownitem">Account Settings</span></a></li>
                  </ul>
              {{/dropdown}}

            </li>
                <!-- <ul>
                <li><a href="#" class="addlisting">Add Listing</a></li>
            </ul> -->
            <li>
                {{#dropdownTrigger name="notifications"}}
               <i class="navbarsdown navfa navfai fa fa-globe dropdown__trigger"></i>
                {{/dropdownTrigger}}

                {{#dropdown name="notifications"}}
                  <ul>
                      <li><a href="/activities"><span class="dropdownitem">Offer for Nike Infrared</span></a></li>
                      <li><a href="/meetuprequest"><span class="dropdownitem">Yusuf</span></a></li>
                      <li><a href="/profile/listing"><span class="dropdownitem">Topalov</span></a></li>
                      <li><a href="/request"><span class="dropdownitem">Carlsen</span></a></li>
                      <li><a href="/profile/settings"><span class="dropdownitem">Vishy</span></a></li>
                  </ul>
              {{/dropdown}}

          </li>

          <li>
          <a href="https://www.facebook.com/messages/other/" target="_blank">
          <i class="fa fa-envelope dropdown__trigger"></i>
          </a>
          </li>

          <li>
           {{#dropdownTrigger name="general" }}
          <i class="navbarsdown navdown navfa navfai fa fa-sort-down dropdown__trigger"></i>
          {{/dropdownTrigger}}

          {{#dropdown name="general"}}
                  <ul>
                      <li><a href="/report"><span class="dropdownitem">Reporting</span></a></li>
                      <li><a href="/help"><span class="dropdownitem">Help Center</span></a></li>
                      <li><a href="/advertise"><span class="dropdownitem">Advertising</span></a></li>
                      <li><a href="#"><span class="dropdownitem logout">Logout</span></a></li>
                  </ul>
          {{/dropdown}}
          </li>
      </ul>
  </nav>
  <h1 class="logo">SpaceTrades</h1>
  <div class="searchfield job">
     <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
    <a href="/search" class="homesearchbtn">Search</a>
</div>

</template>