<template name="headersearchpre">
    <nav class="headerNav headerPre">
        <nav class="headerNavMax">
            <ul class="headerSearch">
                <li><a href="/" class="headerNavLogo">SpaceTrades</a></li>
            </ul>
            <ul class="headerCat">
                <li class="headerDropDown hoverDropDown">
                    <a href="#">Apparel</a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Bags</a></li>
                        <li><a href="#">Belts</a></li>
                        <li><a href="#">Hoodies</a></li>
                        <li><a href="#">Jackets</a></li>
                        <li><a href="#">Jeans</a></li>
                        <li><a href="#">Shorts</a></li>
                        <li><a href="#">Tees</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown">
                    <a href="#">Electronics</a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Phones</a></li>
                        <li><a href="#">Tablets</a></li>
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Headphones</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown">
                    <a href="#">Shoes</a>
                    <ul class="headerDropDownNav Shoes">
                        <li><a href="/search" class="catAsics">Asics</a></li>
                        <li><a href="/search" class="catAddidas">Addidas</a></li>
                        <li><a href="/search" class="catConverse">Converse</a></li>
                        <li><a href="/search" class="catNike">Nike</a></li>
                        <li><a href="/search" class="catJordan">Jordan</a></li>
                    </ul>
                </li>
                <li class="headerNotDrop"><a>Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><a href="/register">Join</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </nav>
 <!--    <div class="searchfield searchfield2">
        <input type="text" class="search search2" placeholder="Brand, Name, Neighborhood, Size, Price...">
        <a href="/search" class="homesearchbtn">Search</a>
    </div> -->
    <div>
    </div>	    
</template>