<template name="headerpost">
<nav class="mainnav">
    <ul class="navsearch">
        <li><a href="#" class="navlogo">SpaceTrades</a></li>
        <li><span class="navsicon"><i class="fa fa-search"></i></span></li>
        <li><input type="search" class="navsearchf" id="navsearchf" placeholder="Brand, Name, Size, Price..." /></li>
    </ul>
    <ul class="navcat">
        <li><a href="#" class="navitem">Categories</a></li>
    </ul>
    <ul class="navprofile">
        <li><a href="#" class="navusername"><span>Steve</span></a></li>
        <li><a href="#" class="navhome">Home</a></li>
        <li><a href="#" class="navbarsdown navfa navfai"><i class="fa fa-bars"></i></a></li>
        <li><a href="#" class="navnotif navfa navfai"><i class="fa fa-globe"></i></a></li>
        <li><a href="#" class="navmess navfa navfai"><i class="fa fa-envelope"></i></a></li>
        <li><a href="#" class="navdown navfa"><i class="fa fa-sort-down"></i></a></li>
    </ul>
</nav>
</template>