<template name="advertise">
<div class="advertisediv div">
    <h2>Advertise With SpaceTrades</h2>
    <div class="advertiseimgone">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        <img src="#">
    </div>
    <div class="advertiseplone">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
    </div>
    <div class="advertiseimgtwo">
        <img src="#">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
    </div>
</div>
</template>