<template name="contact">
    <div class="contactdiv oneDiv">
        <h2 class="contactlogo">Contact</h2>
        <p class="helpPagesPar">Interested to get in touch with us.
           Have any comments or questions not answered our the help center.
           Don't hesitate to send us a message
        </p>
        <form class="contactform">
            <p class="contactname">
                <input type="text" name="contactname" id="contactname" placeholder="Name" />
            </p>
            <p class="contacttext">
                <textarea name="message" placeholder="Message" class="message"></textarea>
            </p>
            <p class="contactsubmit">
                <button type="button" value="Send" class="send">Send</button>
            </p>
        </form>
        <div class="sent">
            <h2>Message Sent</h2>
            <p>We will respond as soon as we can</p>
        </div>
    </div>
</template>