<template name="reporting">
<div class="reportdiv oneDiv">
    <h2 class="reportlogo">Report</h2>
    <ul>
        <li>
            <h4 class="reportheading">Report Listing</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>

            <h4 class="reportheading">Report User</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
    </ul>
</div>
</template>