<template name="LayoutHelp">
    {{> homeheaderpre}}
    {{> HelpCenterNav}}
    {{> yield}}
</template>

<template name="help">
<div class="helpdiv div">
    <h3 class="helpwel">Welcome to the Help Center</h3>
    <p class="helppar">Here you can find what we're all about, get answers to questions, read safety tips, find our privacy policy, and terms &amp; conditions. If you can't find what your looking for, don't hesitate to send us a message on the <a href="/help/contact">Contact</a> page!</p>
    <div class="sred"></div>
</div>
</template>