<template name="reporting">
<div class="reportdiv oneDiv">
{{#markdown}}
## Report a Listing
1. Go to the listing page and access the options dropdown in the top left corner.

2. Click the report button in the dropdown.

3. Continue by answering the prompted questions on the Report listing page.


## Report a User
1. Go to the users profile page and access the options dropdown in the top left corner.

2. Click the report button in the dropdown.

3. Continue by answering the prompted questions on the Report listing page.

{{/markdown}}
</div>
<div class="faqinfo">
<h3>Still Have Questions?</h3>
<p>Send us a message at <span class="email">help@spacetrades.com</span></p>
</div>
</template>
