<template name="HelpCenterNav">
<div class="helpcenternav oneDiv">
    <nav class="helpnav">
        <ul class="helplogol">
            <a href="/help"><h2 class="helplogo">Help Center</h2></a>
        </ul>
        <ul class="helpiteml">
            <li><a href="/help/about" class="helpitem">About</a></li>
            <li><a href="/help/faq" class="helpitem">FAQ</a></li>
            <li><a href="/help/safety" class="helpitem">Safety</a></li>
            <li><a href="/help/privacy" class="helpitem">Privacy &amp; Terms</a></li>
            <li><a href="/help/contact" class="helpitem">Contact</a></li>
        </ul>
    </nav>
</div>
</template>