<template name="helpcenternav">
<div class="helpcenternav div">
    <nav class="helpnav">
        <ul class="helplogol">
            <h2 class="helplogo">Help Center</h2>
        </ul>
        <ul class="helpiteml">
            <li><a class="helpitem">About</a></li>
            <li><a class="helpitem">Buying</a></li>
            <li><a class="helpitem">Selling</a></li>
            <li><a class="helpitem">FAQ</a></li>
            <li><a class="helpitem">Safety</a></li>
            <li><a class="helpitem">Privacy &amp; Terms</a></li>
            <li><a class="helpitem">Contact</a></li>
        </ul>
    </nav>
</div>
</template>