<template name="about">
<div class="aboutDiv oneDiv">
    <h2 class="helpPagesLogo">About</h2>
    <ul class="helpAboutUl">
        <li> <p class="helpPagesPar">SpaceTrades helps people meet up for buying and selling</p></li>
        <li>
            <ul>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
            </ul>
        </li>


        <!-- Shoe Icon, Clothes Icon, Electronics Icon -->
        <li><p class="helpPagesPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna elit, hendrerit a tincidunt eu, molestie sit amet ante. In eget eros bibendum, ullamcorper erat id, convallis est. Aenean lorem leo, varius sed dui nec, ullamcorper pulvinar quam. Praesent lobortis nulla et justo dignissim aliquam. Praesent vel purus euismod, condimentum orci ac, vestibulum lacus. Vivamus pretium lacus quis pharetra consequat. Suspendisse potenti. Aenean sit amet libero ut enim pharetra hendrerit. Proin at purus fermentum, laoreet quam vitae, interdum nisl. Praesent interdum ligula a ante pellentesque luctus. Donec ornare malesuada tellus at accumsan.</p></li>
    </ul>
</div>
</template>
<!-- We want video here and possibly nice 3 image pair briefly describing usage -->