<template name="safety">
    <div class="safetydiv oneDiv">
    {{#markdown}}
## Safety

### 1. Don't Reveal Sensitive Personal Information
Never reveal information that is unrelated to the meetup that the other party doesn't need to know.

### 2. Only Meet During the Day
It's a good idea to meet only in the daytime when more people are outside.

### 3. Always Meet in a Public Place
Never agree to meet in a secluded place where there are not any other people present.

### 4. Be Especially Mindful When Trading High Value Items
The higher the price of things, the greater the risk of something going wrong.

### 5. Consider Having a Friend Accompany You
It's a good idea to have a friend or trusted person accompany you to your meetup.

{{/markdown}}
</div>
<div class="faqinfo">
    <h3>Still Have Questions?</h3>
    <p>Send us a message at <span class="email">help@spacetrades.com</span></p>
</div>
</template>