<template name="faq">
<div class="faqdiv div">
{{#markdown}}
## How does it all work?
The process is very similar to Facebook or Instagram Buying and Selling. 
### 1. Initial Stage
The Seller creates a new listing and fills out all the necessary information regarding the product or products they are listing. This product or these products are featured on the homepage until another user adds his or her own listing. 
### 2. Message Stage 
The Seller awaits messages from interested Buyers. When a Buyer views an item they potentially want to buy, they may contact the seller through the connected Facebook messenger. 
### 3. Offer Stage </b>
The Buyer and Seller decide on <span class="meetupitems">price, date, time, and the location</span> of there future meetup. Once they have decided on these details, the Buyer sends the Seller an Offer from the listing's item page. The meetup request has the following options: price, location, date, time, and any trade items if applicable. Once the Seller accepts the meetup request, the meetup has been initiated.
### 4. Post Meetup Feedback Stage
After the meetup time has passed, both parties will receive a notification with a pending review. From here the feedback system kicks in. Each member of the meetup has the oppurtunity to review each other. This feedback is saved to users profiles for future reference.

## Do I need to provide a credit card, paypal account...etc?
No. SpaceTrades may include online payment systems in the future but currently payment is stricty cash only at the meetup. This is arguably much safer for both parties of a meetup as it denies one member of meetup, the ability to scam the other without any meetup aving occured at all.

## Can I create an account without Facebook?

No. SpaceTrades requires all users to use Facebook in account creation in order to maintain the Honest and secure atmosphere within spacetrades. Allowing users to make accounts without any grounding like Facebook allows harmful users to make accounts once to scam someoene and then never use that account again.

## Can I suggest something for the site or just give general feedback?

Yes of course. <a href="/help/contact">Contact Us </a>

## Why did my account get banned?

## How can I solve my low stars?
If it 

## I had issues during a meetup, what should I do now?
Make sure to fill out the Post Meetup Feedback form completely and accurately. 

<!-- 
I want bootstrap-esque popover for entries such as the meetup items class.
When the user hovers over each one, significant info should be displayed. This capability should exist across the entire app. EX: Date will have popover like this ( The Month, day and year of the meetup. Time of the meetup is optional but reccomended). We want users to recognize certain blocks of texts or keywords not just as text but as keywords / functionality of ST
 -->
<div class="faqinfo">
<h3>Still Have Questions?</h3>
<p>Send us a message at <span class="email">help@spacetrades.com</span></p>
</div>
{{/markdown}}
</div>
</template>