<template name="contact">
    <div class="contactdiv div">
        <h2 class="contactlogo">Contact</h2>
        <p>Interested in getting in touch with us.
           Have any comments or questions not answered in the help center.
           Send us a message</p>
           <form class="contactform">

            <p class="contactname">
                <input type="text" name="contactname" id="contactname" placeholder="Name" />
            </p>

<!--         <p class="contactemail">
            <input type="text" name="email" id="contactemail" placeholder="Email" />
        </p>		 -->

        <p class="contacttext">
            <textarea name="message" placeholder="Message" class="message"></textarea>
        </p>

        <p class="contactsubmit">
            <button type="button" value="Send" class="send">Send</button>
        </p>
    </form>
    <div class="sent">
    <p><h2>Message Sent</h2></p>
    <p>We will respond as soon as we can</p>
    </div>
</div>
</template>