<template name="help">
<!-- TASK - Implement Bootstrap Collapse JS for facebook like question dropdowns -->
<div class="helpDiv oneDiv">
    <h3 class="helpIntro">Welcome to the Help Center</h3>
    <p class="helpPagesPar">Here you can find answers to common questions, review vital safety principles, check the Privacy and Terms policy and Contact us</p>
    <ul class="helpImgUl">
        <li><img src="http://previews.123rf.com/images/apostrophe/apostrophe1403/apostrophe140300013/26540708-bright-yellow-background-solid-color-primary-image-with-soft-vintage-grunge-background-texture-desig-Stock-Photo.jpg" class="aboutImg"></li>
        <li><img src="http://previews.123rf.com/images/apostrophe/apostrophe1403/apostrophe140300013/26540708-bright-yellow-background-solid-color-primary-image-with-soft-vintage-grunge-background-texture-desig-Stock-Photo.jpg" class="aboutImg"></li>
        <li><img src="http://previews.123rf.com/images/apostrophe/apostrophe1403/apostrophe140300013/26540708-bright-yellow-background-solid-color-primary-image-with-soft-vintage-grunge-background-texture-desig-Stock-Photo.jpg" class="aboutImg"></li>
    </ul>
    <div class="helpCenterThree">
    	<ul class="helpThree">
    		<li>
    			<ul>
    				<li><h3>Get Answers</h3></li>
                    <li>If you have any questions, spend some time on the <a href="">FAQs</a> page to find the answers, or shoot us a <a href="">message</a> and we'll get back to you soon</li>
    			</ul>
    		</li>
    		<li>
    			<ul>
    				<li><h3>Review Safety Information</h3></li>
                    <li>Safety is our #1 priority. Meetups were traditionally considered scary, but SpaceTrades took care of that. Meetups through SpaceTrades are safe, just be sure to check out out <a href="">safety</a> page for some advice</li>
    			</ul>
    		</li>
    		<li>
    			<ul>
    				<li><h3>View Terms and Conditions</h3></li>
                    <li>To use our service, you must confine to certain <a href="">Terms &amp; Conditions,</a> please check them out.</li>
    			</ul>
    		</li>
    	</ul>
    </div>
</div>
</template>