<template name="about">
<div class="aboutDiv oneDiv">
    <h2 class="helpPagesLogo">About</h2>
    <ul class="helpAboutUl">
        <li> <p class="helpPagesPar">SpaceTrades helps people organize Buying and Selling meetups </p></li>
        <li>
            <ul>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
            </ul>
        </li>
        <!-- Shoe Icon, Clothes Icon, Electronics Icon -->
        <li><p class="helpPagesPar">Lorem </p></li>
    </ul>
</div>
</template>
<!-- TASK - We want video here and possibly nice 3 image pair briefly describing usage -->
<!-- TASK - 3 Icons - Shoes Clothing Electronics - SCE - Nikes, Sweatshirt - iPhone -->
<!-- TASK - Create a youtube video for the site -->