<template name="contact">
<div class="contactdiv oneDiv">
{{#markdown}}
## Contact Us
Interested in getting in touch with us. <br />
Have any comments or questions not answered in the Help Center.<br />
Don't hesitate to send us a message.

{{/markdown}}

        <form class="contactform">
            <p class="contactname">
                <input type="text" name="contactname" id="contactname" placeholder="Name" />
            </p>
            <p class="contacttext">
                <textarea name="message" placeholder="Message" class="message"></textarea>
            </p>
                <input type="submit" class="add ph-button" value="Send">

        </form>
        <div class="sent">
            <h2>Message Sent</h2>
            <p>We will get in touch with you as soon as we can</p>
        </div>
    </div>
</template>