<template name="about">
<div class="aboutDiv oneDiv">
    <h2 class="helpPagesLogo">About</h2>
    <ul class="helpAboutUl">
        <li> <p class="helpPagesPar">SpaceTrades helps people organize Buying and Selling meetups locally. Whether you are looking to trade your products for others or simply sell them, SpaceTrades simplifies the process.</p></li>
        <li>
            <ul>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
                <li><img src="#" class="aboutImg"></li>
            </ul>
        </li>
        <!-- Shoe Icon, Clothes Icon, Electronics Icon -->
        <li><p class="helpPagesPar"> <b>Read</b> through the <a class="link" href='/help/'>Help Center</a> for any questions you might have </p></li>
        <li><p class="helpPagesPar"> <b>View</b> your profile page at: <a class="link" href="/profile/{{profile}}">{{usernameCurrent}} </a></p></li>
        <li><p class="helpPagesPar"> <b>Edit</b> Your <a class="link" href="/profile/settings">Profile Settings</a></p></li>
    </ul>

</div>
</template>
<!-- TASK - We want video here and possibly nice 3 image pair briefly describing usage -->
<!-- TASK - 3 Icons - Shoes Clothing Electronics - SCE - Nikes, Sweatshirt - iPhone -->
<!-- TASK - Create a youtube video for the site -->