<template name="faq">
<div class="faqdiv div">
{{#markdown}}
## How does it all work?
The process is very similar to Facebook or Instagram Buying and Selling. 
### 1. Initial Stage
The Seller creates a new listing and fills out all the necesarry information regarding the product or products they are listing. This product or these products are featured on the homepage until another user adds his or her own listing. 
### 2. Message Stage 
The Selller awaits messages from interested Buyers. When a Buyer views an item they potentially want to buy, they may contact the seller through the messenger built-in to SpaceTrades. 
### 3. Meetup Request Stage </b>
The Buyer and Seller decide on <span class="meetupitems">price, date, time, and location</span> they want to meetup at. Once they have agreed on these terms, the Buyer sends the Seller a meetup request (<b>MR</b>) from the listing's item page. The meetup request has the following options: price, location, date, time, and any trade items if applicable. Once the Seller accepts the meetup request, the meetup has been initiated.
### 4. Post Meetup Feedback Stage
After the meetup time has passed, both parties will receive a notification with a pending review. From here the feedback system kicks in.

<!-- 
I want bootstrap esque popover for entries such as the meetup items class.
When the user hovers over each one, significant info should be displayed. This capability should exist across the entire app. EX: Date will have popover like this ( The Month, day and year of the meetup. Time of the meetup is optional but reccomended). We want users to recognize certain blocks of texts or keywords not just as text but as keywords / functionality of ST
 -->
<div class="faqinfo">
<h3>Still Have Questions?</h3>
<p>Send us a message at <span class="email">help@spacetrades.com</span></p>
</div>
{{/markdown}}
</div>
</template>