<template name="help">
<div class="helpDiv oneDiv">
    <h3 class="helpIntro">Welcome to the Help Center</h3>
    <p class="helpPagesPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna elit, hendrerit a tincidunt eu, molestie sit amet ante. In eget eros bibendum, ullamcorper erat id, convallis est. Aenean lorem leo, varius sed dui nec, ullamcorper pulvinar quam. Praesent lobortis nulla</p>
    <ul>
        <li><img src="#" class="aboutImg"></li>
        <li><img src="#" class="aboutImg"></li>
        <li><img src="#" class="aboutImg"></li>
    </ul>
</div>
</template>