<template name="reporting">
<div class="reportdiv oneDiv">
{{#markdown}}

## Report a Listing
To report a listing follow the following steps:
1. Go to the listing page and access the option dropwdown in the top left corner.
2. Click the report button in the dropdown.
3. Continue by answering the prompted questions on the Report listing page.


## Report a User
To report a User follow the following steps:
1. Go to the listing page and access the option dropwdown in the top left corner.
2. Click the report button in the dropdown.
3. Continue by answering the prompted questions on the Report listing page.
{{/markdown}}
</div>
<div class="faqinfo">
<h3>Still Have Questions?</h3>
<p>Send us a message at <span class="email">help@spacetrades.com</span></p>
</div>
</template>