<template name="privacy">
<div class="termsDiv div">
    <h2 class="helpPagesLogo">Privacy &amp; Terms</h2>
    <ul>
        <li>
            <h3 class="faqSec">Privacy Policy</h3>
            <ul>
                <li>
                    <h4 class="faqHeading">1. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">2. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">3. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">4. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <h3 class="faqSec">Terms &amp; Conditions</h3>
            <ul>
                <li>
                    <h4 class="faqHeading">1. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">2. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">3. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="faqHeading">4. Section Heading</h4>
                    <p class="faqPar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
</template>