<template name="help">
<!-- TASK - Implement Bootstrap Collapse JS for facebook like question dropdowns -->
<div class="helpDiv oneDiv">
    <h3 class="helpIntro">Welcome to the Help Center</h3>
    <p class="helpPagesPar">Here you can find answers to common questions, review vital safety principles, check the Privacy and Terms policy and Contact us</p>
    <ul>
        <li><img src="#" class="aboutImg"></li>
        <li><img src="#" class="aboutImg"></li>
        <li><img src="#" class="aboutImg"></li>
    </ul>
    <div class="helpCenterThree">
    	<ul class="helpThree">
    		<li>
    			<ul>
    				<li><h3>Get Answers</h3></li>
    			</ul>
    		</li>
    		<li>
    			<ul>
    				<li><h3>Review Safety Information</h3></li>
    			</ul>
    		</li>
    		<li>
    			<ul>
    				<li><h3>View Terms and Conditions</h3></li>
    			</ul>
    		</li>
    	</ul>
    </div>
</div>
</template>