<template name="register">
	<div id="fb-root"></div>

	<div class="registerDiv oneDiv">
		<h1>Sign Up</h1>
	    <div class="registerMain">
			<p>We will never post without your permission</p>
			<div class="ph-button facebook">
				<b>Sign Up With Facebook</b> 
				<i class="fa fa-facebook large"></i>
			</div>
		</div>
	    <div class="registerDocs">
{{#markdown}}
1. We have not currently built a messaging service and are relying on Facebook's message service. **Make sure to check your Other folder** to find any messages from SpaceTrades users. 

2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames

3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames
{{/markdown}}
	    </div>
	</div>
</template>