<template name="homeheaderpost">
    <nav class="mainnav">
        <ul class="navcat">
            <li><a href="#" class="navitem">Categories</a></li>
        </ul>
        <ul class="navprofile">
            <li><a href="#" class="navusername"><span>Steve</span></a></li>
            <li><a href="#" class="navhome">Home</a></li>
            <li><a href="#" class="navbarsdown navfa navfai"><i class="fa fa-bars"></i></a></li>
            <li><a href="#" class="navnotif navfa navfai"><i class="fa fa-globe"></i></a></li>
            <li><a href="#" class="navmess navfa navfai"><i class="fa fa-envelope"></i></a></li>
            <li><a href="#" class="navdown navfa"><i class="fa fa-sort-down"></i></a></li>
        </ul>
    </nav>
    <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <div class="searchfield">
        {{> esInput index="listings" class="search" placeholder="Brand, Name, Neighborhood, Size, Price..."}}
        <span class="icon">
        <i class="fa fa-search"></i>
        </span>
    </div>
</template>