<template name="homeheaderpre">
    <nav class="mainnav">
        <ul class="navdropdown">
            <li class="navdrop"><a href="{{pathFor 'apparel'}}" class="navitem">Apparel</a></li>
            <li class="navdrop"><a href="{{pathFor 'electronics'}}" class="navitem">Electronics</a></li>
            <li class="navdrop"><a href="{{pathFor 'shoes'}}" class="navitem">Shoes</a></li>
            <li class="navdrop"><a href="{{pathFor 'others'}}" class="navitem">Other</a></li>
        </ul>
        <ul class="navverify">
            <li class="navbox"><a href="#" class="navitem">Join</a></li>
            <li class="navbox"><a href="#" class="navitem">Login</a></li>
        </ul>
    </nav>
</template>