<template name="register">
	<div id="fb-root"></div>

	<div class="registerDiv oneDiv">
		<h1>Sign Up</h1>
	    <div class="registerMain">
			<p>We will never post without your permission Lorem Ipsum Dolarum Structorum Bentorarum Summros Lorem Ipsum Dolarum Structorum Bentorarum Summros Lorem Ipsum Dolarum Structorum Bentorarum Summros</p>
			<b>Sign Up With Facebook</b> 
			<div class="fb-login-button" data-max-rows="3" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
		 </div>
	    <div class="registerDocs">
{{#markdown}}
1. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames

2. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames

3. Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames
{{/markdown}}
	    </div>
	</div>
</template>