<template name="card">
<!-- TASK - Add ellipsis on text-overflow for username-->
<!-- TASK - Add user circle top left of homecard -->
    <li class="homeCardLi">
        <p class="homeCardOfferRecieved">{{offers}} Offers Received</p>
        <ul class="homeCardItem">
            <li><a href="/listing/{{_id}}"><img src="{{img1}}" class="homeCardImg"></a></li>
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
        </ul>
        <ul class="homeCardDetails">
            <li class="homeCardLeft">
                <ul>
                    <li class="money">${{price}}</li>
                    <li class="homeCardSize"><b>Size:</b> {{size}}</li>
                </ul>
            </li>
            <li class="homeCardRight">
                <ul>
                    <li>{{city}}, <b>NY</b></li>
                    <li class="homeCardUser"><a href="/profile/{{creator_id}}" class="profile-link">{{usernameTransform}}</a></li>
                </ul>
            </li>
        </ul>
    </li>
</template>
