<template name="homeheaderpre">
    <nav class="mainnav">
        <ul class="navdropdown">
            <li class="navdrop"><a href="" class="navitem">Apparel</a></li>
            <li class="navdrop"><a href="" class="navitem">Electronics</a></li>
            <li class="navdrop"><a href="" class="navitem">Shoes</a></li>
            <li class="navdrop"><a href="" class="navitem">Other</a></li>
        </ul>
        <ul class="navverify">
            <li class="navbox"><a href="#" class="navitem">Join</a></li>
            <li class="navbox"><a href="#" class="navitem">Login</a></li>
        </ul>
    </nav>
    <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <div class="searchfield">
        {{> esInput index="listings" class="search" placeholder="Brand, Name, Neighborhood, Size, Price..."}}
        <a href="#" class="homesearchbtn">Search</a>
    </div>
</template>