<template name="item">
<!-- {{#with listingId}} -->
<div class="itemdiv div">
    <div class="itemtitle">
        <h2><a href="#">{{listing_title}}</a></h2>
    </div>
    <div class="itempmcql">
        <div>
            <div class="money">
                <p>${{price}}</p>
            </div>
            <div class="functionality">
                <ul>
                    <li><a href="#">Meetup Request</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <li>Quantity: {{quantity}}</li>
                <li>{{city}}, {{state}}</li>
            </ul>
        </div>
    </div>
    <div class="itemimgmap">
        <div>
            <!-- Img Slider -->
        </div>
        <div>
            <!-- Google Maps API -->
        </div>
    </div>
    <div class="functionality">
        <div>
            <div>
                <!-- Rating 5 Stars-->
            </div>
            <div>
                <ul>
                    <li><u><a href="#"><p>{{username}}</p></a></u></li>
                    <li><a href="#"><img href="#" src="#"></a></li>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <li><a href="#"><i class="fa fa-plus"></i>Save</a></li>
                <li><a href="#"><i class="fa fa-flag"></i>Report</a></li>
            </ul>
        </div>
    </div>
    <div class="itemdd">
        <div>
            <h4>Details</h4>
            <ul>
                <li>Color: {{color}}</li>
                <li>Brand: {{brand}}</li>
                <li>Condition: {{condition}}</li>
                <li>Style: {{style}}</li>
                <li>Size: {{size}}</li>
            </ul>
        </div>
        <div class="description">
            <h4>Description</h4>
            <p>{{description}}</p>
        </div>
    </div>
</div>
<!-- {{/with}} -->
</template>