<template name="item">
<div class="itemdiv div">
    <div class="itemtitle">
        <h2><a href="#">Nike Air Force Black Edition</a></h2>
    </div>
    <div class="itempmcql">
        <div>
            <div>
                <p>$240</p>
            </div>
            <div>
                <ul>
                    <li><a href="#">Meetup Request</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <li>Quantity: 1</li>
                <li>Upper West Side, Manhattan, NY</li>
            </ul>
        </div>
    </div>
    <div class="itemimgmap">
        <div>
            <!-- Img Slider -->
        </div>
        <div>
            <!-- Google Maps API -->
        </div>
    </div>
    <div class="itemrimgn">
        <div>
            <div>
                <!-- Rating 5 Stars-->
            </div>
            <div>
                <ul>
                    <li><a href="#"><p>Steve</p></a></li>
                    <li><a href="#"><img href="#" src="#"></a></li>
                </ul>
            </div>
        </div>
        <div>
            <ul>
                <li><a href="#"><i class="fa fa-plus"></i>Save</a></li>
                <li><a href="#"><i class="fa fa-flag"></i>Report</a></li>
            </ul>
        </div>
    </div>
    <div class="itemdd">
        <div>
            <h4>Details</h4>
            <ul>
                <li>Color: Black</li>
                <li>Brand: Nike</li>
                <li>Condition: Like New</li>
                <li>Style: Basketball Shoes</li>
                <li>Size: 11</li>
            </ul>
        </div>
        <div>
            <h4>Description</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </div>
    </div>
</div>
</template>