<template name="ListingStatus">
	<div class="mrListStatusDiv">
		<div class="mrListStatusName">
			<ul class="mrListStatusNameUl">
				<li>Status: Active <!-- Status can be Active Inactive and Sold) --></li>
				<li>Sold By: Nathan Chackerian</li>
			</ul>
		</div>
		<div class="mrListStatusImgValues">
			<div class="mrListStatusImg">
				<img src="#" alt="">
			</div>
			<div class="mrListStatusValues">
				<ul class="mrListStatusValuesUl">
					<li>Nike Air Fx7</li>
					<li>Price: $275</li>
					<li>Size: 9</li>
					<li>Condition: New</li>
					<li>Color: White</li>
				</ul>
			</div>
			<div class="mrListStatusBtn">
				<button type="button">View</button>
			</div>
		</div>
	</div>
</template>