<template name="item">
<!-- TASK - Make a different background depending on the Condition state. Ex: new is super green and old is brown -->
<!-- TASK - Move description box up next to descriptors -->
<!-- TASK - Make an icon for trades. Maybe draw this and have Trades Allowed or Trades Denied -->
<!-- TASK - Dropdowns being open on page load, change this -->
<!-- TASK - Facebook, Twitter, Instagram Listing sharing in the options or near the username -->
    <div class="listingItemDiv oneDiv">
        <h1 class="listingItemTitle">{{listing_title}}</h1>
        <p class="listingItemOffersRecieved">{{offers}} Offers Received</p>
        <div class="listingItemLeft">
            <div class="listingItemPriceButtons">
                <ul class="listingItemPrice">
                    <li class="money itemMoney">${{price}}</li>
                </ul>
                <ul class="listingItemButtons">
                    <li><a href="{{current}}/request">Offer</a></li>
                    <li class="ListingContact"><a href="/chat/{{_id}}">Contact</a></li>
                </ul>
            </div>
            <div class="listingItemSlider">
                <div class="slider">
                    <input type="radio" name="slide_switch" id="id1" checked="checked"/>
                    <label for="id1" class="sliderSmallOne">
                        <img src="{{img1}}" />
                    </label>
                    <img src="{{img1}}"/>

                    <!--Lets show the second image by default on page load-->
                    <input type="radio" name="slide_switch" id="id2" />
                    <label for="id2">
                        <img src="{{img2}}" />
                    </label>
                    <img src="{{img2}}"/>

                    <input type="radio" name="slide_switch" id="id3"/>
                    <label for="id3" class="sliderSmallThree">
                        <img src="{{img3}}" />
                    </label>
                    <img src="{{img3}}"/>

                    <input type="radio" name="slide_switch" id="id4"/>
                    <label for="id4">
                        <img src="{{img4}}" />
                    </label>
                    <img src="{{img3}}"/>
                </div>
            </div>
            <div class="desc-box-listing desc-width">
                <h4 class="box-title-listing">Details</h4>
                <ul class="listingItemDetailItems">
                    <li><b>Brand:</b> <a href="/search">{{brand}}</a></li>
                    <li><b>Color:</b> <span style="color: {{color}}">{{color}}</span></li>
                    <li><b>Condition:</b> <a href="/search">{{condition}}</a></li>
                    <li><b>Size:</b> <a href="/search">{{size}}</a></li>
                </ul>
            </div>
            <div class="desc-box-listing nomar desc-width listingItemDescription">
                <h4 class="box-title-listing">Description</h4>
                <p>{{description}}</p>
               <!--  {{creator_id}} -->
            </div>
        </div>
        <div class="listingItemRight">
            <div class="listingItemOptions">
                <ul class="listingItemOptionsLeft">
                    <li class="listingItemQuantity"><b>Quantity:</b> {{quantity}}</li>
                    <li class="listingItemTrades"><b style="color: {{tradeStatus}};">{{trade}}</b></li>
                </ul>
                <ul class="listingItemOptionsDropDown">
                    <li><a>Options<i class="fa fa-caret-down"></i></a></li>
                </ul>
            </div>
            <div class="listingItemMaps">
                <ul class="listingItemMapsAPI">
                    <li>
                        <div id="map-canvas">
                            {{> googleMap name="listingImage" options=exampleMapOptions}}
                        </div>
                    </li>
                </ul>
            </div>
            <div class="listingItemUserInfo">
                <ul class="listingItemUserInfoUl">
                    <li class="rating">
                        <!-- These Stars Are For Display, They Do Not Work-->
                        ☆☆☆☆☆
                    </li>
                    <li class="listingItemUser"><a href="/profile/{{profile}}"><img src="{{creatorpic}}"><span>{{username}}</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hidden">
    {{creator_id}}
    </div>
</template>