<template name="item">
    <!-- TASK - Make a different background depending on the Condition state. Ex: new is super green and old is brown -->
    <!-- TASK - Move description box up next to descriptors -->
    <!-- TASK - Make an icon for trades. Maybe draw this and have Trades Allowed or Trades Denied -->
    <div class="itemdiv div">
        <div>
            <h2 class="itemtitle"><div>{{listing_title}}</div></h2>

            <!-- TASK - Make the background white, border a certain color and text color a certain color
            we need to differentiate between the main buttons and the settings button -->
            {{#if currentUser}}
            <div class="btn-group open options-dropdown">
            <a class="btn btn-primary orange">Options</a>
              <a class="btn btn-primary dropdown-toggle orange" data-toggle="dropdown" href="#">
                <span class="fa fa-caret-down"></span></a>
                <ul class="dropdown-menu">
                    <li class="listingOptionsReport"><a href="#"><i class="fa fa fa-gavel fa-fw"></i> Report</a></li>
                   <!--  {{#if correctUser}} -->
                    <li class="listingOptionsEdit"><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
                    <li class="listingOptionsDelete"><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
                    <!-- {{/if}} -->

                </ul>
            </div>
            {{/if}}
        </div>
                <div class="itempmcql">
                    <div>
                        <div class="money">
                            <p class="price">${{price}}</p>
                        </div>
                        <div class="functionality">
                            <ul>
                                <li>
                                    <div class="ph-float">
                                        <a href='{{current}}/request' class='ph-button ph-btn-red'>Offer</a>
                                    </div>
                                </li>
                                <li>  
                                    <div class="ph-float">
                                        <a href='{{messenger}}' target="_blank" class='ph-button ph-btn-red'>Contact</a>
                                    </div>
                                </li>
                                <li>  
                                    <div class="ph-float">
                                    <!-- TASK - Increase font size -->
                                        <li>Quantity: {{quantity}}</li>
                                        <li>{{city}}, <b>{{state}}</b></li>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="imagebox">
                    <div id="slider" class="flexslider">
                       <ul class="slides">
                        <li>
                            <img src="{{img1}}">
                        </li>
                        <li>
                            <img src="{{img2}}">
                        </li>        
                        <li>
                            <img src="{{img3}}">
                        </li>                     
                    </ul>
                </div>
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="{{img1}}">
                        </li>
                        <li>
                            <img src="{{img2}}">
                        </li>        
                        <li>
                            <img src="{{img3}}">
                        </li>                       
                    </ul>
                </div>
            </div>
            <div class="itemimgmap">
                <div class="gimg">
                    {{> googleMap name="listingImage" options=exampleMapOptions}}
                </div>
            </div>
            <div class="functionality">
                <div>
                    <div>
                    </div>
                    <div>
                        <ul>
                        <!-- TASK - Add font awesom user image -->
                            <li><u><a href="/profile/{{creator_id}}"><p>{{username}}</p></a></u></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="itemdd">
                <div>
                    <h2>Details</h2>
                    <ul class="descriptorbox">
                        <li>
                            <b>Color</b> <div class="colorsquare" style="background-color: {{color}}">
                            </div>
                        </li>
                        <li>
                            <p class="descriptor-item"> <b>Brand: </b> <code class="listingitem">{{brand}}</code></p>
                        </li>
                        <li>
                            <p class="descriptor-item"> <b>Condition: </b> <code class="listingitem"> {{condition}}</code> </p>
                        </li>
                        <li>
                            <p class="descriptor-item"> <b>Size: </b> <code class="listingitem"> {{size}} </code> </p>
                        </li>
                    </ul>
                </div>
                <div class="description">
                    <h3>Description</h3>
                    <p>{{description}}</p>
                </div>
            </div>
        </div>
        <div class="hidden">
        {{creator_id}}
        </div>
    </template>