<template name="meetuprequest">
<div class="mrdiv div">
	<h2>Offer</h2>
	<div class="mrinfo">
	<h2 class="itemtitle"><a href="/listing/{{_id}}">{{listing_title}}</a></h2>
		<div class="mrinfoleft">
			<div class="mrinfofield">
				<ul>
					<li>
						<ul>
							<li class="money price">{{price}}</li>
							<li>Offer Price: <input type="text" class="mroffer" id="mroffer" placeholder=""></li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Date: <i class="fa fa-calendar"></i><input type="text" id="datepicker"></li>
							<!-- Values for date are taken from calender -->
						</ul>
					</li>
				</ul>
			</div>
			<div class="mrapi">
				{{> googleMap name="offerImage" options=offerMapOptions }}
			</div>
		</div>
		<div class="mrinforight">
			<img src="#" class="prodimg">
			<!-- Image Slider -->
		</div>
	</div>
	<div class="mrbutton">
		<button type="button" class="ph-button redskin">Review</button>
	</div>
</div>
</template>