<template name="meetuprequestreview">
<div class="mrsentdiv div">
	<h2>Meetup Request</h2>
	<div class="mrinfo">
		<div class="mrinfoleft">
			<div class="mrinfofield">
				<ul>
					<li>Nike Jaguar X7</li>
					<li>
						<ul>
							<li>Price: $370</li>
							<li>Offer: <input type="text" class="mroffer" id="mroffer" placeholder=""></li>
						</ul>
					</li>
					<li>
						<ul>
							<li>Date: <i class="fa fa-calendar"></i></li>
							<li>May</li>
							<li>7</li>
							<li>2015</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="mrloc">
				<p>Location: <input type="text" class="mrloc" id="mrloc" placeholder=""></p>
			</div>
		</div>
		<div class="mrinforight">
			<img src="#" class="prodimg">
			<!-- Image Slider -->
		</div>
	</div>
	<div class="mrtrade">
		<div class="mrtradeoffer">
			<h2>Trade Offer</h2>
			<div class="mrtradefield">
				<p>Category: Shoes </p>
				<ul>
					<li>Title: Nike Jaguar X7</li>
					<li>Condition: Used</li>
					<li>Size: 8</li>
				</ul>
				<ul>
					<li><img src="#" class="tradeimg"></li>
					<li><img src="#" class="tradeimg"></li>
					<li><img src="#" class="tradeimg"></li>
					<li><img src="#" class="tradeimg"></li>
				</ul>
			</div>
		</div>
		<div class="mrapi">
			<!-- Google Maps API Here-->
		</div>
	</div>
	<div class="mrbutton">
		<button type="button">Edit</button>
		<button type="button">Send</button>
	</div>
</div>
</template>

<!-- This page has 3 different variations, review, offer, and overview -->
<!-- review is when the buyer reviews the MR before sending it -->
<!-- offer is when the seller gets the meetup request -->
<!-- overview is the overview of the MR after it has been accepted by Seller, sort of like a receipt -->

<!-- This is Review -->
<!-- offer has the buttons accept and decline and the name of the person who sent it and the title is meetup request offer-->
<!-- Overview has no buttons and says Meetup Overview -->