<!-- This modal can be accessed from Listing Item | Post Auth | If Pre Auth Prompt Login -->
<template name="ModalOfferRequest">
	<form class="modal multi-step" id="offerRequestModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title step-1" data-step="1">Step 1</h4>
                <h4 class="modal-title step-2" data-step="2">Step 2</h4>
            </div>
            <div class="modal-body step step-1">
            This is step 1.
            </div>
            <div class="modal-body step step-2">
            This is step 2.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary step step-1" data-step="1" onclick="sendEvent()">Continue</button>
            </div>
        </div>
    </div>
</form>


<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal"> Launch demo modal </button>
 -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="js-title-step"></h4>
      </div>
      <div class="modal-body">
        <div class="row hide" data-step="1" data-title="This is the first step!">
          <div class="well">As you can see, this is the first step!</div>
        </div>
        <div class="row hide" data-step="2" data-title="This is the second and last step!">
          <div class="well">As you can see, this is the second and last step!</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
        <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
        <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
      </div>
    </div>
  </div>
</div> -->

<script type="text/javascript">
sendEvent = function() {
    $('#offerRequestModal').trigger('next.m.2');
}
</script>
</template>

<!-- <div class="modofferRequest modal" id="offerRequestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modofferRequestDialog modal-dialog" role="document">
	    <div class="modofferRequestContent modal-content">
	      <div class="modofferRequestBody modal-body">

	      </div>
	    </div>
	  </div>
	</div> -->