<template name="ModalFeedbackPrimarySeller">
    <form class="modFeedback modal multi-step" id="feedbackSellerPrimaryModal">
        <div class="modFeedbackDialog modal-dialog">
            <div class="modFeedbackContent modal-content">
                <div class="modFeedbackDiv modFeedbackDivOne modal-body step step-1">
                    <div class="modFeedbackPageOne">
                        <ul>
                            <li>
                                <h4>Purchase Satisfaction</h4>
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf"></label>
                                </fieldset>
                                <br>
                                <h4>Item As Described</h4>
                                <fieldset class="rating">
                                    <input type="radio" id="star5-1" name="rating-1" value="5" /><label class = "full" for="star5-1"></label>
                                    <input type="radio" id="star4half-1" name="rating-1" value="4 and a half" /><label class="half" for="star4half-1"></label>
                                    <input type="radio" id="star4-1" name="rating-1" value="4" /><label class = "full" for="star4-1"></label>
                                    <input type="radio" id="star3half-1" name="rating-1" value="3 and a half" /><label class="half" for="star3half-1"></label>
                                    <input type="radio" id="star3-1" name="rating-1" value="3" /><label class = "full" for="star3-1"></label>
                                    <input type="radio" id="star2half-1" name="rating-1" value="2 and a half" /><label class="half" for="star2half-1"></label>
                                    <input type="radio" id="star2-1" name="rating-1" value="2" /><label class = "full" for="star2-1"></label>
                                    <input type="radio" id="star1half-1" name="rating-1" value="1 and a half" /><label class="half" for="star1half-1"></label>
                                    <input type="radio" id="star1-1" name="rating-1" value="1" /><label class = "full" for="star1-1"></label>
                                    <input type="radio" id="starhalf-1" name="rating-1" value="half" /><label class="half" for="starhalf-1"></label>
                                </fieldset>
                                <br>
                            </li>
                            <li>
                                <h4>Meetup Efficiency</h4>
                                <fieldset class="rating">
                                    <input type="radio" id="star5-2" name="rating-2" value="5" /><label class = "full" for="star5-2"></label>
                                    <input type="radio" id="star4half-2" name="rating-2" value="4 and a half" /><label class="half" for="star4half-2"></label>
                                    <input type="radio" id="star4-2" name="rating-2" value="4" /><label class = "full" for="star4-2"></label>
                                    <input type="radio" id="star3half-2" name="rating-2" value="3 and a half" /><label class="half" for="star3half-2"></label>
                                    <input type="radio" id="star3-2" name="rating-2" value="3" /><label class = "full" for="star3-2"></label>
                                    <input type="radio" id="star2half-2" name="rating-2" value="2 and a half" /><label class="half" for="star2half-2"></label>
                                    <input type="radio" id="star2-2" name="rating-2" value="2" /><label class = "full" for="star2-2"></label>
                                    <input type="radio" id="star1half-2" name="rating-2" value="1 and a half" /><label class="half" for="star1half-2"></label>
                                    <input type="radio" id="star1-2" name="rating-2" value="1" /><label class = "full" for="star1-2"></label>
                                    <input type="radio" id="starhalf-2" name="rating-2" value="half" /><label class="half" for="starhalf-2"></label>
                                </fieldset>
                                <br>
                                <h4>Price Negotiation</h4>
                                <fieldset class="rating">
                                    <input type="radio" id="star5-3" name="rating-3" value="5" /><label class = "full" for="star5-3"></label>
                                    <input type="radio" id="star4half-3" name="rating-3" value="4 and a half" /><label class="half" for="star4half-3"></label>
                                    <input type="radio" id="star4-3" name="rating-3" value="4" /><label class = "full" for="star4-3"></label>
                                    <input type="radio" id="star3half-3" name="rating-3" value="3 and a half" /><label class="half" for="star3half-3"></label>
                                    <input type="radio" id="star3-3" name="rating-3" value="3" /><label class = "full" for="star3-3"></label>
                                    <input type="radio" id="star2half-3" name="rating-3" value="2 and a half" /><label class="half" for="star2half-3"></label>
                                    <input type="radio" id="star2-3" name="rating-3" value="2" /><label class = "full" for="star2-3"></label>
                                    <input type="radio" id="star1half-3" name="rating-3" value="1 and a half" /><label class="half" for="star1half-3"></label>
                                    <input type="radio" id="star1-3" name="rating-3" value="1" /><label class = "full" for="star1-3"></label>
                                    <input type="radio" id="starhalf-3" name="rating-3" value="half" /><label class="half" for="starhalf-3"></label>
                                </fieldset>
                            </li>
                        </ul>
                        <br>
                    </div>
                    <div class="modMultiBtn modMultiBtnDouble modMultiBtnFeedback modMultiBtnFeedbackDouble modMultiBtnFeedbackOne">
                        <button type="button" class="btn btn-primary step step-1 modalExit" data-step="1" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary step step-1 modalNext" data-step="1" onclick="feedbackSellerPrimaryJump2()">Next</button>
                    </div>
                </div>
                <div class="modFeedbackDiv modFeedbackDivTwo modal-body step step-2">
                    <div class="modFeedbackPageTwo">
                        <div class="modFeedbackPageTwo1">
                            <h2>Overall Experience</h2>
                            <ul>
                                <li>
                                    <input type="radio" id="feedbackPositive" name="feedbackOverall" value="Positive" checked/>
                                    <label for="feedbackPositive">Positive</label>
                                </li>
                                <li>
                                    <input type="radio" id="feedbackNeutral" name="feedbackOverall" value="Neutral" />
                                    <label for="feedbackNeutral">Neutral</label>
                                </li>
                                <li>
                                    <input type="radio" id="feedbackNegative" name="feedbackOverall" value="Negative"/>
                                    <label for="feedbackNegative">Negative</label>
                                </li>
                            </ul>
                        </div>
                        <div class="modFeedbackPageTwo2">
                            <h2>Tell Us More</h2>
                            <ul>
                                <li><textarea type="text" placeholder="Write a description about your experience!"></textarea></li>
                            </ul>
                        </div>  
                    </div>
                    <div class="modMultiBtn modMultiBtnDouble modMultiBtnFeedback modMultiBtnFeedbackDouble modMultiBtnFeedbackTwo">
                        <button type="button" class="btn btn-primary step step-2 modalBack" data-step="2" onclick="feedbackSellerPrimaryJump1()">Back</button>
                        <button type="button" class="btn btn-primary step step-2 modalSubmitBtn" data-step="2"><input type="submit" class="" value="Send"></button>
                    </div>
                </div>
            </div> 
        </div>
    </form>
    <!-- Each Multi Step Modal Has It's Own Triggers -->
    <script type="text/javascript">
      feedbackSellerPrimaryJump1 = function() {
          $('#feedbackSellerPrimaryModal').trigger('next.m.1');
      }
      feedbackSellerPrimaryJump2 = function() {
          $('#feedbackSellerPrimaryModal').trigger('next.m.2');
      }
    </script>  
</template> 
