<template name="ModalFeedbackInitialSeller">
    <form class="modFeedbackInitial modal multi-step" id="feedbackSellerInitialModal">
        <div class="modFeedbackInitialDialog modal-dialog">
            <div class="modFeedbackInitialContent modal-content">
                <!-- PROMPT 1 START START START -->
                <div class="modFeedbackInitialDiv modFeedbackDivInitialOne modal-body step step-1">
                    <div class="modFeedbackInitialPageOne">
                        <h2>Did The Meetup Occur?</h2>
                        <ul class="modFeedbackInitialPagOneUl">
                            <li><button type="button" class="btn btn-primary step step-1" data-step="1" onclick="feedbackInitialJump2()">Yes</button></li>
                            <li><button type="button" class="btn btn-primary step step-1" data-step="1" onclick="feedbackInitialJump3()">No</button></li>
                        </ul>
                    </div>
                </div>
                <!-- PROMPT 1 END END END -->

                <!-- PROMPT 2 START START START -->
                <div class="modFeedbackInitialDiv modFeedbackDivInitialTwo modal-body step step-2">
                    <div class="modFeedbackInitialPageTwo">
                        <h2>How Was It?</h2>
                        <ul class="modFeedbackInitialPagTwoUl">
                            <li><button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#feedbackBuyerPrimaryModal">Successful</button></li>
                            <li><button type="button" class="btn btn-primary step step-2" data-step="2" onclick="feedbackInitialJump5()">Unsuccessful</button></li>
                        </ul>
                    </div>
                </div>
                <!-- PROMPT 2 END END END -->

                <!-- NO MEETUP WARNING START START START -->
                <div class="modFeedbackInitialDiv modFeedbackDivInitialThree modal-body step step-3">
                    <div class="modFeedbackInitialPageThree">
                        <h2>Are You sure you want to continue??</h2>
                        <ul class="modFeedbackInitialPagThreeUl">
                            <li><button type="button" class="btn btn-primary step step-2" data-step="2" onclick="feedbackInitialJump1()">Back</button></li>
                            <li><button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#feedbackBuyerNeverModal">Continue</button></li>
                        </ul>
                    </div>
                </div>
                <!-- NO MEETUP WARNING WARNING END END END -->

                <!-- UNSUCCESSFUL MEETUP OPTIONS START START START -->
                <div class="modFeedbackInitialDiv modFeedbackDivInitialFour modal-body step step-4">
                    <div class="modFeedbackInitialPageFour">
                        <h2>We're Sorry To Hear That</h2>
                        <ul class="modFeedbackInitialPagFourUl">
                            <li><button class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#feedbackBuyerUnsuccessfulModal">Feedback</button></li>
                        </ul>
                    </div>
                </div>
                <!-- UNSUCCESSFUL MEETUP OPTIONS END END END -->

                <!-- UNSUCCESSFUL MEETUP WARNING START START START -->
                <div class="modFeedbackInitialDiv modFeedbackDivInitialFive modal-body step step-5">
                    <div class="modFeedbackInitialPageFive">
                        <h2>Are You Sure You want to continue</h2>
                        <ul class="modFeedbackInitialPagFiveUl">
                            <li><button type="button" class="btn btn-primary step step-5" data-step="5" onclick="feedbackInitialJump2()">Back</button></li>
                            <li><button type="button" class="btn btn-primary step step-5" data-step="5" onclick="feedbackInitialJump4()">Go</button></li>
                        </ul>
                    </div>
                </div>
                <!-- UNSUCCESSFUL MEETUP WARNING END END END -->
            </div>
        </div>
    </form>
    <!-- Each Multi Step Modal Has It's Own Triggers -->
    <script type="text/javascript">
    //   feedbackInitialJump1 = function() {
    //       $('#feedbackBuyerInitialModal').trigger('next.m.1');
    //   }
    //   feedbackInitialJump2 = function() {
    //       $('#feedbackBuyerInitialModal').trigger('next.m.2');
    //   }
    //   feedbackInitialJump3 = function() {
    //       $('#feedbackBuyerInitialModal').trigger('next.m.3');
    //   }
    //   feedbackInitialJump4 = function() {
    //       $('#feedbackBuyerInitialModal').trigger('next.m.3');
    //   }
    // </script>  
</template>