<!-- This modal can be accessed from Profile | Post Auth Only -->
<template name="ModalReportUser">
    <form class="modReport modal multi-step" id="reportUserModal">
        <div class="modReportDialog modal-dialog">
            <div class="modReportContent modal-content">
                <div class="modReportDiv modReportDivOne modal-body step step-1">
                    <div class="modReportPageOne">
                        
                    </div>
                    <div class="modMultiBtn modMultiBtnReportOne">
                        <button type="button" class="btn btn-primary step step-1 modalExit" data-step="1" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary step step-1 modalNext" data-step="1" onclick="reportUserJump2()">Next</button>
                    </div>
                </div>
                <div class="modReportDiv modReportDivTwo modal-body step step-2">
                    <div class="modReportPageTwo">
                          
                    </div>
                    <div class="modMultiBtn modMultiBtnReportTwo">
                        <button type="button" class="btn btn-primary step step-2 modalBack" data-step="2" onclick="reportUserJump1()">Back</button>
                        <button type="button" class="btn btn-primary step step-1 modalNext" data-step="1" onclick="reportUserJump3()">Next</button>
                    </div>
                </div>
                <div class="modReportDiv modReportDivTwo modal-body step step-3">
                    <div class="modReportPageThree">
                          
                    </div>
                    <div class="modMultiBtn modMultiBtnReportThree">
                        <button type="button" class="btn btn-primary step step-3 modalBack" data-step="3" onclick="reportUserJump2()">Back</button>
                        <button type="button" class="btn btn-primary step step-3 modalSubmitBtn" data-step="3">
                        	<input type="submit" value="Send">
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </form>
    <!-- Each Multi Step Modal Has It's Own Triggers -->
    <script type="text/javascript">
      reportUserJump1 = function() {
          $('#reportUserModal').trigger('next.m.1');
      }
      reportUserJump2 = function() {
          $('#reportUserModal').trigger('next.m.2');
      }
      reportUserJump3 = function() {
          $('#reportUserModal').trigger('next.m.3');
      }
    </script>  
</template>