<template name="meetuprequest">
    <div class="offerRequestDiv oneDiv">
        <h2 class="featurePageTitle">Send Offer</h2>
        <div class="offerRequestLeft">
            <div class="offerRequestImage">
                <img src="{{img1}}" class="offerRequestImg">
            </div>
        </div>
        <div class="offerRequestRight">
            <div class="offerRequestName">
                <h1 class="offerRequestListing">{{listing_title}}</h1>
                <p>Sold By: <a href="#" class="profile-link">{{username}}</a></p>
            </div>
            <div class="offerRequestPrice">
                <ul class="offerRequestPriceUl">
                    <li class="offerRequestOriginalPrice">Price: <span class="money">$<span class="offerRequestPriceOriginal">{{price}}</span></span></li>
                    <li class="offerRequestOfferPrice">Offer:<input type="text" class="listprice" id="mroffer" placeholder="$000"></li>
                </ul>
            </div>
            <div class="offerRequestDate">
                <ul>
                    <li><h4>Date Of Meetup</h4></li>
                    <li><input type="text" id="datepicker"></li>
                </ul>
            </div>
            <div class="offerRequestLocation">
                <ul>
                    <li>
                        <h4>Location</h4>
                        <input id="pac-input" class="controls" type="text" placeholder="Where do you want to meet?">
                    </li>
                    <li class="offerRequestButton">
                        <input type="button" value="Send" class="offerRequestBtn">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="offerRequestMaps oneDiv"> 
        <div class="offerRequestMapsApi">
			{{> googleMap name="offerImage" options=offerMapOptions }}
		</div>
    </div>
	<div class="hidden">{{_id}}</div>
	<div class="sucess"></div>
</template>