<template name="profilesidebar">
	<div class="prosidediv div">
		<ul>
			<li>+Overview</li>
			<li><a href="#">Activities</a></li>
			<li><a href="#">Meetup Requests</a>
				<ul>
					<li><a href="#">Buying</a></li>
					<li><a href="#">Selling</a></li>
				</ul>
			</li><li><a href="#"></a></li>
			<li><a href="#">Listings</a>
				<ul>
					<li><a href="#">Active</a></li>
					<li><a href="#">Sold</a></li>
					<li><a href="#">Unsold</a></li>
				</ul>
			</li>
			<li></li>
			<li><a href="#">Starred</a></li>
			<li><a href="#">Meetup History</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</div>
</template>