<template name="profileHistoryCard">
	<li class="profileCardLi">
	    <p>You Bought From <a href="#" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
	    <ul class="profileCardImage">
	        <a href=""><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/haZXaoHQJazpWhFTR/p_4338506_15971221_825366.jpg" class="profileCardImg"></a>
	    </ul>
	    <ul class="profileCardInfo">
	        <li><a href="#"><h4>Nike Air Max Retro</h4></a></li>
	        <li class="money profileCardItem">$520</li>
	        <li class="profileCardItem">Condition: New</li>
	        <li class="profileCardItem">Size: 12</li>
	        <li class="profileCardView"><a href="#">View</a></li>
	    </ul>
	</li>
</template>