<template name="ManagerCardListing">
	<li class="profileCardLi">
        <p class="managerListingStatus"> {{days_until}} </p>
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
            <li class="money profileCardItem">${{price}}</li>
            <li class="profileCardItem">Condition: {{condition}}</li>
            <li class="profileCardItem">Size: {{size}}</li>
            <li class="managerOfferButton">
                <ul>
                    <li class="optionsListCardClick optionsProClick click-nav">
                        <ul class="no-js">
                            <li>
                                <a class="clicker">Options<i class="fa fa-caret-down"></i></a>
                                <ul class="optionsItems optionsCardItems">
                                    <li><a href=""><i class="fa fa-pencil"></i>Edit</a></li>
                                    <li><a href=""><i class="fa fa-times"></i>Remove</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- OnClick DropDown With Edit and Delete -->
                    <li class="managerOfferViewer managerReceivedOffers"><a class="managerOfferCount" href="/selloffer/{{_id}}">{{offers}}</a></li>
                    <!-- 4 is the number of offers--> 
                </ul>
            </li>
        </ul>
    </li>
</template>