<template name="ProfileHistory">
	<div class="profileCard oneDiv">
	<h1> History </h1>
        <ul class="profileCardUl">
        <!-- History should be highlighted in nav  -->
            {{#each history}}
				{{> profileHistoryCard}}
			{{/each}}
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">Nathan Chackerian</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="profileCardView"><a href="#">View</a></li>
			    </ul>
			</li>
        </ul>    
    </div>
</template> 