<template name="ProfileHistory">
	<div class="profileCard oneDiv">
        <ul class="profileCardUl profileHistoryCardUl">
        <!-- History should be highlighted in nav  -->
            {{#each history}}
				{{> profileHistoryCard}}
			{{/each}}

			<!-- Example Delete Later -->
			<li class="profileCardLi">
			    <p>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">{{username}}</a></p> <!-- you bought from, you sold to -->
			    <ul class="profileCardImage">
			        <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
			    </ul>
			    <ul class="profileCardInfo">
			        <li><a href="/listing/{{_id}}"><h4>Nike Air Max Retro</h4></a></li>
			        <li class="money profileCardItem">$350</li>
			        <li class="profileCardItem">Condition: Like New</li>
			        <li class="profileCardItem">Size: 13</li>
			        <li class="managerOfferView"><a href="#" class="ph-button ph-btn-blue">View Ticket</a></li>
			    </ul>
			</li>
			<li class="profileHistoryTimestamp">
			<h1>August 7th, 2015</h1>
			</li>
        </ul>    
    </div>
</template> 