<template name="profileHistoryCard">
	<li class="profileCardLi">
	    <p><b>Met On Aug. 3 2015</b>You Bought From <a href="/profile/{{creator_id}}" class="profileCardBoughtSold">{{username}}</a></p> <!-- you bought from, you sold to -->
	    <ul class="profileCardImage">
	        <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
	    </ul>
	    <ul class="profileCardInfo">
	        <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
	        <li class="money profileCardItem">${{price}}</li>
	        <li class="profileCardItem">Condition: {{condition}}</li>
	        <li class="profileCardItem">Size: {{size}}</li>
	        <li class="profileCardView" id="profileHistoryView"><a href="#">View</a></li>
	    </ul>
	</li>  
</template>