<template name="Manager">

<div class="container oneDiv">
    <ul class="nav nav-tabs managerNavTabs">
        <li><a href="#menu1">Offers</a></li>
        <li><a href="#menu2">Listings</a></li>
    </ul>

    <div class="tab-content">
        <div id="menu1" class="tab-pane fade">
            <div class="profileManagerOffer">
                <ul class="profileManagerUl">
                    {{#each listing}}
                    {{> ManagerCardOffer}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="carddiv div">
  				      <ul class="cardul">
                    {{#each listing}}
      					    {{> card}}
      					    {{/each}}
  				      </ul>
  			   </div>
        </div>
    </div>
</div>
<!-- <div class="container">
{{#markdown}}
## Manager
Here you can monitor your current offers and the status of your listings
{{/markdown}}


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
  <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>HOME</h3>
    <p>Some content.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
</div> -->
<!-- Task -->
<!-- Edit and Delete -->
	<!-- <div class="listingIASDiv div">
		<div class="listingIASTitle">
			<h3>Active</h3>
		</div>
		<div class="listingIASCards">
			<ul name="fullCardUl">
				{{#each listing}}
					{{> listing_status}}
				{{/each}}
			</ul>
		</div>
	</div>
	</div> -->
	<!-- Notification  -->
<!-- 	</div> -->
<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
</template>