<template name="ManagerCardOffer">
	<li class="profileCardLi">
        <p class="managerOfferStatus">{{status}} <!-- Pending, Confirmed, and Declined--></p>
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
            <li class="money profileCardItem">${{offerprice}}</li>
            <li class="profileCardItem">{{date}}</li>
            <!-- Make Ny Bold -->
            <li class="profileCardItem">{{location}}</li>
            <li class="managerOfferView"><a href="/buyoffer/{{_id}}" class="ph-button ph-btn-blue">View Offer</a></li>
            <!-- TASK - Create this View offer Page and offers will be sent here /listing/id/request/id of offer -->
        </ul>
    </li>
</template>

<template name="ManagerCardListing">
	<li class="profileCardLi">
        <p class="managerListingStatus"> {{days_until}} </p>
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
            <li class="money profileCardItem">${{price}}</li>
            <li class="profileCardItem">Condition: {{condition}}</li>
            <li class="profileCardItem">Size: {{size}}</li>
            <li class="managerOfferButton">
                <ul>
                    <li class="managerOfferOptions"><a href="#">Options</a></li>
                    <!-- OnClick DropDown With Edit and Delete -->
                    <li class="managerOfferViewer"><a class="managerOfferCount" href="/selloffer/{{_id}}">{{offers}}</a></li>
                    <!-- 4 is the number of offers--> 
                </ul>
            </li>
        </ul>
    </li>
</template>