<template name="ManagerCardOffer">
	<li class="managerOfferLi">
        <p>Pending <!-- Pending, Confirmed, and Declined--></p>
        <ul class="managerOfferImage">
            <li><a href="#"><img src="http://5.kixify.com/sites/default/files/imagecache/product_list/1406223967_46183.jpg" class="managerOfferImg"></a></li>
        </ul>
        <ul class="managerOfferDetails">
            <li><a href="#"><h4>Nike Air Max Retro</h4></a></li>
            <li>Offered: <span class="money">$275</span></li>
            <li>June 28, 2015.</li>
            <li>505 5th Avenue</li>
            <li class="managerOfferView"><a href="#">View Offer</a></li>
        </ul>
    </li>
</template>

<template name="ManagerCardListing">
	<li class="managerOfferLi">
        <p> 42 Days, 6 Hours, 12 Min Left </p>
        <ul class="managerOfferImage">
            <li><a href="#"><img src="http://5.kixify.com/sites/default/files/imagecache/product_list/1406223967_46183.jpg" class="managerOfferImg"></a></li>
        </ul>
        <ul class="managerOfferDetails">
            <li><a href="#"><h4>Nike Air Max Retro</h4></a></li>
            <li>Price: <span class="money">$275</span></li>
            <li>Condition: Like New</li>
            <li>Size: 12</li>
            <li class="managerOfferButton">
                <ul>
                    <li class="managerOfferOptions"><a href="#">Options</a></li>
                    <!-- OnClick DropDown With Edit and Delete -->
                    <li class="managerOfferViewer"><a href="#">4 Offers</a></li>
                    <!-- 4 is the number of offers--> 
                </ul>
            </li>
        </ul>
    </li>
</template>