<template name="ManagerCardOffer">
	<li class="managerOfferLi">
        <p class="managerOfferStatus">{{status}} <!-- Pending, Confirmed, and Declined--></p>
        <ul class="managerOfferImage">
            <li><a href="#"><img src="{{img}}" class="managerOfferImg"></a></li>
        </ul>
        <ul class="managerOfferDetails">
            <li><a href="#"><h4>{{listing_title}}</h4></a></li>
            <li><span class="money">${{offerprice}}</span></li>
            <!-- Make Ny Bold -->
            <li>{{date}}</li>
            <li>{{location}}</li>
            <li class="managerOfferView"><a href="#" class="ph-button ph-btn-cardinal">View Offer</a></li>
            <!-- TASK - Create this View offer Page and offers will be sent here /listing/id/request/id of offer -->
        </ul>
    </li>
</template>

<template name="ManagerCardListing">
	<li class="managerOfferLi">
        <p class="managerListingStatus"> 42 Days, 6 Hours, 12 Min Left </p>
        <ul class="managerOfferImage">
            <li><a href="#"><img src="{{img1}}" class="managerOfferImg"></a></li>
        </ul>
        <ul class="managerOfferDetails">
            <li><a href="#"><h4>{{listing_title}}</h4></a></li>
            <li><span class="money">{{price}}</span></li>
            <li>Condition: {{condition}}</li>
            <li>Size: {{size}}</li>
            <li class="managerOfferButton">
                <ul>
                    <li class="managerOfferOptions"><a href="#">Options</a></li>
                    <!-- OnClick DropDown With Edit and Delete -->
                    <li class="managerOfferViewer"><a href="#">4 Offers</a></li>
                    <!-- 4 is the number of offers--> 
                </ul>
            </li>
        </ul>
    </li>
</template>