<!-- This HTML is the same as "listing_status.html" besides the star, but this file is used to define the listings which will show up in the starred items page. The listing card on the other page defines the users listings, and these are listings of other users that the user has starred. For this difference I have created a seperate html file.  -->
<template name="SaveStatus">
	<div class="mrListStatusDiv">
		<div class="mrListStatusName">
			<ul class="mrListStatusNameUl">
				<li>Status: Active <!-- Star Goes Here --> <!-- Status can be Active Inactive and Sold) --></li>
				<li>Sold By: Nathan Chackerian</li>
			</ul>
		</div>
		<div class="mrListStatusImgValues">
			<div class="mrListStatusImg">
				<img src="#" alt="">
			</div>
			<div class="mrListStatusValues">
				<ul class="mrListStatusValuesUl">
					<li>Nike Air Fx7</li>
					<li>Price: $275</li>
					<li>Size: 9</li>
					<li>Condition: New</li>
					<li>Color: White</li>
				</ul>
			</div>
			<div class="mrListStatusBtn">
				<button type="button">View</button>
			</div>
		</div>
	</div>
</template>