<template name="ManagerCardOffer">
<!-- TASK  - FMT - Place of Meetup (state abbreviation) with bold -->
<!-- TASK - FMT - Date -->
	<li class="profileCardLi">
        <p class="managerOfferStatus">{{status}} <!-- Pending, Confirmed and Declined--></p>
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
            <li class="money profileCardItem">${{offerprice}}</li>
            <li class="profileCardItem">{{date}}</li>
            <li class="profileCardItem">{{location}}</li>
            <li class="managerOfferView"><a href="/buyoffer/{{_id}}" class="ph-button ph-btn-blue">View Offer</a></li>
        </ul>
    </li>
</template>