<template name="Manager">
<!-- TASK - underline list title should be yielded on hover like listing card -->
<div class="oneDiv">
    <ul class="nav nav-tabs managerNavTabs">
        <li><a href="#menu1" class="navTab">Your Offers</a></li>
        <li><a href="#menu2" class="navTab">Your Listings</a></li>
    </ul>

    <div class="tab-content profileManagerDivs">
        <div id="menu1" class="tab-pane fade">
            <div class="profileManagerOffer">
                <ul class="profileManagerUl">
                    {{#each offer}}
                    {{> ManagerCardOffer}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="profileManagerOffer">
                <ul class="profileManagerUl">
                    {{#each listing}}
                    {{> ManagerCardListing}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
</template>