<template name="MeetupRequestBuyer">
	<div class="meetupRequestSHBDiv div">
		<div class="meetupRequestSHBTitle">
			<h3>Sent</h3>
		</div>
		<div class="meetupRequestSHBCards">
			<ul class="fullCardUl">
				<!-- {{#each listing}} -->
					{{> meetup_request_status}}
				<!-- {/each} -->
			</ul>
		</div>
	</div>
</template>

<template name="MeetupRequestSeller">
	<div class="meetupRequestSHBDiv div">
		<div class="meetupRequestSHBTitle">
			<h3>Recieved</h3>
		</div>
		<div class="meetupRequestSHBCards">
			<ul class="fullCardUl">
				<!-- {{#each listing}} -->
					{{> meetup_request_status}}
				<!-- {/each} -->
			</ul>
		</div>
	</div>
</template>