<template name="ProfileSubNav">
<div class="helpcenternav div">
    <nav class="helpnav">
        <ul class="helplogol">
            <a href="#"><h2 class="helplogo">Overview</h2></a>
        </ul>
        <ul class="helpiteml">
            <li><a href="#" class="helpitem">Activities</a></li>
            <li><a href="#" class="helpitem">Meetup Requests</a>
            	<ul>
					<li><a href="#">Buying</a></li>
					<li><a href="#">Selling</a></li>
				</ul>
            </li>
            <li><a href="#" class="helpitem">Listings</a>
            	<ul>
					<li><a href="#">Active</a></li>
					<li><a href="#">Inactive</a></li>
					<li><a href="#">Unsold</a></li>
				</ul>
            </li>
            <li><a href="#" class="helpitem">Meetup History</a></li>
            <li><a href="#" class="helpitem">Settings</a></li>
        </ul>
    </nav>
</div>
</template>