<template name="UserProfileSettings">
<!-- TASK - ADD user decription editing -->
<!-- TASK - ADD Blocking-->
<!-- TASK - ADD Followers -->
	<div class="profilediv div">
		<div class="profilecontent">
			<div class="profileleft">
				<div class="proimg">
					<a><img class="profilepic" src="{{picture}}"></a>
				</div>
				<div class="profreq">
					<!-- Frequency Graph Goes Here -->
				</div>
			</div>
			<div class="profileright">
				<div class="proname">
					<h2>{{name}}</h2>
				</div>
				<div class="profileEditQuestions">
					<ul>
						<li><input type="text" class="proSetLocation" placeholder="Brooklyn, NY"><!-- LocationFromFacebook --></li>
						<li><input type="checkbox" name="show" value="showfb" class="proSetFB"> Show General Location</li>
					</ul>
				</div>
				<div class="profileEditDescripton">
					<input type="text" class="proSetLocation" placeholder="Description Here">
					<!-- Previous Description or for new users "Add a Description" -->
				</div>
				<div class="profileEditSaveBtn">
					<button type="button">Save Changes</button>
				</div>	
			</div>
		</div>
	</div>
</template>