<template name="UserProfileSettings">
<!-- TASK - ADD user decription editing -->
<!-- TASK - ADD Blocking-->
<!-- TASK - ADD Followers -->

<!--<div class="profilediv div">
		<div class="profilecontent">
			<div class="profileleft">
			</div>
			<div class="profileright">
				<div class="profileEditQuestions">
					<ul>
						<li>Location: <input type="text" class="proSetLocation" value="New York"></li>
					</ul>
				</div>
				<div class="profileEditDescripton">
					<textarea class="listdescription" placeholder="Edit your profile description"></textarea>
				</div>
				<div class="profileEditSaveBtn">
					<input type="submit" class="add ph-button" value="Save Changes">
				</div>	
			</div>
		</div>
	</div> -->

<!-- Take Caution When Adding New Classes-->
	<div class="profileSettingsDiv oneDiv"> 
		<ul class="profileSettingsUl">
			<li class="profileSettingsLi">
				<ul class="profileSettingsPhoto">
					<li><h4>Photo</h4></li>
					<!-- Current Image Is Default Value -->					
					<li class="profileSettingsImage"><img src="{{picture}}"><input type="file" class="profileSettingsSelectImg"></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsAbout">
					<li><h4>About You</h4></li>
					<!-- "Edit Your Profile Description" or Set Description Is Default Value -->
					<li><input type="text" maxlength="100" rows="3" class="profileSettingsAboutInput" placeholder="Edit Your Profile Description (100 Characters Max)"></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsEmail">
					<li><h4>Email</h4></li>
					<!-- Current Email Is Default Value or spacetrades@example.com -->
					<li><input type="text" class="profileSettingsEmailInput" placeholder="m.yusuf0377@gmail.com"></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsLocation">
					<li><h4>Location</h4></li>
					<!-- Current Location Is Default Value -->
					<li><input type="text" class="profileSettingsLocationInput" placeholder="Brooklyn, New York"></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsUsername">
					<li><h4>Profile Link</h4></li>
					<!-- Current Profile Link Is Default Value spacetrades.com/DefaultProfileLink -->
					<li><input type="text" class="profileSettingsUsernameInput" placeholder="Spacetrades.com/CustomLink"></li>
				</ul>
			</li>
		</ul>
		<div class="profileSettingsButton">
			<input type="submit" class="profileSettingsSubmit" value="Save Changes">
		</div>
	</div>
</template>