<template name="UserProfileSettings">
	<div class="profilediv div">
		<div class="profilecontent">
			<div class="profileleft">
				<div class="proimg">
					<a><img class="profilepic" src="{{picture}}"></a>
				</div>
				<div class="profreq">
					<!-- Frequency Graph Goes Here -->
					<!-- <p><i class="fa fa-flag"></i>Report</p> -->
				</div>
			</div>
			<div class="profileright">
				<div class="proname">
					<h2>{{username}}</h2>
					<ul>
						<li><!-- Stars Go Here --></li>
						<li><i class="fa fa-info-circle"></i></li>
					</ul>
				</div>
				<div class="profileEditQuestions">
					<ul>
						<li><input type="text" class="proSetLocation" placeholder="Brooklyn, NY"><!-- LocationFromFacebook --></li>
						<li><input type="checkbox" name="show" value="showfb" class="proSetFB"> Show Location</li>
						<!-- <li><input type="checkbox" name="show" value="showage" class="proSetFB"> Show Age</li> -->
					</ul>
				</div>
				<div class="profileEditDescripton">
					<input type="text" class="proSetLocation" placeholder="Description Here">
					<!-- Previous Description or for new users "Add a Description" -->
				</div>
				<div class="profileEditSaveBtn">
					<button type="button">Save Changes</button>
				</div>	
			</div>
		</div>
		<div class="profilesale">
			<p>Items For Sale</p>
			<ul>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
				<li><img src="#" class="prosaleimg"></li>
			</ul>
			<a>See More</a>
		</div>
	</div>
</template>