<template name="profileManagerOffers">
	<div class="profileCard oneDiv">
        <ul class="profileCardUl">
            {{#each offer}}
            	{{> ManagerCardOffer}}
            {{/each}}
            <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
		    <li class="profileCardLi">
		        <p class="managerOfferStatus">Pending <!-- Pending, Confirmed and Declined--></p>
		        <ul class="profileCardImage">
		            <a href="/listing/{{listingId}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
		        </ul>
		        <ul class="profileCardInfo">
		            <li><a href="/listing/{{listingId}}"><h4>Nike Example Do Not Remove</h4></a></li>
		            <li class="money profileCardItem">$350</li>
		            <li class="profileCardItem">July 15, 2015</li>
		            <li class="profileCardItem">555 5th Avenue New York, NY 10038</li>
		            <li class="managerOfferView">
		                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#sentOfferModal">
		                  View Offer
		                </button>
		            </li>
		        </ul>
		    </li>
        </ul>
    </div>
    {{> ModalSentOffer}}
</template>