<!-- Private to user -->

<template name="ListingStatus">
	<div class="mrListStatusDiv">
<!-- 		<div class="mrListStatusName">
			<ul class="mrListStatusNameUl">
				<li>Sold By: {{username}}</li>
			</ul>
		</div> -->
		<div class="mrListStatusImgValues">
			<div class="mrListStatusImg">
				<img src="{{img1}}">
			</div>
			<div class="mrListStatusValues">
				<ul class="mrListStatusValuesUl">
					<li><a href="/listing/{{_id}}"> {{listing_title}}</a></li>
					<li>Price: {{price}}</li>
					<li>Size: {{size}}</li>
					<li>Condition: {{condition}}</li>
				</ul>
			</div>
		</div>
	</div>
</template>