<template name="profileViewSentOffer">
{{#each listingOffers}}
	<!-- View Your Offer -->
    <div class="profileReceivedOffers oneDiv">
        <ul class="profileReceivedUl">
            <li class="profileReceivedLi profileViewMeetupLi">
                <ul class="profileReceivedCardLeft">
                    <li class="profileReceivedImage">
                        <a href="/listing/{{listingId}}"><img src="{{img}}" class="profileReceivedImg"></a>
                    </li>
                </ul>
                <ul class="profileReceivedCardRight profileViewMeetupRight">
                    <li><a href="/listing/{{listingId}}"><h3>{{listing_title}}</h3></a></li>
                    <li class="profileReceivedName">You sent an Offer To <a href="/profile/{{creator_id}}">{{creator}}</a></li>
                    <li class="profileReceivedPrice"><b>Offered Price:</b> <span class="money">${{offerprice}}</span></li>
                    <li class="profileReceivedDate"><b>Date of Meetup:</b> {{date}}</li>
                    <li class="profileReceivedLocation"><b>Location:</b> {{location}}</li>
                </ul>
                <div id="profileReceivedOffersMaps">
                    {{> googleMap name="itemoffermap" options=ItemOfferOptions}}
                </div>
            </li>
        </ul>
    </div>
{{/each}}
</template>