<template name="UserProfile">
<div class="profilediv div">
	<div class="profilecontent">
		<div class="profileleft">
			<div class="propic">
				<img class="profilepic" src="{{picture}}">
			</div>
			<div class="profreq">
				<!-- Frequency Graph Goes Here -->
				<p><i class="fa fa-flag"></i>Report</p>
			</div>
		</div>
		<div class="profileright">
			<div class="proname">
				<h2>{{username}}</h2>
				<ul>
					<li><!-- Stars Go Here --></li>
					<li><i class="fa fa-info-circle"></i></li>
				</ul>
			</div>
			<div class="profileloc">
			<h2>Location</h2>
				<ul>
					<li>Brooklyn, NY</li>
					<li><i class="fa fa-facebook-official"></i></li>
				</ul>
			</div>
			<div class="promssg">
				<p>I like z coding and z Chess </p>
			</div>
			<div class="procontact">
				<button type="button">Contact</button>
			</div>	
		</div>
	</div>
	<div class="profilesale">
		<p>Items For Sale</p>
		<ul>
{{> home}}
			<li><img src="#" class="prosaleimg"></li>
		</ul>
		<a>See More</a>
	</div>
</div>
</template>