<template name="reporting">
<div class="reportdiv div">
    <h2 class="reportlogo">Reporting</h2>
    <ul>
        <li>
            <h4 class="reportheading">1. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="reportheading">2. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="reportheading">3. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="reportheading">4. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="reportheading">5. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="reportheading">6. Heading Title</h4>
            <p class="reportpar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
    </ul>
</div>
</template>