<template class="reportlisting">
<div class="reportdiv div">
    <h2 class="reportlogo">Reporting</h2>
    <div>
        <h2>Report Listing</h2>
        <div class="reportname">
            <ul>
                <li><img src="#" class="#"></li>
                <li><a src="#">Nike Air Black Edition V3</a></li>
            </ul>
        </div>
        <div class="reportcheck">
            <ul>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
            </ul>
        </div>
        <div class="reporttext">
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>