<template name="reportfeature">
<div class="reportdiv div">
    <h2 class="reportlogo">Reporting</h2>
    <div>
        <h2>Report Broken Feature</h2>
        <div class="reportdrop">
            <p>Select:
                <select>
                  <option value="">Lorum</option>
                  <option value=""></option>
                  <option value=""></option>
                  <option value=""></option>
                </select>
            </p>
        </div>
        <div class="reporttext">
            <p>Description</p>
            <input type="text" class="reportuser" id="reportuser" placeholder="" />
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>