<template name="ReportListing">
<div class="reportDiv oneDiv">
    <h2 class="reportLogo">Report</h2>
    <div class="reportMain">
        <h3>Report Listing</h3>
        <div class="reportName">
            <ul>
                <li class="reportListingImg"><img src="#" class="#"></li>
                <li><a src="#"><p>Nike Air Black Edition V3</p></a></li>
            </ul>
        </div>
        <div class="reportCheck">
            <p>Select All Which Apply</p>
            <ul>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
            </ul>
            <ul>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
                <li><input type="checkbox" name="#" value="#">Lorem Ipsum Dolarum Structorum Bentorarum Summros Lames</li>
            </ul>
        </div>
        <div class="reportText">
            <p>Tell Us More</p>
            <textarea rows="5" ></textarea>
        </div>
        <div class="reportBtn">
            <button type="button">Submit</button>
        </div>
    </div>
</div>
</template>