<template name="safety">
<div class="safetydiv div">
    <h2 class="safetylogo">Safety</h2>
    <ul>
        <li>
            <h4 class="safetyheading">Street Smart</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="safetyheading">2. Heading Title</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="safetyheading">3. Heading Title</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="safetyheading">4. Heading Title</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="safetyheading">5. Heading Title</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
        <li>
            <h4 class="safetyheading">6. Heading Title</h4>
            <p class="safetypar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
        </li>
    </ul>
</div>
</template>