<template name="searchcard">
    <li class="searchResultsCardLi">
        <ul class="searchResultsCardLeft">
            <li class="searchResultsCardImage">
                <a href="/listing/{{_id}}">
                    <img src="{{img1}}" class="searchResultsCardImg">
                </a>
            </li>
        </ul>
        <ul class="searchResultsCardRight">
            <li class="searchResultsCardTitle"><a href="/listing/{{_id}}"><h2>{{listing_title}}</h2></a></li>
            <li class="searchResultsCardName"><p>Sold By <a href="/profile/{{creator_id}}">{{username}}</a></p></li>
            <li class="searchResultsCardPrice"><span class="money">${{price}}</span></li>
            <li class="searchResultsCardSize"><b>Size:</b> {{size}}</li>
            <li class="searchResultsCardCondition"><b>Condition:</b> {{condition}}</li>
            <li class="searchResultsCardLocation"><b>Area:</b> {{city}}, <b> New York</b></li>
        </ul>
    </li>
</template>