<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SpaceTrades</title>
    <link rel="shortcut icon" href="favicon.ico"> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b017b0ac10601c" async="async"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
</body>

<!-- TASK - We can use the spinner again -->

<template name="LayoutHome">
{{> sAlert}}
    {{#if currentUser}}
    {{> homeheaderpost}}
<!--     {{offerShow}} -->
    {{> yield}}
    {{else}}
    {{> homeheaderpre}}
<!--     {{offerShow}} -->
    {{> yield}} 
{{/if}}
</template>

<!-- TASK - Make template for Messages -->
<template name="LayoutMessages">
{{> sAlert}}
    {{#if currentUser}}
    {{messageShow}}
    {{> headerpost}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutSearch">
{{> sAlert}}
    {{#if currentUser}}
    {{> headersearchpost}}
    {{> yield}}
    {{else}}
    {{> headersearchpre}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutHelp">
{{> sAlert}}
    {{#if currentUser}}
    {{> headerpost}}
    {{> HelpCenterNav}}
    {{> yield}}
    {{> footer}}
    {{else}}
    {{> headerpre}}
    {{> HelpCenterNav}}
    {{> yield}}
    {{> footer}}
{{/if}}
</template>

<template name="LayoutProfile">
{{> sAlert}}
 {{#if currentUser}}
    {{> headerpost}}
    {{> ProfileCenterNav}}
    {{> yield}}
    {{else}}
    {{> headerpre}}
    {{> ProfileCenterNav}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutDefault">
{{> sAlert}}
 {{#if currentUser}}
    {{> headerpost}}
<!--     {{offerShow}} -->
    {{userShow}}
    {{> yield}}
    {{else}}
    {{> headerpre}}
<!--     {{offerShow}} -->
    {{userShow}}
    {{> yield}}
{{/if}}
</template>

<template name="LayoutDefaultPost">
    {{> homeheaderpost}}
    {{> loginButtons}}
    {{listingShow}}
    {{> yield}}
</template>
