<template name="searchpage">
<!-- TASK - Populate locations with top ten cities near you -->
<div class="searchfield job largeSearch oneDiv">
            <input type="text" id="search" class=" search search2" value="{{search}}" placeholder="Brand, Name, Neighborhood, Size, Price..."  >
            <a href="/search" class="homesearchbtn">Search</a>
        </div>

        
        <div class="searchResultsDiv oneDiv">
            <ul class="searchResultsOptions">
                <li class="searchResultsCount">{{getListings.length}} results for "{{search}}"</li>
                <li class="sortClick click-nav">
                    <ul class="no-js">
                        <li>
                            <a class="clicker sortClicker">Sort: Best Match<i class="fa fa-caret-down"></i></a>
                            <ul class="optionsItems sortItems">
                                <li><a href="">Price: Low - High</a></li>
                                <li><a href="">Price: High - Low</a></li>
                                <li><a href="">Distance: Closest</a></li>
                                <li><a href="">Distance: Furthest</a></li>
                                <li><a href="">Newly Listed</a></li>
                                <li><a href="">Ending Soon</a></li>
                                <li><a href="">Best Match</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="searchResultsRefine">
                <p class="searchRefineTitle">Refine Search</p>
                <ul class="searchRefineCategories">
                    <p class="searchRefineHeadings">Categories</p>
                    <li><input type="checkbox" value="Apparel">Apparel</li>
                    <li><input type="checkbox" value="Electronics">Electronics</li>
                    <li><input type="checkbox" value="Shoes">Shoes</li>
                    <li><input type="checkbox" value="Other">Other</li>
                </ul>
          <!--  Comment Reason - Too few brands. All or None

                <ul class="searchRefineBrand">
                    <p class="searchRefineHeadings">Brand</p>
                    <li><input type="checkbox" value="Nike">Addidas</li>
                    <li><input type="checkbox" value="Jordan">Asics</li>
                    <li><input type="checkbox" value="Addidas">Jordan</li>
                    <li><input type="checkbox" value="Addidas">Converse</li>
                    <li><input type="checkbox" value="Addidas">Ewing Athletics</li>
                    <li><input type="checkbox" value="Addidas">Fila</li>
                    <li><input type="checkbox" value="Addidas">Li Ning</li>
                    <li><input type="checkbox" value="Addidas">New Balance</li>
                    <li><input type="checkbox" value="Addidas">Nike</li>
                    <li><input type="checkbox" value="Addidas">Puma</li>
                    <li><input type="checkbox" value="Addidas">Radii</li>
                    <li><input type="checkbox" value="Addidas">Reebok</li>
                    <li><input type="checkbox" value="Addidas">Saucony</li>
                    <li><input type="checkbox" value="Addidas">Sperry</li>
                    <li><input type="checkbox" value="Addidas">Supra</li>
                    <li><input type="checkbox" value="Addidas">Timberland</li>
                    <li><input type="checkbox" value="Addidas">Toms</li>
                    <li><input type="checkbox" value="Addidas">Vans</li>
                    <li><input type="checkbox" value="Addidas">Under Armour</li>
                    <li><input type="checkbox" value="Addidas">Other</li>
                </ul> -->
                <ul class="searchRefineCondition">
                    <p class="searchRefineHeadings">Condition</p>
                    <li><input type="checkbox" value="New">New</li>
                    <li><input type="checkbox" value="LikeNew">Like New</li>
                    <li><input type="checkbox" value="Used">Used</li>
                    <li><input type="checkbox" value="Needs Repair">Needs Repair</li>
                </ul>
                <ul class="searchRefineSize">
                    <p class="searchRefineHeadings">Size Range</p>
                    <li class="searchRefineSizeStart">
                    <!-- TASK - Load from array -->
                        <select class="listize1">
                            <option value="" disabled selected>Min</option>
                            <option value="5">5</option>
                            <option value="5.5">5.5</option>
                            <option value="6.5">6</option>
                            <option value="6">6.5</option>
                            <option value="7">7</option>
                            <option value="7.5">7.5</option>
                            <option value="8">8</option>
                            <option value="8.5">8.5</option>
                            <option value="9">9</option>
                            <option value="9.5">9.5</option>
                            <option value="10">10</option>
                            <option value="10.5">10.5</option>
                            <option value="11">11</option>
                            <option value="11.5">11.5</option>
                            <option value="12">12</option>
                            <option value="12.5">12.5</option>
                            <option value="13">13</option>
                            <option value="13.5">13.5</option>
                            <option value="14">14</option>
                            <option value="14.5">14.5</option>
                            <option value="15">15</option>
                        </select>
                    </li>
                    <li class="searchRefineDash">to</li>
                    <li class="searchRefineSizeEnd">
                        <select class="listsize2">
                            <option value="" disabled selected>Max</option>
                            <option value="5">5</option>
                            <option value="5.5">5.5</option>
                            <option value="6.5">6</option>
                            <option value="6">6.5</option>
                            <option value="7">7</option>
                            <option value="7.5">7.5</option>
                            <option value="8">8</option>
                            <option value="8.5">8.5</option>
                            <option value="9">9</option>
                            <option value="9.5">9.5</option>
                            <option value="10">10</option>
                            <option value="10.5">10.5</option>
                            <option value="11">11</option>
                            <option value="11.5">11.5</option>
                            <option value="12">12</option>
                            <option value="12.5">12.5</option>
                            <option value="13">13</option>
                            <option value="13.5">13.5</option>
                            <option value="14">14</option>
                            <option value="14.5">14.5</option>
                            <option value="15">15</option>
                        </select>
                    </li>
                </ul>
                <ul class="searchRefineStyle">
                    <p class="searchRefineHeadings">Style</p>
                    <li><input type="checkbox" value="Basketball">Basketball</li>
                    <li><input type="checkbox" value="Athletic">Baseball</li>
                    <li><input type="checkbox" value="Running">Running</li>
                    <li><input type="checkbox" value="Athletic">Athletic</li>
                    <li><input type="checkbox" value="Athletic">Casual</li>
                    <li><input type="checkbox" value="Athletic">Football</li>
                    <li><input type="checkbox" value="Athletic">Skate</li>
                    <li><input type="checkbox" value="Athletic">Soccer</li>
                    <li><input type="checkbox" value="Athletic">Walking</li>
                </ul>
                <ul class="searchRefineColor">
                    <p class="searchRefineHeadings">Color</p>
                    <li>
                        <input type="text" id="colorpicker" style="display: none;">
                    </li>
                </ul> 
                <ul class="searchRefinePrice">
                    <p class="searchRefineHeadings">Price Range</p>
                    <li>$<input type="text" class="listprice" placeholder=""/></li>
                    <li class="searchRefineDash">to</li>
                    <li>$<input type="text" class="listprice" placeholder=""/></li>
                </ul>
                <ul class="searchRefineLocation">
                    <p class="searchRefineHeadings">Location</p>
                    <li><input type="checkbox" value="Manhattan">Manhattan</li>
                    <li><input type="checkbox" value="Queens">Queens</li>
                    <li><input type="checkbox" value="Brooklyn">Brooklyn</li>
                    <li><input type="checkbox" value="Bronx">Bronx</li>
                    <li><input type="checkbox" value="SI">Staten Island</li>
                </ul>
                <ul class="searchRefineTrades">
                    <p class="searchRefineHeadings">Accepts Trades</p>
                    <!-- TASK - Radio button is broken. Accepts two inputs -->
                    <li><input type="radio" name="Yes" value="Yes">Yes</li>
                    <li><input type="radio" name="No" value="No">No</li>
                </ul> 
                <ul class="searchRefineRating">
                    <p class="searchRefineHeadings">Seller Rating</p>
                    <li>
                    <!-- TASK - Make seperate template for star ratings -->

                       <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class = "full" for="star5"></label>
                            <input type="radio" id="star4half" name="rating" value="4 and a half" />
                            <label class="half" for="star4half"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class = "full" for="star4"></label>
                            <input type="radio" id="star3half" name="rating" value="3 and a half" />
                            <label class="half" for="star3half"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class = "full" for="star3"></label>
                            <input type="radio" id="star2half" name="rating" value="2 and a half" />
                            <label class="half" for="star2half"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class = "full" for="star2"></label>
                            <input type="radio" id="star1half" name="rating" value="1 and a half" />
                            <label class="half" for="star1half"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class = "full" for="star1"></label>
                            <input type="radio" id="starhalf" name="rating" value="half" />
                            <label class="half" for="starhalf"></label>
                        </fieldset>
                    </li>
                </ul>
            </div>
            <div class="searchResultsCards">
                <ul class="searchResultsCardUl">
                    {{#each getListings}}
                    {{> searchcard}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
        $(function () {
          $('.click-nav > ul').toggleClass('no-js js');
          $('.click-nav .js ul').hide();
          $('.click-nav .js').click(function(e) {
            $('.click-nav .js ul').slideToggle(200);
            $('.clicker').toggleClass('active');
            e.stopPropagation();
          });
          $(document).click(function() {
            if ($('.click-nav .js ul').is(':visible')) {
              $('.click-nav .js ul', this).slideUp();
              $('.clicker').removeClass('active');
            }
          });
        });
        </script>
</template>