<template name="allNotifications">
	<div class="notifDiv oneDiv">
	<!-- Reference Notifications On Other Social Networks -->
	<!-- To view this page create notification functionality, or copy and paste li with the class "notifLi" multiple times outside of {{each}} but within the ul with the class "notifUl"-->
		<div class="notifMainWrap">
			<h2>Your Notifications</h2>
			<ul class="notifUl">
				<!-- REAL CODE: DO NOT DELETE -->
				{{#each notification}}
				<li class="notifLi">
					<ul>
						<li class="notifImage">
							<img src="http://graph.facebook.com/663275057124879/picture/?type=small" class="notifImg">
						</li>
						<li class="notifInfo">
							<ul>
								<!-- Jacob, and Nike Air Max Retro are links -->
								<li class="notifMessage"><p class="notifMessageP"><a href="#">Jacob</a> sent you an offer of <span class="money">$250</span> for <a href="#">Nike Air Max Retro</a></p></li>
								<li class="notifDate"><p>Yesterday at 3:40pm</p></li>
							</ul>
						</li>
					</ul>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>