<template name="searchpage">
<div class="searchdiv div">

<div class="searchfield job">
     <input type="text" id="search" class=" search search2" placeholder="Brand, Name, Neighborhood, Size, Price..." value="{{search}}" >
    <a href="/search" class="homesearchbtn">Search</a>
</div>
<h1 class="searchopts">{{getListings.length}} <span class="searchtext"> {{search}}</span></h1>
{{#each getListings}}
{{> searchcard}}
{{/each}}

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div>
        <p>Refine Search</p>
        <div>
          <!--   <ul>
                <p>Categories</p>
                <li><a href="">Apparel</a></li>
                <li><a href="">Electronics</a></li>
                <li><a href="">Shoes</a></li>
                <li><a href="">Other</a></li>
            </ul>
            <ul>
                <p>Brand</p>
                <li><input type="checkbox" value="Nike">Addidas</li>
                <li><input type="checkbox" value="Jordan">Asics</li>
                <li><input type="checkbox" value="Addidas">Jordan</li>
                <li><input type="checkbox" value="Addidas">Nike</li>
            </ul>
            <ul>
                <p>Condition</p>
                <li><input type="checkbox" value="New">New</li>
                <li><input type="checkbox" value="LikeNew">Like New</li>
                <li><input type="checkbox" value="Used">Used</li>
                <li><input type="checkbox" value="Broken">Broken</li>
            </ul>
            <ul>
                <p>Size</p>
                <li><input type="checkbox" value="4">4</li>
                <li><input type="checkbox" value="5">5</li>
                <li><input type="checkbox" value="6">6</li>
                <li><input type="checkbox" value="7">7</li>
                <li><input type="checkbox" value="8">8</li>
                <li><input type="checkbox" value="9">9</li>
                <li><input type="checkbox" value="10">10</li>
                <li><input type="checkbox" value="11">11</li>
                <li><input type="checkbox" value="12">12</li>
                <li><input type="checkbox" value="13">13</li>
            </ul>
            <ul>
                <p>Style</p>
                <li><input type="checkbox" value="Basketball">Basketball</li>
                <li><input type="checkbox" value="Running">Running</li>
                <li><input type="checkbox" value="Athletic">Athletic</li>
            </ul>
            <ul>
                <p>Color</p>
                <li><input type="checkbox" value="Black">Black</li>
                <li><input type="checkbox" value="Green">White</li>
                <li><input type="checkbox" value="Blue">Blue</li>
                <li><input type="checkbox" value="Red">Red</li>
                <li><input type="checkbox" value="Yellow">Yellow</li>
                <li><input type="checkbox" value="Purple">Purple</li>
            </ul> 
            <ul>
                <p>Price</p>
                <li>$<input type="text" class="searchpricefirst"/></li>
                <li>-</li>
                <li>$<input type="text" class="searchpricefinal"/></li>
            </ul>
            <ul>
                <p>Location</p>
                <li><input type="checkbox" value="Manhattan">Manhattan</li>
                <li><input type="checkbox" value="Queens">Queens</li>
                <li><input type="checkbox" value="Brooklyn">Brooklyn</li>
                <li><input type="checkbox" value="Bronx">Bronx</li>
                <li><input type="checkbox" value="SI">Staten Island</li>
            </ul>
            <ul>
                <p>Accepts Trades</p>
                <li><input type="radio" name="Yes" value="Yes">Yes</li>
                <li><input type="radio" name="No" value="No">No</li>
            </ul> -->
            <ul>
                <p>Seller Rating</p>
                <li><!-- Stars Go Here --></li>
            </ul>
        </div>
    </div>
   <!--  <div>
        <div>
            <ul>
                <li>
                    <div>
                        <div>
                            <p>Jordan 6</p>
                            <p><img src="#" href="#">Steve</p>
                        </div>
                        <div>
                            <p>$320</p>
                        </div>
                        <div>
                            <p>'12</p>
                            <p>Lower East Side, Manhattan, NY</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> -->
</div>
</template>