<template name="footer">
    <div class="footer">
            <div class="footerLeft">
                <ul class="footerItems">
                    <li><h3 class=""><a href="" class="">SpaceTrades</a></h3></li>
                    <li><h4 class=""><a href="" class="">About</a></h4></li>
                    <li><h4 class=""><a href="" class="">Help</a></h4></li>
                    <li><h4 class=""><a href="" class="">FAQ</a></h4></li>
                    <li><h4 class=""><a href="" class="">Terms &amp; Privacy</a></h4></li>
                    <li><h4 class=""><a href="" class="">Safety</a></h4></li>
                    <li><h4 class=""><a href="" class="">Advertise</a></h4></li>
                    <li><h4 class=""><a href="" class="">Report</a></h4></li>
                    <li><h4 class=""><a href="" class="">Contact</a></h4></li>
                </ul>
                <ul class="footerbottom">
                    <li class="footerCopy">&copy; 2015 SpaceTrades. All Rights Reserved</li>
                    <li class="footerSocial">
                        <ul>
                            <li><i class="fa fa-facebook"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-instagram"></i></li>
                            <li><i class="fa fa-tumblr"></i></li>
                            <li><i class="fa fa-youtube-play"></i></li>
                            <li><i class="fa fa-envelope"></i></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>  
</template>