<!-- WE ARE NO LONGER HAVING ADVERTISE PAGE-->

<template name="advertise">
<div class="advertiseDiv oneDiv">
	<div class="">
		<ul>
			<li>
				<h1>Advertise With SpaceTrades</h1>
				<h3>Reach Our Specific Market With Ease.</h3>
				<ul>
					<li><a href="">Contact Us</a></li>
					<li>Experience it for yourself. <a href="">Sign Up</a></li>
				</ul>
			</li>
			<li>
				<img src="">
			</li>
		</ul>
	</div>
	<div class="">
		<ul>
			<li>
				
			</li>
			<li>
				
			</li>
		</ul>
	</div>
</div>
</template>