<template name="footer">
    <div class="footer">
            <div class="footerLeft">
                <ul class="footerItems">
                    <li><h3><a href="/">SpaceTrades</a></h3></li>
                    <li><h4><a href="/help/about">About</a></h4></li>
                    <li><h4><a href="/help">Help</a></h4></li>
                    <li><h4><a href="/help/faq">FAQ</a></h4></li>
                    <li><h4><a href="/help/terms">Terms of Use &amp; Privacy</a></h4></li>
                    <li><h4><a href="/help/safety">Safety</a></h4></li>
                    <li><h4><a href="/advertise">Advertise</a></h4></li>
                    <li><h4><a href="/help/report">Report</a></h4></li>
                    <li><h4><a href="/help/contact">Contact</a></h4></li>
                </ul>
                <ul class="footerbottom">
                    <li class="footerCopy">&copy; 2015 SpaceTrades. All Rights Reserved</li>
                    <li class="footerSocial">
                        <ul>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-tumblr"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
                            <li><a href=""><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</template>