<template name="terms">
<div class="termsdiv div">
    <h2 class="termslogo">Privacy &amp; Terms</h2>
    <ul>
        <li>
            <h3 class="termssec">Privacy Policy</h3>
            <ul>
                <li>
                    <h4 class="termsheading">1. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">2. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">3. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">4. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
        <br>
        <li>
            <h3 class="termssec">Terms &amp; Conditions</h3>
            <ul>
                <li>
                    <h4 class="termsheading">1. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">2. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">3. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
                <li>
                    <h4 class="termsheading">4. Section Heading</h4>
                    <p class="termspar">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut quam mauris. Vestibulum eget lorem justo. Donec in tincidunt leo. Suspendisse quis sagittis turpis. Praesent.</p>
                </li>
            </ul>
        </li>
    </ul>
</div>
</template>