/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Sass Document For Modals On SpaceTrades
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Class Naming Convention: 
	Start With 'mod' 
	Then Add Name Of Page 'ie. AddListing'
	End With The Name Of The Function Of Element 
	EX. .modAddListingTrigger
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Global Modal Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal {
	margin-top: 2%;
}
 
.modal-dialog {
	width: 800px;
}

.modal-body {
	min-height: 500px;
	max-height: 500px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.modMultiBtn {
	vertical-align: bottom !important;
	float: right !important;
}

.modal-content {
	border: 8px solid #f8504b !important;
	border-radius: 15px !important;
	// background-color: #f8504b !important;
}

.modal-content > div {
	background-color: #fff !important;
	border-radius: 11px;
}

.modMultiBtnSingle {

}

.modMultiBtnDouble {

}

.modMultiBtn {
	padding: 10px !important;
}

.modMultiBtn button {
	padding: 12px 50px;
	border-radius: 4px;
}

.modalNext {
	background-color: #04b2ec !important; 
}

.modalNext:hover {
	background-color: #06C1FF !important;
} 

.modalBack, .modalExit  {
	background-color: #999 !important;
	margin-right: 10px;
}

.modalBack:hover, .modalExit:hover  {
	background-color: #ababab !important; 
}

.modalSubmitBtn {
	padding: 0 !important;
	border-radius: 0 !important;
}

.modalSubmitBtn input {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: #04b2ec;
	border: none;
	border-radius: 4px !important;
}

.modalSubmitBtn input:hover {
	background-color: #06c1ff;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Location Radius Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modLocationRadiusTrigger {
	color: #404040 !important;
	background-color: #f8504b !important;
}

.modLocationRadiusTrigger:hover {

}

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Notifications Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modNotificationsTrigger {
	background-color: #333 !important;
    padding: 10px 0;
    width: 105%;
    font-size: 0.7rem;
    margin: 0 0 -5px -5px;
}

.modNotificationsTrigger:hover {
	text-decoration: underline;
}

/*~~ Button End ~~*/

.notifMainWrap h2 {
	margin-top: 50px !important;
  font-weight: 400 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Offer Request Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modOfferRequestTrigger {
	padding: 15px 28px;
    color: #fff;
    background-color: #f8504b;
    border: 1px solid #f8504b;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;    
    border-radius: 6px;
    overflow: hidden;
}

.modOfferRequestTrigger:hover {
	background-color: #f73c37;
}

/*~~ Button End ~~*/

.modOfferRequestDiv > div, .modAddListingDiv > div, .modFeedbackInitialDiv > div {
	padding: 10px 40px;
}

.modOfferRequestPageOne, .modAddListingPageOne, .modAddListingPageTwo {
	width: 100%;
	margin-top: 50px;
	vertical-align: top;
}

.modOfferRequestPageOneUl {
	margin: 0;
}

.modOfferRequestPageOneUl li h2, .modOfferRequestPageTwo li h2, .modOfferRequestPageThree h2, 
.modAddListingDiv h2, .modFeedbackInitialDiv h2, .modReportDiv h2 {
	color: #555 !important;
	font-size: 2rem !important;
	font-weight: 400 !important;
	margin: 20px 0 !important;
}

.modOfferRequestPageOneUl > li:first-child input, .modOfferRequestPageTwo li:first-child input, .modAddListingPageOneUl > li input {
	width: 600px !important;
	padding: 12px 10px 12px 20px !important;
	border-radius: 4px !important;
	text-align: left !important;
	outline: none !important;
	border: 2px solid #d3d3d3 !important;
	font-weight: 400 !important;
} 

.modOfferRequestPageOneUl > li:first-child input:focus, .modAddListingPageOneUl > li input:focus {
	border-color: $color-spacered !important;
}

.modOfferRequestPageOneUl > li:nth-child(2) {
	margin-top: 60px;
}

/* Radio Buttons */
.radioWrap ul li {
	clear: both;
	color: #999 !important;
	display: inline-block;
}

.radioWrap ul li:nth-child(2), .radioWrap ul li:nth-child(3) {
	margin-left: 15px;
}

.radioWrap ul li label {
	width: 200px;
  	border-radius: 3px;
  	border: 1px solid #D1D3D4;
  	font-size: 1.1rem !important;
}

/* hide input */
.radioWrap ul li input.radioWrapElement:empty {
	margin-left: -2000px;
}

/* style label */
.radioWrap ul li input.radioWrapElement:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radioWrap ul li input.radioWrapElement:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
.radioWrap ul li input.radioWrapElement:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.radioWrap ul li input.radioWrapElement:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.radioWrap ul li input.radioWrapElement:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

.radioWrap ul li input.radioWrapElement:checked ~ label {
	color: #777;
}

/* radio focus */
.radioWrap ul li input.radioWrapElement:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

/* Footer Button */
.modMultiBtnOfferRequestOne {
	margin-top: 80px;
}

.modMultiBtnOfferRequestThree {
	margin-top: -130px;
}

.modOfferRequestDateWrap {
	list-style: none !important;
}

.modOfferRequestPageTwo li:first-child input {
	color: #d3d3d3 !important;
}

.offerRequestMapsApi > div {
	margin-top: 15px !important;
	margin-left: 12px !important;
	height: 300px !important; 
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Sent Offer Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modSentOfferTrigger {
	font-size: 0.9rem;
    font-weight: 400;
    padding: 10px 8px !important;
    color: #fff !important;
    background-color: #f8504b !important;
    border: none !important;
    border-radius: 4px !important;
    margin-bottom: 4px;
    width: 100% !important;
}

/*~~ Button End ~~*/

.profileSentOfferLi {
	margin-bottom: 0 !important;
	height: 100%;
	border-top: 1px solid #00bfff;
}

.profileSentOfferLi:first-child {
	border-top: none !important;
}

.profileSentOfferStatus {

}

#profileReceivedCancel {
	width: 100% !important;
    background-color: #f8504b !important;
    padding: 15px 0 !important;
    text-align: center !important;
    border-radius: 4px !important;
    color: #fff !important;
	text-decoration: none !important;
}

#profileReceivedCancel:hover {
	background-color: #f73c37 !important;
}

#profileReceivedCancel a {
	color: #fff !important;
	text-decoration: none !important;
	padding: 15px 140px !important;
}

.profileViewMeetupRight li:first-child {
	margin: 0 !important;
}

.profileReceivedCardRight li a h3, .profileReceivedCardRight b {
	font-weight: 400 !important;
}

.profileSentOfferStatus {
	margin: 0 !important;
	margin-bottom: 10px !important;
	font-size: 0.8rem !important;
	font-style: italic !important;
}

#profileReceivedName {
	margin: 8px 0 15px 0 !important;
}

.profileReceivedPriceOriginal {
	font-size: 0.8rem;
	vertical-align: middle;
	margin-left: 6px;
}

.profileReceivedPrice b, .profileReceivedPrice span {
	vertical-align: middle !important; 
} 

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Received Offers Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modReceivedOffersTrigger {
    padding: 10px 18px !important;
    background-color: #00bfff !important;
    color: #fff !important;
    font-family: 'Helvetica Neue', sans-serif !important;
    margin-left: 2px;
    border-radius: 4px;
}

/*~~ Button End ~~*/

/*~~~~ Received Offers Main ~~~~*/

.profileReceivedOffersLi:hover {
	background-color: #d3d3d3 !important;
}

.profileReceivedOffersH2 {
	width: 76%;
	margin: 40px auto 30px auto !important;
}
.profileReceivedOffersH2 a {
	color:#00bfff !important;
}

.profileReceivedOffersLi {
	border-bottom: 1px solid #d3d3d3;
	padding: 20px 0;
	width: 75%;
	margin: 0 auto !important;
	font-size: 0.9rem;
}

.profileReceivedOffersLi > a {
	font-family: 'Droid Sans', sans-serif !important;
}

.profileReceivedOffersLi a ul li {
	display: inline-block;
}

.profileReceivedOffersInfoImg {
	margin-left: 10px;
}

.profileReceivedOffersInfoImg img {
	height: 30px !important;
	width: 30px !important;
	border-radius: 50% !important;
	vertical-align: middle !important;
	margin-right: 10px;
}

.profileReceivedOffersInfoPrice {
	color: #404040 !important;
}

.profileReceivedOffersInfoTime {
	font-size: 0.85rem !important;
	font-style: italic !important;
	color: #6c54b3 !important;
	float: right !important;
    margin-top: 3px !important;
    margin-right: 10px;
}

.profileReceivedOffersInfoLocation {
	color: #404040 !important;
	margin: 0 10px !important;
	float: right !important;
	margin-top: 3px !important;
}

/*~~ Button End ~~*/


#profileReceivedDecline {
	margin: 0 0 0 10px !important;
}

#profileReceivedButtons {
	margin: 0 !important;
	margin-top: 20px !important;
}

#profileReceivedButtonsUl li {
	width: 45%;
	background-color: #f8504b;
	display: inline-block;
	padding:15px 0;
	border-radius: 4px;
	text-align: center;
}

#profileReceivedButtonsUl li:hover {
	background-color: #f73c37;
}

#profileReceivedButtons li a {
	color: #fff !important;
	text-decoration: none;
	padding: 15px 52px;
}

#profileReceivedAccept, #profileReceivedAcceptBtn {
	background-color: #49e20e !important;
	margin-right: 10px;
}

#profileReceivedAccept:hover, #profileReceivedAcceptBtn:hover {
	background-color: #3BCE02 !important;
}

.profileReceivedModalUl {

}

.receivedGoBack {
	background-color: #00bfff !important;
	margin-right: 10px !important;
}

.receivedGoBack:hover {
	background-color: #04b2ec !important; 
}

#receivedContinue {
	font-size: 1.7rem;
	margin-top: 35% !important;
    margin-left: 30% !important;
    width: 150% !important;
}

#receivedContinueBtn {
	margin-left: 48% !important;
    width: 100%;
}

#receivedContinueBtn ul li a {
	color: #fff !important;
}

#receivedContinueBtn ul li a:hover {
	text-decoration: none !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	History Details Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

/*~~ Button End ~~*/

#profileHistoryInitialFeedback button {
	width: 100% !important;
    background-color: #f8504b !important;
    padding: 15px 0 !important;
    text-align: center !important;
    border-radius: 4px !important;
    color: #fff !important;
	text-decoration: none !important;
}

#profileHistoryInitialFeedback button:hover {
	background-color: #f73c37 !important;
}

#profileHistoryView {
	margin-bottom: 8px;
	margin-top: 23px !important;
}

#profileListingManagerButtonsUl a:hover {
	text-decoration: none !important;
}

#profileListingManagerButtonsUl > li {
	display: inline-block;
	margin: 0 !important;
}

#profileListingManagerButtonsUl > li:last-child {
	vertical-align: top !important;	
}

#profileListingManagerButtonsUl > li:last-child button {
	padding: 17px 40px 16px 40px !important;
}

#profileListingManagerButtonsUl > li > ul > li > a {
	color: #fff !important;
	padding: 17px 40px 14px 40px !important;
}

#profileListingManagerButtonsUl > li > ul > li > ul > li a {
	color: #404040 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Edit Listing Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modEditListingTrigger, .modReportTrigger {
	background-color: #fff !important;
    width: 100% !important;
    text-align: left !important;
    padding: 0 !important;
}

/*~~ Button End ~~*/

.modEditListingDiv {
	width: 90%;
	margin: 40px auto 10px auto;
}

.modEditListingDiv h3 {
	font-weight: 400 !important;
}

.modEditListingDiv > ul > li {
	margin: 10px 0 !important;
	display: inline-block !important;
}

.modEditListingDiv br {
	margin: 15px 0;
}

.modEditListingDiv > ul > li > div {
	margin-top: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Add Listing Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.headerDropDownAddListing {
	float: left !important;
	padding: 0 !important;
	width: 91% !important;
}

.headerDropDownAddListing::before {
	margin: -32px 8px 0 !important;
}

.modAddListingTrigger {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #f8504b !important;
	font-size: 0.8rem !important;
	padding: 18px 50px 18px 0px !important;
	width: 100% !important;
	margin-left: -30px !important;
	font-family: 'Droid Sans', sans-serif !important; 
}

.modAddListingTrigger i {
	color: #f8504b !important;
	margin-right: 10px !important;
	margin-left: -25px !important;
}

/*~~ Button End ~~*/

.modAddListingPageThree, .modAddListingPageFive {
	margin-top: 50px;
}

.modAddListingPageSix {
	margin-top: 20px !important;
}

.modMultiBtnAddListingOne {
	margin-top: 77px !important;
}

.modMultiBtnAddListingTwo {
	margin-top: 103px;
}

.modMultiBtnAddListingThree {
	margin-top: 76px;
}

.modMultiBtnAddListingFour {
	margin-top: 7px;
}

.modMultiBtnAddListingFive {
	margin-top: 83px;
}

.modMultiBtnAddListingSix {
	margin-top: 46px !important;
}

.modAddListingTitleInput {
	color: #888 !important;
}

.styled-select {
	width: 267px;
	height: 34px;
	overflow: hidden;
	background: url(images/new_arrow2.png) no-repeat right #ddd;
	border: 1px solid #ccc;
}

.styled-select select {
	outline: none;
	background: transparent;
	width: 268px;
	padding: 0 10px 0 15px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none !important;
}

.styled-select select:focus {
	outline: none !important;
	border: 1px solid #ccc !important;
}

.styled-select select option {
	background-color: rgb(221, 221, 221) !important;
	color: #404040 !important;
	outline: none !important;
	border: 1px solid #ccc !important;
}

.imageupload {
	margin-left: 18px;
	outline: none !important;
}

.imageupload::-webkit-file-upload-button {
  visibility: hidden !important;
  vertical-align: middle;
}
.imageupload::before {
  content: 'Select Images';
  display: inline-block;
  background: #f8504b !important;
  border-radius: 3px;
  border: none;
  padding: 5px 14px;
  vertical-align: middle !important;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: none;
  font-weight: 400;
  font-size: 10pt;
  color: #fff;
  margin-right: 5px !important;
}
.imageupload:hover::before {
  background: #f73c37 !important;
}
.imageupload:active::before {
  background: #f73c37 !important;
}

.modAddListingPageFourUl li {
	margin: 30px 0 !important;
}

.modAddListingPageFourUl li > label {
	font-size: 1.1rem;
	color: #999 !important;
}

.modAddListingPageFourUl li > div, .modAddListingPageFourUl li input {
	margin-left: 50px;
}

.modAddListingPageFourUl li:first-child > label {
	margin-right: 9px;
}

.modAddListingPageFourUl li:nth-child(2) > label {
	margin-right: 30px;
}

.modAddListingPageFourUl li:nth-child(4) > label {
	margin-right: 46px;
}

.modAddListingPageFourUl li:last-child > label {
	margin-right: 35px;
}

.modAddListingPageFourUl li > label, .modAddListingPageFourUl li > div {
	display: inline-block !important;
}

.modAddListingPageFourUl li > div {
	vertical-align: middle;
}

.modalSubmitAdd input {
	margin-left: 0 !important;
	font-size: 1rem !important; 
}

.capacity-select {
	margin-left: 60px !important;
}

/* Hide Colors */
.sp-palette-row-0 span:nth-child(2), .sp-palette-row-0 span:nth-child(4), .sp-palette-row-0 span:nth-child(5), 
.sp-palette-row-1 > span:first-child, .sp-palette-row-1 span:nth-child(7) {
	display: none !important;
}

.froala-view {
	height:180px !important;
}

.sp-palette, .sp-thumb-dark, .sp-thumb-dark.sp-thumb-active, .sp-thumb-inner, .sp-thumb-active {
	background-image: none !important;
}

.sp-palette > div {
	display: inline-block;
}

.sp-thumb-el {
	width: 22px !important;
	height:22px !important
}

.sp-container {
	border: 1px solid #404040 !important;
	top: 521.797px !important;
}

.sp-replacer {
	border: 1px solid #404040 !important;
}

div[class="sp-replacer sp-light full-spectrum sp-active"] {
	border-bottom: none !important;
}

// .sp-dd {
// 	display: none;
// }

.sp-preview {
	margin-right: 0 !important;
	border: 1px solid #999 !important;
}

.sp-thumb-el.sp-thumb-active {
	border-color: #999 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Feedback Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modFeedbackTrigger {

}

/*~~ Button End ~~*/

/* Initial */

.modFeedbackInitialPageOne, .modFeedbackInitialPageThree {
	text-align: center;
	margin-top: 20px;
}

.modFeedbackInitialPageOne h2, .modFeedbackInitialPageThree h2 {
	font-size: 2.4rem !important;
}

.modFeedbackInitialPageOneUl li, .modFeedbackInitialPageThreeUl li {
	display: inline-block;
}

.modFeedbackInitialPageOneUl li button, .modFeedbackInitialPageThreeUl li button {
	background-color: #f8504b !important;
	color: #fff !important;
	padding:20px 40px !important;
	margin: 20px 10px 0px 10px;
	font-size: 1.1rem;
	border-radius: 4px;
}

.modFeedbackInitialPageOneUl li button:hover, .modFeedbackInitialPageThreeUl li button:hover {
	background-color: #f73c37 !important;
}

.modFeedbackInitialPageOneItem {
	margin-top: 80px;
}

.modFeedbackInitialPageOneItem > li {
	display:inline-block;
}

.modFeedbackInitialPageOneItemLeft {
	width: 40% !important;
	text-align: right !important;
	margin-right: 10px !important;
}

.modFeedbackInitialPageOneItemLeft ul li img {
	width: 180px !important;
	height: 180px !important;
  border-radius: 6px;
}

.modFeedbackInitialPageOneItemRight {
	width: 55% !important;
	text-align: left !important;
	vertical-align: top !important;
}

.modFeedbackInitialPageOneItemRight ul li {
	margin: 0px 0px 10px 0px;
}

.modFeedbackInitialPageOneItemRight ul li:first-child {
	color: #00bfff;
	font-size: 1.4rem;
	margin-bottom:2px!important;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) {
	color: #6c54b3 !important;
	font-size: 0.8rem;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) a {
	color: #6c54b3 !important;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) a:hover {
	text-decoration: underline !important;
	color: #5c54b3 !important;
}

.modFeedbackInitialPageSix ul li, .modFeedbackInitialPageTwo ul li {
	list-style-type:  initial;
	margin-bottom: 10px;
}

/* Initial END */

/* PRIMARY */

.managerOfferUnsave {
	margin-right: 15px !important;
	margin-top: 23px !important;
	margin-bottom: 8px !important;
}

.managerOfferUnsave a {
	width: 100% !important;
}

.modFeedbackPageOne h4 {
	font-size: 2rem !important;
    color: #00bfff !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}

.modFeedbackPageOne {
	margin-top: 50px !important;
	padding: 10px 40px !important;
}


.modFeedbackPageOne ul > li {
	display: inline-block;
	vertical-align: top;
}

.modFeedbackPageOne ul > li:last-child {
	margin-left: 50px; 
}

.modFeedbackPageOne input[type="radio"] + label, .modFeedbackPageTwo input[type="radio"] + label {
	font-size: 20px !important;
}

.modMultiBtnFeedbackOne {
	margin-top: 75px !important;
}


.modMultiBtnFeedbackTwo {
	margin-top: 7px !important;
}

.modFeedbackPageTwo, .modReportPageOne, .modReportPageThree {
	margin-top: 25px !important;
	padding: 10px 40px !important;
}

.modReportPageTwo {
	padding: 10px 40px !important;
	margin-top: 15px;
}

.modFeedbackPageTwo h2 {
	color: $color-spaceblue !important;
	font-size: 2rem !important;
	font-weight: 400 !important;
	margin: 20px 0 !important;
}

.modFeedbackPageTwo1 {
	margin-top: 40px;
}

.modFeedbackPageTwo1 ul {
	text-align: center;
}

.modFeedbackPageTwo1 ul li {
	display: inline-block;
	margin-left: 20px;
	padding: 12px 18px;
    color: #fff;
    border-radius: 4px;
}

.modFeedbackPageTwo1 ul li label {
	margin-left: 10px;
	font-size: 16px !important;
}

.modFeedbackPageTwo1 ul li:first-child {
	background-color: #396 !important;
	margin-left: 0 !important;
} 

.modFeedbackPageTwo1 ul li:nth-child(2) {
	background-color: #989898 !important;
}

.modFeedbackPageTwo1 ul li:last-child {
	background-color: tomato !important;
} 

.modFeedbackPageTwo2 {
	margin-top:43px;
}

.modFeedbackPageTwo2 ul {
	text-align: center;
}

.modFeedbackPageTwo2 ul li textarea {
	width: 80%;
	height: 100px;
	border-radius: 4px;
	padding: 10px 12px;
	border: 1px solid #d3d3d3;
}

.modFeedbackInitial button[data-target="#feedbackBuyerUnsuccessfulModal"], 
.modFeedbackInitial button[data-target="#feedbackBuyerNeverModal"] {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: #f8504b;
	border: none;
	border-radius: 4px !important;
}

.modFeedbackInitial button[data-target="#feedbackBuyerUnsuccessfulModal"]:hover, 
.modFeedbackInitial button[data-target="#feedbackBuyerNeverModal"]:hover {
	background-color: #f73c37 !important;
}


/* PRIMARY END */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Report Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modReportTrigger {
	background-color: #fff !important;
	color: #404040 !important;
}

.modReportTrigger:hover {
	background-color: #d3d3d3 !important;
}

/*~~ Button End ~~*/

/*~~~~ Listing ~~~~*/

.modReportWarning {
	margin-top: 60px !important;
	margin-right: auto !important;
	margin-left: auto !important;
	width: 80%;
}

.modReportWarning img {
	border-radius: 50%;
}

.modReportWarning li:first-child, .modReportWarning li:last-child {
	vertical-align: middle !important;
}

.modReportWarning li:last-child {
	margin-left: 5px !important;
}

.modReportPageTwo ul li {
	font-size: 1.2rem;
	margin: 10px 0;
	padding: 5px 0;
}

.modReportPageTwo ul li:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.modReportPageTwo ul li input {
	margin-right: 10px;
	outline: none !important;
}

.modReportPageThree textarea {
	width: 100%;
	height: 280px;
}

.modMultiBtnReportOne {
	margin-top: 53px;
}

.modMultiBtnReportTwo {
	padding: 8px 10px 10px 10px !important;
	margin-top: 3px;
}

.modMultiBtnReportThree {
	margin-top: 16px;
}

/*~~~~ Listing End ~~~~*/


/*~~~~ User ~~~~*/

/*~~~~ User End ~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Join Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Join Button ~~~~*/

.modJoinTrigger {
     color: #fff !important;
     border: 1px solid #fff !important;
     padding: 10px 14px;
     background-color: #f8504b !important;
     font-size: 0.9rem !important;
}

.modJoinTrigger:hover {
     color: #404040 !important;
     background-color: #fff !important;
}

/*~~ Join Button End ~~*/

.modJoinWrapper {
	width: 70% !important;
	margin: 60px auto;
}

.modJoinWrapper h1 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 0;
}

.modJoinWrapper ul li {
	line-height: 2;
}

.modJoinWrapper h1 i {
    margin-right: 20px;
    vertical-align: middle !important;
    padding: 10px !important;
    background-color: #f8504b !important;
    color: #fff !important;

}

.modJoinOnly {
	margin-top: 20px;
	font-size: 1.4rem !important;
}

.modJoinFB-Btn {
	margin-top: 20px;
	background-color: #3A5795 !important;
	border-radius: 4px;
	color: #fff !important;
	width: 40%;
	padding: 10px;
	text-align: center;
}

.modJoinFB-Btn b {
	font-weight: 400 !important;
	font-size: 1rem !important;
}

.modJoinFB-Btn i {
	font-size: 1.4rem;
	color: #fff !important;
	vertical-align: middle !important;
	padding-right: 6px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Profile Active Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modProfileActiveBtn {
	margin: 20px 0 !important;
	color: #fff !important;
}

.modProfileActiveBtn button {
	padding: 15px !important;
	width: 75% !important;
	color: #fff !important;
	background-color: #f8504b !important;
	border-radius: 4px;
}

.modProfileActiveBtn button:hover {
	background-color: #f73c37 !important;
}

.modProfileActiveBtn:first-child {
	margin-top: 40px !important;
}

.modActiveCreator {
	color: #00bfff !important;
}

.modActiveDirWrap {
	text-align: center;
}

.modActiveDirWrap h3 {
	color: #00bfff;
	font-weight: 400;
}

.modActiveDirMaps img {
	width: 80% !important;
    height: 320px !important;
}

.modProfileActiveBtnDir {
	float: right !important;
	width: 40% !important;
	margin-top: 0 !important;
}

.modProfileActiveBtnDir button {
	margin-right: 200px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.mapPageApi {
	height: 1080px !important;
}

.editListTrade {
	margin-top: 30px !important;
}

.editListRadio h2 {
	 font-size: 1.8rem !important;
}





/*~~ Structure This Document With The Following~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Page Name Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




