/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Sass Document For Modals On SpaceTrades
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Class Naming Convention: 
	Start With 'mod' 
	Then Add Name Of Page 'ie. AddListing'
	End With The Name Of The Function Of Element 
	EX. .modAddListingTrigger
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Global Modal Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.modal {
	margin-top: 4%;
}

.modal-dialog {
	width: 800px;
}

.modal-body {
	min-height: 500px;
}

.modMultiBtn {
	vertical-align: bottom !important;
	float: right !important;
}

.modal-content {
	border: 8px solid #f8504b !important;
	border-radius: 15px !important;
	background-color: #f8504b !important;
}

.modal-content > div {
	background-color: #fff !important;
	border-radius: 11px;
}

.modMultiBtnSingle {

}

.modMultiBtnDouble {

}

.modMultiBtn {
	padding: 10px !important;
}

.modMultiBtn button {
	padding: 12px 50px;
	border-radius: 4px;
}

.modalNext {
	background-color: #04b2ec !important; 
}

.modalNext:hover {
	background-color: #06C1FF !important;
} 

.modalBack, .modalExit  {
	background-color: #999 !important;
	margin-right: 10px;
}

.modalBack:hover, .modalExit:hover  {
	background-color: #ababab !important; 
}

.modalSubmitBtn {
	padding: 0 !important;
	border-radius: 0 !important;
}

.modalSubmitBtn input {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: #04b2ec;
	border: none;
	border-radius: 4px !important;
}

.modalSubmitBtn input:hover {
	background-color: #06c1ff;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Location Radius Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modLocationRadiusTrigger {
	color: #404040 !important;
	background-color: #f8504b !important;
}

.modLocationRadiusTrigger:hover {

}

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Notifications Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modNotificationsTrigger {
	background-color: #333 !important;
    padding: 10px 0;
    width: 105%;
    font-size: 0.7rem;
    margin: 0 0 -5px -5px;
}

.modNotificationsTrigger:hover {
	text-decoration: underline;
}

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Offer Request Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modOfferRequestTrigger {
	padding: 15px 22px;
    color: #fff;
    background-color: #f8504b;
    border: 1px solid #f8504b;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;    
    border-radius: 6px;
    overflow: hidden;
}

.modOfferRequestTrigger:hover {
	background-color: #f73c37;
}

/*~~ Button End ~~*/

.modOfferRequestDiv > div, .modAddListingDiv > div, .modFeedbackInitialDiv > div {
	padding: 10px 40px;
}

.modOfferRequestPageOne, .modAddListingPageOne, .modAddListingPageTwo {
	width: 100%;
	margin-top: 50px;
	vertical-align: top;
}

.modOfferRequestPageOneUl {
	margin: 0;
}

.modOfferRequestPageOneUl li h2, .modOfferRequestPageTwo li h2, .modOfferRequestPageThree h2, .modAddListingDiv h2, .modFeedbackInitialDiv h2 {
	color: $color-spaceblue !important;
	font-size: 2rem !important;
	font-weight: 400 !important;
	margin: 20px 0 !important;
}

.modOfferRequestPageOneUl > li:first-child input, .modOfferRequestPageTwo li:first-child input, .modAddListingPageOneUl > li input {
	width: 600px !important;
	padding: 12px 10px 12px 20px !important;
	border-radius: 4px !important;
	text-align: left !important;
	outline: none !important;
	border: 2px solid #d3d3d3 !important;
	font-weight: 400 !important;
} 

.modOfferRequestPageOneUl > li:first-child input:focus, .modAddListingPageOneUl > li input:focus {
	border-color: $color-spacered !important;
}

.modOfferRequestPageOneUl > li:nth-child(2) {
	margin-top: 60px;
}

/* Radio Buttons */
.modOfferRequestPaymentWrap ul li {
	clear: both;
	color: #999 !important;
	display: inline-block;
}

.modOfferRequestPaymentWrap ul li:nth-child(2), .modOfferRequestPaymentWrap ul li:nth-child(3) {
	margin-left: 15px;
}

.modOfferRequestPaymentWrap ul li label {
	width: 200px;
  	border-radius: 3px;
  	border: 1px solid #D1D3D4;
  	font-size: 1.1rem !important;
}

/* hide input */
.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:empty {
	margin-left: -2000px;
}

/* style label */
.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}

.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:checked ~ label {
	color: #777;
}

/* radio focus */
.modOfferRequestPaymentWrap ul li input.offerRequestPaymentRadio:focus ~ label:before {
	box-shadow: 0 0 0 3px #999;
}

/* Footer Button */
.modMultiBtnOfferRequestOne {
	margin-top: 80px;
}

.modOfferRequestDateWrap {
	list-style: none !important;
}

.modOfferRequestPageTwo li:first-child input {
	color: #d3d3d3 !important;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Sent Offer Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modSentOfferTrigger {
	font-size: 0.9rem;
    font-weight: 400;
    padding: 10px 8px !important;
    color: #fff !important;
    background-color: #f8504b !important;
    border: none !important;
    border-radius: 4px !important;
    margin-bottom: 4px;
    width: 100% !important;
}

/*~~ Button End ~~*/

.profileSentOfferLi {
	margin-bottom: 0 !important;
	height: 100%;
	border-top: 1px solid #00bfff;
}

.profileSentOfferLi:first-child {
	border-top: none !important;
}

.profileSentOfferStatus {

}

#profileReceivedCancel {
	width: 100% !important;
    background-color: #f8504b !important;
    padding: 15px 0 !important;
    text-align: center !important;
    border-radius: 4px !important;
    color: #fff !important;
	text-decoration: none !important;
}

#profileReceivedCancel:hover {
	background-color: #f73c37 !important;
}

#profileReceivedCancel a {
	color: #fff !important;
	text-decoration: none !important;
	padding: 15px 140px !important;
}

.profileViewMeetupRight li:first-child {
	margin: 0 !important;
}

.profileSentOfferStatus {
	margin: 0 !important;
	margin-bottom: 10px !important;
	font-size: 0.8rem !important;
	font-style: italic !important;
}

#profileReceivedName {
	margin: 8px 0 15px 0 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Received Offers Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modReceivedOffersTrigger {
    padding: 10px 18px !important;
    background-color: #00bfff !important;
    color: #fff !important;
    font-family: 'Abel';
    margin-left: 2px;
    border-radius: 4px;
}

/*~~ Button End ~~*/

#profileReceivedDecline {
	margin: 0 0 0 10px !important;
}

#profileReceivedButtons {
	margin: 0 !important;
	margin-top: 20px !important;
}

#profileReceivedButtonsUl li {
	width: 45%;
	background-color: #f8504b;
	display: inline-block;
	padding:15px 0;
	border-radius: 4px;
	text-align: center;
}

#profileReceivedButtonsUl li:hover {
	background-color: #f73c37;
}

#profileReceivedButtons li a {
	color: #fff !important;
	text-decoration: none;
	padding: 15px 52px;
}

#profileReceivedAccept {
	background-color: #49e20e !important;
}

#profileReceivedAccept:hover {
	background-color: #3BCE02 !important;
}

.profileReceivedModalUl {

}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	History Details Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

/*~~ Button End ~~*/

#profileHistoryInitialFeedback button {
	width: 100% !important;
    background-color: #f8504b !important;
    padding: 15px 0 !important;
    text-align: center !important;
    border-radius: 4px !important;
    color: #fff !important;
	text-decoration: none !important;
}

#profileHistoryInitialFeedback button:hover {
	background-color: #f73c37 !important;
}

#profileHistoryView {
	margin-bottom: 8px;
	margin-top: 23px !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Edit Listing Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modEditListingTrigger {
	background-color: #fff !important;
    width: 100% !important;
    text-align: left !important;
    padding: 0 !important;
}

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Add Listing Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.headerDropDownAddListing {
	float: left !important;
	padding: 0 !important;
	width: 91% !important;
}

.headerDropDownAddListing::before {
	margin: -32px 8px 0 !important;
}

.modAddListingTrigger {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #f8504b !important;
	font-size: 0.9rem !important;
	padding: 18px 50px 18px 0px !important;
	width: 100% !important; 
}

.modAddListingTrigger i {
	color: #f8504b !important;
	margin-right: 10px !important;
	margin-left: -25px !important;
}

/*~~ Button End ~~*/

.modAddListingPageThree, .modAddListingPageFive, .modAddListingPageSix {
	margin-top: 50px;
}

.modMultiBtnAddListingOne {
	margin-top: 77px !important;
}

.modMultiBtnAddListingTwo {
	margin-top: 103px;
}

.modMultiBtnAddListingThree {
	margin-top: 76px;
}

.modMultiBtnAddListingFour {
	margin-top: 7px;
}

.modMultiBtnAddListingFive {
	margin-top: 83px;
}

.modMultiBtnAddListingSix {
	margin-top: 16px !important;
}

.modAddListingTitleInput {
	color: #888 !important;
}

.styled-select {
	width: 267px;
	height: 34px;
	overflow: hidden;
	background: url(images/new_arrow.jpg) no-repeat right #ddd;
	border: 1px solid #ccc;
}

.styled-select select {
	outline: none;
	background: transparent;
	width: 268px;
	padding: 0 10px 0 15px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none !important;
}

.styled-select select:focus {
	outline: none !important;
	border: 1px solid #ccc !important;
}

.styled-select select option {
	background-color: rgb(221, 221, 221) !important;
	color: #404040 !important;
	outline: none !important;
	border: 1px solid #ccc !important;
}

.imageupload {
	margin-left: 18px;
	outline: none !important;
}

.imageupload::-webkit-file-upload-button {
  visibility: hidden !important;
  vertical-align: middle;
}
.imageupload::before {
  content: 'Select Images';
  display: inline-block;
  background: #f8504b !important;
  border-radius: 3px;
  border: none;
  padding: 5px 14px;
  vertical-align: middle !important;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: none;
  font-weight: 400;
  font-size: 10pt;
  color: #fff;
  margin-right: 5px !important;
}
.imageupload:hover::before {
  background: #f73c37 !important;
}
.imageupload:active::before {
  background: #f73c37 !important;
}

.modAddListingPageFourUl li {
	margin: 30px 0 !important;
}

.modAddListingPageFourUl li > label {
	font-size: 1.1rem;
	color: #999 !important;
}

.modAddListingPageFourUl li > div, .modAddListingPageFourUl li input {
	margin-left: 50px;
}

.modAddListingPageFourUl li:first-child > label {
	margin-right: 9px;
}

.modAddListingPageFourUl li:nth-child(2) > label {
	margin-right: 30px;
}

.modAddListingPageFourUl li:nth-child(4) > label {
	margin-right: 46px;
}

.modAddListingPageFourUl li:last-child > label {
	margin-right: 35px;
}

.modAddListingPageFourUl li > label, .modAddListingPageFourUl li > div {
	display: inline-block !important;
}

.modAddListingPageFourUl li > div {
	vertical-align: middle;
}

.modalSubmitAdd input {
	margin-left: 0 !important;
	font-size: 1rem !important; 
}

/* Hide Colors */
.sp-palette-row-0 span:nth-child(2), .sp-palette-row-0 span:nth-child(4), .sp-palette-row-0 span:nth-child(5), .sp-palette-row-1 > span:first-child, .sp-palette-row-1 span:nth-child(7) {
	display: none !important;
}

.froala-view {
	height:180px !important;
}

.sp-palette, .sp-thumb-dark, .sp-thumb-dark.sp-thumb-active, .sp-thumb-inner, .sp-thumb-active {
	background-image: none !important;
}

.sp-palette > div {
	display: inline-block;
}

.sp-thumb-el {
	width: 22px !important;
	height:22px !important
}

.sp-container {
	border: 1px solid #404040 !important;
	top: 521.797px !important;
}

.sp-replacer {
	border: 1px solid #404040 !important;
}

div[class="sp-replacer sp-light full-spectrum sp-active"] {
	border-bottom: none !important;
}

.sp-dd {
	display: none;
}

.sp-preview {
	margin-right: 0 !important;
	border: 1px solid #999 !important;
}

.sp-thumb-el.sp-thumb-active {
	border-color: #999 !important;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Feedback Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

.modFeedbackTrigger {

}

/*~~ Button End ~~*/

/* Initial */

.modFeedbackInitialPageOne, .modFeedbackInitialPageThree {
	text-align: center;
	margin-top: 20px;
}

.modFeedbackInitialPageOne h2, .modFeedbackInitialPageThree h2 {
	font-size: 2.4rem !important;
}

.modFeedbackInitialPageOneUl li, .modFeedbackInitialPageThreeUl li {
	display: inline-block;
}

.modFeedbackInitialPageOneUl li button, .modFeedbackInitialPageThreeUl li button {
	background-color: #f8504b !important;
	color: #fff !important;
	padding:20px 40px !important;
	margin: 20px 10px 0px 10px;
	font-size: 1.1rem;
	border-radius: 4px;
}

.modFeedbackInitialPageOneUl li button:hover, .modFeedbackInitialPageThreeUl li button:hover {
	background-color: #f73c37 !important;
}

.modFeedbackInitialPageOneItem {
	margin-top: 80px;
}

.modFeedbackInitialPageOneItem > li {
	display:inline-block;
}

.modFeedbackInitialPageOneItemLeft {
	width: 40% !important;
	text-align: right !important;
	margin-right: 10px !important;
}

.modFeedbackInitialPageOneItemLeft ul li img {
	width: 180px !important;
	height: 180px !important;
}

.modFeedbackInitialPageOneItemRight {
	width: 55% !important;
	text-align: left !important;
	vertical-align: top !important;
}

.modFeedbackInitialPageOneItemRight ul li {
	margin: 0px 0px 10px 0px;
}

.modFeedbackInitialPageOneItemRight ul li:first-child {
	color: #00bfff;
	font-size: 1.4rem;
	margin-bottom:2px!important;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) {
	color: #6c54b3 !important;
	font-size: 0.8rem;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) a {
	color: #6c54b3 !important;
}

.modFeedbackInitialPageOneItemRight ul li:nth-child(2) a:hover {
	text-decoration: underline !important;
	color: #5c54b3 !important;
}

.modFeedbackInitialPageSix ul li, .modFeedbackInitialPageTwo ul li {
	list-style-type:  decimal;
	margin-bottom: 10px;
}

/* Initial END */

/* PRIMARY */

.managerOfferUnsave {
	margin-right: 15px !important;
	margin-top: 23px !important;
	margin-bottom: 8px !important;
}

.managerOfferUnsave a {
	width: 100% !important;
}

.modFeedbackPageOne h4 {
	font-size: 2rem !important;
    color: #00bfff !important;
    font-weight: 400 !important;
    margin-bottom: 10px !important;
}

.modFeedbackPageOne {
	margin-top: 50px !important;
	padding: 10px 40px !important;
}


.modFeedbackPageOne ul > li {
	display: inline-block;
	vertical-align: top;
}

.modFeedbackPageOne ul > li:last-child {
	margin-left: 50px; 
}

.modFeedbackPageOne input[type="radio"] + label, .modFeedbackPageTwo input[type="radio"] + label {
	font-size: 20px !important;
}

.modMultiBtnFeedbackOne {
	margin-top: 75px !important;
}

.modFeedbackPageTwo {
	margin-top: 50px !important;
	padding: 10px 40px !important;
}

.modFeedbackPageTwo h2 {
	color: $color-spaceblue !important;
	font-size: 2rem !important;
	font-weight: 400 !important;
	margin: 20px 0 !important;
}

.modFeedbackPageTwo1 {
	margin-top: 40px;
}

.modFeedbackPageTwo1 ul {
	text-align: center;
}

.modFeedbackPageTwo1 ul li {
	display: inline-block;
	margin-left: 20px;
	padding: 12px 18px;
    color: #fff;
    border-radius: 4px;
}

.modFeedbackPageTwo1 ul li label {
	margin-left: 10px;
	font-size: 16px !important;
}

.modFeedbackPageTwo1 ul li:first-child {
	background-color: #396 !important;
	margin-left: 0 !important;
} 

.modFeedbackPageTwo1 ul li:nth-child(2) {
	background-color: #989898 !important;
}

.modFeedbackPageTwo1 ul li:last-child {
	background-color: tomato !important;
} 

.modFeedbackPageTwo2 {
	margin-top:43px;
}

.modFeedbackPageTwo2 ul {
	text-align: center;
}

.modFeedbackPageTwo2 ul li textarea {
	width: 66%;
	height: 100px;
}

.modFeedbackInitial button [target="#feedbackBuyerUnsuccessfulModal"], .modFeedbackInitial button [target="#feedbackBuyerNeverModal"] {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: #f8504b;
	border: none;
	border-radius: 4px !important;
}

.modFeedbackInitial button [data-target="#feedbackBuyerUnsuccessfulModal"]:hover, .modFeedbackInitial button [data-target="#feedbackBuyerNeverModal"]:hover {
	background-color: #f73c37 !important;
}


/* PRIMARY END */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/






















/*~~ Structure This Document With The Following~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Page Name Modal
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*~~~~ Button ~~~~*/

/*~~ Button End ~~*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	END END END END END END
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/




