/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Sass Document For Adding Responsiveness
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 1200px) {
    .oneDiv, .onediv {
        max-width: 1024px !important;
    }
}

@media (max-width: 1200px) {
    .oneDiv, .onediv {
        width: 90% !important;
    }

    .homeCardLi {
        width: 210px;
    }
}

@media (max-width: 1100px) {

}


@media (max-width: 1050px) {
    .homeCardLi {
        width: 210px;
    }
}

@media (max-width: 1065px) {
}

@media (max-width: 1050px) {
    .homeCardLi {
     width: 210px;
    }
}

@media (max-width: 1035px) {
    .searchResultsCards {
       margin-top: -1338px !important;
    }
}

@media (max-width: 1000px) {

    .searchResultsCardSize, 
    .searchResultsCardCondition, .searchResultsCardLocation {
        font-size: 1rem;
    }

    .managerOfferView {
        margin-top: 10px !important;
    }
}

@media (max-width: 975px) {
    .footerLeft {
        width: 90% !important;
    }
}

@media (max-width: 950px) {

    .searchResultsCardSize, 
    .searchResultsCardCondition, .searchResultsCardLocation {
        margin: 8px 0 !important;
    }
}

@media (max-width: 900px) {
    .helpThree {
        width: 80%;
        margin: 0 auto 40px auto;
    }

    .helpThree > li {
        width: 100%;
        margin-top: 40px !important;
    }

    .managerOfferView {
        margin-top: 4px !important;
    }

    .profileCardInfo > li:first-child {
        margin-bottom: 6px !important;
    }
}

@media (max-width: 876px) {

    .managerOfferView {
        margin-top: 20px !important;
    }

    .profileCardInfo > li:first-child {
        margin-bottom: 12px !important;
    }

    .profileCardLi {
        width: 315px !important;
    }
}

@media (max-width: 875px) {
    .footerLeft {
        width: 95% !important;
    }
}

@media (max-width: 870px) {
    .homeCardLi {
        width: 200px;
    }
}

@media (max-width: 850px) {
    .homeCard {
        width: 95% !important;
    }

    .homeCardLi {
        width: 190px;
        margin: 6px;
    }

    .searchResultsCardPrice {
        margin: 6px 0 8px 0;
    }

    .searchResultsCardPrice span {
        font-size: 0.9rem;
    }

    .searchResultsCardTitle h2 {
        font-size: 1.3rem !important;
    }

    .searchResultsCardName p {
        font-size: 0.8rem !important;
    }

    .searchResultsCardSize, 
    .searchResultsCardCondition, .searchResultsCardLocation {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 825px) {
    .searchResultsCards {
        margin-top: -1368px !important;
    }
}

@media (max-width: 825px) {
    .footerLeft {
        width: 100% !important;
    }
}

@media (max-width: 800px) {
    .helpImgUl > li > img {
        margin: 1rem 0 !important;
    }

    .helpPagesPar {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .searchResultsRefine {
        display: none !important;
    }

    .searchResultsCards {
        margin-top: 0px !important;
    }

    .searchResultsCardLi {
        width: 93% !important;
        margin: 10px auto !important;
    }

    .searchResultsCards {
        float: none !important;
        margin-top: 0 !important;
        width: 95.5%;
    }

    .searchResultsCardPrice {
        margin: 8px 0 10px 0 !important;
        font-size: 1rem !important;
    }
    .searchResultsCardSize, .searchResultsCardCondition, .searchResultsCardLocation {
        margin: 12px 0 !important;
        font-size: 1rem !important;
    } 
    .searchResultsCardName {
        font-size: 0.95rem !important;
    }
}

@media (max-width: 776px) {
    .profileCardLi {
        width: 42% !important;
    }
}

@media (max-width: 775px) {
    .footerLeft > ul:first-child {
        width: 65%;
        margin: 20px auto !important;
    }

    .footerLeft ul:first-child li:nth-child(8), .footerLeft ul:first-child li:nth-child(9)  {
        margin-top: 20px !important;
    }

    .footerHide {
        display: inline-block !important;
    }

    .footerShow {
        display: none !important;
    }

}

@media (max-width: 750px) {
    .managerOfferView {
        margin-top: 15px !important;
    }

    .profileCardInfo li:first-child {
        margin-bottom: 8px !important;
    }
}

@media (max-width: 740px) {
    
}

@media (max-width: 730px) {

    .homeCard {
        width: 95%;
    }

    .homeCardLi {
        width: 170px;
        margin: 6px 4px !important;
    }
}

@media (max-width: 700px) {

    p {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    h4 {
        font-size: 1rem;
    }

    .profileCardInfo li:first-child {
        margin-bottom: 4px !important;
    }

    .managerOfferView {
        margin-top: 4px !important;
    }
}

@media (max-width: 690px) {
    
}

@media (max-width: 650px) {
    .profileCardInfo li:first-child {
        font-size: 1rem !important;
    }

    .profileCardItem {
        margin-bottom: 2px !important;
        font-size: 0.8rem !important;
    }

    .managerOfferView button {
        font-size: 0.8rem !important;
        padding: 8px 6px !important;
    }
    
    .searchResultsCardPrice {
        margin: 6px 0 !important;
    }

    .searchResultsCardPrice span {
        font-size: 0.9rem;
    }

    .searchResultsCardName p {
        font-size: 0.8rem !important;
    }

    .searchResultsCardSize, 
    .searchResultsCardCondition, .searchResultsCardLocation {
        font-size: 0.9rem !important;
        margin: 4px 0 !important;
    }

    
    .footerbottom > li {
        display: block !important;
    }

    .footerSocial {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    .footerDivide {
        width: 85% !important;
        margin: 20px auto !important;
    }
    .footerDivide li:nth-child(5) {
        margin-top: 20px !important;
    }

    .footerLeft > ul:first-child > li:nth-child(1) {
        margin-bottom: 20px !important;
        display: block !important;
    }

    .footerLeft > ul:first-child > li:nth-child(1) h3 {
        margin-right: 0 !important;
    }

    .homeCardLi {
        width: 200px;
    }
}

@media (max-width: 600px) {
    .profileCardLi {
        margin: 6px 5px !important;
    }
}

@media (max-width: 583px) {
      .profileCardLi {
        width: 315px !important;
      }

      .profileCardInfo li:first-child {
        margin-bottom: 12px !important;
      }

      .profileCardItem {
        font-size: 0.9rem !important;
        margin-bottom: 5px !important;
      }

      .managerOfferView {
        margin-top: 22px !important;
      }
}

@media (max-width: 580px) {

}

@media (max-width: 520px) {
    // .homeCardLi {
    //  width: 50%;
    // }
    // .profileCardLi {
    //  width: 60% !important;
    // }
}

@media (max-width: 500px) {
    .helpImgUl > li {
        width: 40%;
    }

    .helpImgUl > li:last-child {
        display: none !important;
    }

    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 10px;
        margin-top: 30px;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 20px;
    }

    .contactname input, .contactsubject input, .contactemail input, .contacttext textarea {
        width: 80% !important;
    }

    .contactSend {
        width: 93% !important;
    }
    .footerDivide {
        width: 90% !important;
        margin: 20px auto !important;
    }
    .footerLeft > ul:first-child {
        width: 90% !important;
    }

    .homeCardLi {
        width: 170px;
    } 
}

@media (max-width: 480px) {
    
}

@media (max-width: 450px) {
    .logo {
        font-size: 3.5rem;
    }
    .search {
        width: 60%;
    }
    .homesearchbtn {
        font-size: 0.9rem;
    }

    .homeCardLi {
        width: 155px;
    }

    .homeCardItem li a h4 {
        padding-top: 0.2em !important;
        padding-bottom: 0.2em !important;
    }
    
}

@media (max-width: 430px) {
    
}

@media (max-width: 400px) {
    .helpAboutUl > li:nth-child(1), .helpAboutUl > li:nth-child(3), .helpAboutUl > li:nth-child(4), .helpAboutUl > li:nth-child(5) {
        width: 90%;
        margin: auto;
    }

    .helpAboutUl li:first-child > p {
        text-align: left !important;
    }

    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 5px !important;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 10px !important;
    }

    .homeCardLi {
        width: 140px;
    }

    .homeCardDetails {
        margin-top: 0;
    }

    .profileCardLi {
        width: 81.5% !important;
    }
}

@media (max-width: 380px) {
    .termsDiv p {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 375px) {
    .profileCardInfo li:first-child {
        margin-bottom: 6px !important;
    }

    .profileCardItem {
        font-size: 0.8rem !important;
        margin-bottom: 2px !important;
    }

    .managerOfferView {
        margin-top: 15px !important;
    }
}

@media (max-width: 364px) {
    .footerDivide li:nth-child(4) {
        margin-top: 20px !important;
    }

    .homeCardLi {
        width: 130px;
        margin: 6px 4px !important;
    }
}

@media (max-width: 360px) {
    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 3px !important;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 0px !important;
    }

    .helpHide {
        display: block !important;
    }

    .helpShow {
        display: none !important;
    }
    
}

@media (max-width: 350px) {
    .profileCardInfo li:first-child {
        margin-bottom: 4px !important;
    }

    .profileCardItem {
        font-size: 0.8rem !important;
        margin-bottom: 2px !important;
    }

    .managerOfferView {
        margin-top: 5px !important;
    }
}

@media (max-width: 342px) { 
    .homeCardLi {
        width: 120px;
        margin: 4px 2px;
    }

}

@media (max-width: 340px) {
    .footerCopy {
        width: 160px;
        margin: auto;
        line-height: 2 !important;
    }
}

@media (max-width: 321px) {
    .homeCardLi {
        width: 110px;
    }
}

@media (max-width: 300px) {
    .helpImgUl > li:first-child {
        width: 84%;
    }

    .helpImgUl > li:nth-child(2) {
        display: none !important;
    }

    .oneDiv {
        min-width: 300px !important;
    }
}
