/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Sass Document For Adding Responsiveness
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 1200px) {
    .oneDiv, .onediv {
        max-width: 1024px !important;
    }
}

@media (max-width: 1200px) {
    .oneDiv, .onediv {
        width: 90% !important;
    }
}

@media (max-width: 1065px) {
    // .homeCardLi {
    // 	width: 19.5%;
    // }
}

@media (max-width: 1000px) {
    // .homeCardLi {
    // 	width: 25%;
    // }
}

@media (max-width: 975px) {
    .footerLeft {
        width: 90% !important;
    }
}

@media (max-width: 950px) {
    // .profileCardLi {
    // 	width: 35% !important;
    // }
}

@media (max-width: 900px) {
	.helpThree {
		width: 80%;
		margin: 0 auto 40px auto;
	}

    .helpThree > li {
    	width: 100%;
    	margin-top: 40px !important;
    }

    // .searchResultsCardLi {
    // 	width: 90%;
    // }
}

@media (max-width: 875px) {
    .footerLeft {
        width: 95% !important;
    }
}

@media (max-width: 850px) {
	// .profileCardLi {
 //    	width: 40% !important;
 //    }
}

@media (max-width: 825px) {
    .footerLeft {
        width: 100% !important;
    }
}

@media (max-width: 800px) {
    .helpImgUl > li > img {
    	margin: 1rem 0 !important;
    }

    .helpPagesPar {
    	margin-right: 0 !important;
    	margin-left: 0 !important;
    }

    .searchResultsRefine {
    	display: none !important;
    }

    // .searchResultsCardLi {
    // 	width: 95% !important;
    // 	margin: 10px 0 10px 0 !important;
    // }

    // .searchResultsCards {
    // 	float: none !important;
    // 	margin-top: 0 !important;
    // 	width: 90%;
    // }

    // .searchResultsCardImg {
    // 	height: 165px !important;
    // }
    // .searchResultsCardPrice {
    // 	margin: 8px 0 0 0 !important;
    // 	font-size: 0.95rem !important;
    // }
    // .searchResultsCardSize, .searchResultsCardCondition, .searchResultsCardLocation {
    // 	margin: 5px 0 !important;
    // 	font-size: 0.95rem !important;
    // } 
    // .searchResultsCardName {
    // 	font-size: 0.9rem !important;
    // }
}

@media (max-width: 775px) {
    .footerLeft > ul:first-child {
        width: 65%;
        margin: 20px auto !important;
    }

    .footerLeft ul:first-child li:nth-child(8), .footerLeft ul:first-child li:nth-child(9)  {
        margin-top: 20px !important;
    }

    .footerHide {
        display: inline-block !important;
    }

    .footerShow {
        display: none !important;
    }

}

@media (max-width: 768px) {
    // .homeCardLi {
    // 	width: 35%;
    // }
}

@media (max-width: 700px) {

    p {
    	font-size: 0.9rem;
	}

	h2 {
	    font-size: 1.5rem;
	}

	h3 {
	    font-size: 1.1rem;
	}

	h4 {
	    font-size: 1rem;
	}

}

@media (max-width: 650px) {
    // .homeCardLi {
    // 	width: 38%;
    // }
    // .profileCardLi {
    // 	width: 43% !important;
    // }
    .footerbottom > li {
        display: block !important;
    }

    .footerSocial {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }
    .footerDivide {
        width: 85% !important;
        margin: 20px auto !important;
    }
    .footerDivide li:nth-child(5) {
        margin-top: 20px !important;
    }

    .footerLeft > ul:first-child > li:nth-child(1) {
        margin-bottom: 20px !important;
        display: block !important;
    }

    .footerLeft > ul:first-child > li:nth-child(1) h3 {
        margin-right: 0 !important;
    }

}

@media (max-width: 600px) {
    // .homeCardLi {
    // 	width: 40%;
    // }
}

@media (max-width: 580px) {
    // .profileCardLi {
    // 	width: 60% !important;
    // }
}


@media (max-width: 520px) {
    // .homeCardLi {
    // 	width: 50%;
    // }
    // .profileCardLi {
    // 	width: 60% !important;
    // }
}

@media (max-width: 500px) {
    .helpImgUl > li {
    	width: 40%;
    }

    .helpImgUl > li:last-child {
    	display: none !important;
    }

    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 10px;
        margin-top: 30px;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 20px;
    }

    .contactname input, .contactsubject input, .contactemail input, .contacttext textarea {
    	width: 80% !important;
    }

    .contactSend {
    	width: 93% !important;
    }
    .footerDivide {
        width: 90% !important;
        margin: 20px auto !important;
    }
    .footerLeft > ul:first-child {
        width: 90% !important;
    }

    

 //    .searchResultsCards {
 //    	width: 100% !important;
 //    	margin: 10px auto !important;
 //    }
 //    .searchResultsCardLi {
 //    	width: 40% !important;
 //    	margin: 10px 5px !important;
 //    }
 //    .searchResultsCardLi > ul {
 //    	display: block;
	// }
	// .searchResultsCardRight {
	// 	width: 100% !important;
	// }
	// .searchResultsCardLeft {
	// 	width: 100% !important;
	// }
	// .searchResultsCardImg {
	// 	height: 200px;
	// }
	// .rSearchArea {
 //    	display: none;
 //    } 
}

@media (max-width: 480px) {
    // .homeCardLi {
    // 	width: 55%;
    // }
}

@media (max-width: 450px) {
    .logo {
    	font-size: 3.5rem;
    }
    .search {
    	width: 60%;
    }
    .homesearchbtn {
    	font-size: 0.9rem;
    }
    // .profileCardLi {
    // 	width: 80% !important;
    // }
}

@media (max-width: 430px) {
    // .homeCardLi {
    // 	width: 60%;
    // }
    // .searchResultsCardLi {
    // 	width: 60% !important;
    // }
	// .searchResultsCardImg {
	// 	height: 200px!important;
	// }
}

@media (max-width: 400px) {
	.helpAboutUl > li:nth-child(1), .helpAboutUl > li:nth-child(3), .helpAboutUl > li:nth-child(4), .helpAboutUl > li:nth-child(5) {
		width: 90%;
		margin: auto;
	}

    .helpAboutUl li:first-child > p {
    	text-align: left !important;
    }

    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 5px !important;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 10px !important;
    }
}

@media (max-width: 380px) {
    // .homeCardLi {
    // 	width: 65%;
    // }
    // .searchResultsCardLi {
    // 	width: 70% !important;
    // }
    .termsDiv p {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 364px) {
    .footerDivide li:nth-child(4) {
        margin-top: 20px !important;
    }


}

@media (max-width: 360px) {
    // .homeCardLi {
    // 	width: 70%;
    // }
    // .searchResultsCardLi {
    // 	width: 80% !important;
    // }
    .faqdiv h3, .safetydiv h3, .reportdiv h3 {
        margin-left: 3px !important;
    }

    .faqdiv ol, .safetydiv ol, .reportdiv ol {
        margin-left: 0px !important;
    }

    .helpHide {
        display: block !important;
    }

    .helpShow {
        display: none !important;
    }
    
}


@media (max-width: 357px) { 
    // .footerLeft ul:first-child li:nth-child(6) {
    //     margin-top: 20px !important;
    // }
}

@media (max-width: 340px) {
    .footerCopy {
        width: 160px;
        margin: auto;
        line-height: 2 !important;
    }
}

@media (max-width: 300px) {
	.helpImgUl > li:first-child {
		width: 84%;
	}
    .helpImgUl > li:nth-child(2) {
    	display: none !important;
    }
    .oneDiv {
        min-width: 300px !important;
    }
    // .profileCardLi {
    // 	width: 90% !important;
    // }
    // .searchResultsCardLi {
    // 	width: 90% !important;
    // }
}
