// Categories
 $color-clothing:    #ff5700;
 $color-electronics: #006eff;
 $color-shoes:       #34dddd;

// Reward
 $color-money:       #339966;
 $color-gold:        #ffd700;

// Rejection
 $color-rejected:    #FF0000;

// Theme
 $color-spacered:    #f8504b;
 $color-spaceblue:   #00bfff;
 $color-spacegreen:  #75D855;
 $color-spacegrey:   #404040;

// Colors
 $color-cardinal:    #C41E3A;
 $color-burgundy:    #900020;
 $color-banana:      #ffff00;
 $color-royal:       #523f8c;
 $color-blue:        #0266C8;
 $color-blue2:       #0295ff;
 $color-lightgrey:   #999;
 $color-purple:      #6c54b3;
 $color-platinum:    #E5E4E2;

// External
 $color-facebook:    #46629E;
 $color-instagram:   #125688;

// Links
 $color-link:        #0c65a5;
 $color-linkhover:   #0c65a5;
 $color-visited:     #0c65a5;


/****** FONT STACKS ******/
 $font_stack-header:        'Droid Sans', sans-serif;

// Primary button font
 $font_stack-secondary:         'Roboto', sans-serif;

// Alfred, Stumble handling
 $font_stack-alfred:       'Baskerville', sans-serif;

// Money 
 $font_stack-text:                'Abel', sans-serif;

// Text
 $font_stack-norm:      'Helvetica Neue', sans-serif;