/* SpaceTrades Styling Sheet */

/****** GLOBAL ******/


html, body {
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #404040;
    margin: 0;
}

footer {
    text-align: center;
}

a {
    color: #404040;
    text-decoration: none;
}

a:link {
    color: #404040;
    text-decoration: none;
}

a:visited {
    color: #404040;
    text-decoration: none;
}

a:hover {
    color: #404040;
    text-decoration: none;
}

a:active {
    color: #404040;
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 1rem;
}


/****** GLOBAL END ******/

/****** GLOBAL CLASSES END ******/

.div {
    margin: 0 20% 0 20%;
}

.email {
    color: #f8504b;
    font-weight: 700;
}

/****** GLOBAL CLASSES END ******/

/****** HEADER ******/

.mainnav {
    color: #404040;
    background-color: #f8504b;
    width: 100%;
    text-align: right;
}

.mainnav ul {
    display: inline-block;
}

.mainnav ul li {
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 0px;
}

.mainnav ul li a {
    color: #404040;
    padding: 8px 12px 8px 12px;
    margin: 0 3px 0 3px;
    font-weight: 700;

}

.mainnav ul li a:hover {
    color: #fff;
    background-color: #404040;
}

.navbox a {
    border: 1px solid #fff !important;
    color: #fff !important;
    font-weight: 400 !important;
}

.navbox a:hover {
    background-color: #fff !important;
    color: #404040 !important;
}

/** Field Area **/


.logo {
    text-align: center;
    font-size: 4rem;
    color: #404040;
}

.searchfield {
    text-align: center;
    margin: -20px 0 10px 0;
}

.icon {
    margin-right: 5px;
    border: 1px solid #d3d3d3;
    padding: 6px 8px 8px 8px;

}

.search {
    height: 30px;
    width: 40%;
    background: #fff;
    border: 1px solid #d3d3d3;
    font-size: 0.8rem;
    color: #262626;
    padding-left: 15px;
}


/** Search Field End **/




/****** HEADER END ******/

/****** FOOTER ******/

.footitems {
    padding: 0;
    margin: 0;
}

.foot ul li {
    display: inline-block;
    text-align: center;
    padding: 0 2px 0 2px;
    margin: 0 5px 0 5px;
}

.foot ul p {
    padding: 0 2px 0 2px;
    margin: 0 0 5px 0;
    font-size: 0.7rem;
    font-weight: bold;
}





/****** FOOTER END ******/

/****** HOMEPAGE ******/



/****** HOMEPAGE END ******/

/****** FAQ ******/

.faq {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.faq ul {
    padding: 0;
}

.faq ul li ul li p {
    width: 70%;
}

.faqsec {
    margin-left: 1rem;
}

.faqheading {
    margin: 0;
    margin-bottom: 2px;
    margin-top: 1.5rem;
    margin-left: 3rem;
}

.faqpar {
    margin: 0;
    margin-bottom: 1.5rem;
    margin-top: 2px;
    margin-left: 3rem;
    line-height: 1.5rem;
}

.faqinfo {
    text-align: center;
    margin: 3rem 0 0 0;
}

/****** FAQ END ******/

/****** SAFETY ******/






/****** SAFETY END ******/




