<!-- This modal can be accessed from Home, or Search | Pre and Post Auth -->
<template name="ModalLocationRadius">
	<!-- Modal -->
	<div class="modLocationRadius modal" id="locationRadiusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modLocationRadiusDialog modal-dialog" role="document">
	    <div class="modLocationRadiusContent modal-content">
	      <div class="modLocationRadiusBody modal-body">
	      	<div class="modLocationRadiusMaps">
	        	<div class="offerRequestMapsApi">
	        	 <input id="pac-input" class="controls" type="text" placeholder="Choose Location">
	        	
	        		{{> googleMap name="locationRadiusMap" options=locationRadiusMapOptions }}
	        	</div>
	        	<div class="modMultiBtn modMultiBtnDouble modMultiBtnOfferRequest modMultiBtnOfferRequestDouble modMultiBtnOfferRequestThree">
                    <button type="button" data-dismiss="modal" class="btn btn-primary modalSubmitBtn" id="offerRequestModalSubmit"><input type="button" value="Save Location" class="offerRequestBtn"></button>
                </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>