<!-- This modal can be accessed from Everywhere | Post Auth -->
<template name="ModalJoin">
  <div class="modJoin modal" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modJoinDialog modal-dialog" role="document">
      <div class="modJoinContent modal-content">
        <div class="modJoinBody modal-body">
       		<div class="modJoinWrapper">
       			<h1>Join SpaceTrades</h1>
            <ul>
              <li class="modJoinMessage">SpaceTrades Is A Sneakerhead Oriented Site Which Aims To Make Buying And Selling Safer, Easier, And More Efficient.</li>
       				<li class="modJoinOnly">We Only Allow Facebook Sign Up</li>
              <li class="modJoinCred">Facebook ensures site-wide credibility</li>
              <li class="modJoinCred"></li>
       			</ul>
            <p class="joinAgreeSmall">By Signing Up You Agree To Our <a href="/help/terms">Terms and Conditions</a>, <a href="/help/terms">Privacy Policy</a>, and <a href="/help/prohibited">Community Rules</a></p>
            <div class="modJoinFB-Btn ph-button facebook" data-dismiss="modal">
              <i class="fa fa-facebook-square"></i>
              <b>Sign Up With Facebook</b> 
            </div>
       		</div>
        </div>
      </div>
    </div>
  </div>
</template>