<!-- This modal can be accessed from Home, or Search | Pre and Post Auth -->
<template name="ModalLocationRadius">
	<!-- Modal -->
	<div class="modLocationRadius modal" id="locationRadiusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modLocationRadiusDialog modal-dialog" role="document">
			<div class="modLocationRadiusContent modal-content">

				<div class="modLocationRadiusBody modal-body">
					<div class="modLocationRadiusMaps">
						<div class="offerRequestMapsApi">
							<input id="pac-input" class="controls" type="text" placeholder="Choose Location" value="{{locationFull}}">
							{{> googleMap name="locationRadiusMap" options=locationRadiusMapOptions }}
						</div>
						
						<select class="mapRadius">
						<option value="" disabled selected >Select Radius</option>
						<option value="1">1 Mile</option>
						<option value="2">2 Miles</option>
						<option value="3">3 Miles</option>
						<option value="4">4 Miles</option>
						<option value="5">5 Miles</option>
						</select>
						
						<div class="modMultiBtn modMultiBtnDouble modMultiBtnOfferRequest modMultiBtnOfferRequestDouble modMultiBtnOfferRequestThree">

							<button type="button" class="btn btn-primary currentLocation" id=""><input type="button" value="Use Current Location" class="currentLocationBtn"></button>

							<button type="button" data-dismiss="modal" class="btn btn-primary modalSubmitBtn locationRadiusSave" id="offerRequestModalSubmit"><input type="button" value="Save" class="offerRequestBtn"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>