<template name="UserProfile">
    <!-- TASK - Add custom profile color streak like Twitter -->

    {{#with profile}}
    <div class="profileUser oneDiv">
        <div class="profileUserLeft">
            <div class="profileUserImage">
                <div class="spin"> {{> spinner}} </div>
                <img src="{{profile.picturelrg}}" class="profileUserImg settingsChange">
            </div>
            <!-- <div class="profileUserGraph">
                <label for="myChart"><b>Meetup Graph</b>
                <br>
                <span class="profileMonth"> {{month}} </span>
                <br>
                    <canvas id="myChart"></canvas>
                </label>
            </div> -->
        </div>
        <div class="profileUserRight">
            <div class="profileUserName">
                <ul>
                    <li><h1>{{name}}</h1></li>
                    <li>
                        <div class="circle" style="background-color: {{online.color}}"></div>
                    </li>
                </ul>
            </div>
            <div class="profileUserRating">
                <ul class="profileUserRatingUl">
                    <li class="profileStars">
                        {{> RatingSum}}

                        <span>({{reviewscount}} Reviews)</span></li>
                        <li><i class="fa fa-info-circle" data-toggle="tooltip" title="Member since {{memberSince}}"></i></li>
                    </ul>
                </div>
                <div class="profileUserInfo">
                    <ul class="profileUserArea">
                        <li>{{locationString}}</li>
                        <li><a href="{{facebook}}" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="{{email}}" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
                    </ul>
                </div>
                <div class="profileUserAmount">
                    <ul>
                        <li class="profileUserAmountBought">Items Bought: {{amountbought}}
                        </li>
                        <li class="profileUserAmountSold">Items Sold: {{amountsold}}
                        </li>
                    </ul>
                </div>
                <div class="desc-box profileDesc">
                    <h4 class="box-title">Description</h4>
                    <p class="settingsChange">{{about}}</p>
                </div>
                <div class="profileUserButtons" style="margin-top: 2em">
                 {{#if isOwner}}
                   <ul class="listingItemButtons" style="float: left">
                 <li style="list-style-type: none">
                 <a href="/profile/settings">Edit Settings</a>
             </li>
             </ul>
             {{else}}
             <ul class="listingItemButtons" style="float: left">
                 <li class="profileChatBtn" style="list-style-type: none">
                 <a href="/chat/{{chatId}}">Chat</a></li>
                 <!--  <li class="profileChatBtn"><a class="followButton btn btn-primary btn-lg"> Follow </a></li> -->
                  <li class="profileChatBtn modReportTrigger"style="list-style-type: none"><a href>Report User</a></li>
             </ul>
             {{/if}}
         </div>
     </div>
     <!-- This is hidden until a certain point and than it shown and the original one is hidden-->
     <div class="hiddenProfileUserRight">
        <div class="profileUserAmount hiddenProfileUserAmount">
            <ul>
                <li class="profileUserAmountBought">Bought: $<span class="money">{{amountbought}}</span>
                </li>
                <li class="profileUserAmountSold">Sold: $<span class="money">{{amountsold}}</span>
                </li>
            </ul>
        </div>
        <div class="desc-box profileDesc hiddenProfileDesc">
            <h4 class="box-title">Description</h4>
            <p>{{about}}</p>
        </div>
        <div class="profileUserButtons hiddenProfileUserButtons">
            <ul class="profileUserButtonUl">
                <li class="profileChatBtn"><a href="/chat/{{chatId}}">Chat</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="profileUserCards oneDiv">
    <ul class="profileUserCardsUl">
       {{#each listing}}
       <li>
        <a href="/listing/{{_id}}"><img src="{{img1}}"></a>
    </li>
    {{/each}}
</ul>
<ul class="profileUserMore">
    <li>
        <a href="#" class="homeLoadMore"><i class="fa fa-chevron-circle-down"></i></a>
    </li>
</ul>
</div>
<div class="profileUserFeedbackView oneDiv">
    {{#if feedbackExists}}
        <!-- <h2>Feedback</h2>
        <ul class="profileUserFeedbackViewSymbols">
            <li class="profileUserFeedbackViewPositive"><i class="fa fa-plus"></i>{{upvotes}}</li>
            <li class="profileUserFeedbackViewNeutral"><i class="fa fa-dot-circle-o"></i>{{neutralvotes}}</li>
            <li class="profileUserFeedbackViewNegative"><i class="fa fa-minus"></i>{{downvotes}}</li>
        </ul> -->
        <h1> Seller Rating </h1>
        {{> RatingSeller}}
        <h1> Buyer Rating </h1>
        {{> RatingBuyer}}
        <ul class="profileUserFeedbackViewResponse">
            <h1> Feedback</h1>
            {{#each feedback}}
            {{> feedbackCard}}
            {{/each}}
        </ul>       
        {{else}}
        This user has not completed any meetups. No feedback or Ratings yet.
        {{/if}} 
    </div> 
    {{/with}}
</template>