<template name="footer">
    <footer>
        <div class="footer">
            <div class="footerLeft">
                <ul class="footerItems">
                    <li><h3><a href="/">SpaceTrades</a></h3></li>
                    <li><h4><a href="/help/about">About</a></h4></li>
                    <li><h4><a href="/help">Help</a></h4></li>
                    <li><h4><a href="/help/faq">FAQ</a></h4></li>
                    <li><h4><a href="/help/terms">Terms of Use &amp; Privacy</a></h4></li>
                    <li><h4><a href="/help/safety">Safety</a></h4></li>
                    <li><h4><a href="/help/prohibited">Prohibited</a></h4></li>
                    <li><h4><a href="/help/report">Report</a></h4></li>
                    <li><h4><a href="/help/contact">Contact</a></h4></li>
                </ul>
                <ul class="footerItems footerDivide">
                    <li><h4><a href="#" data-toggle="modal" data-target="#addListingModal">Add Listing</a></h4></li>
                    <li><h4><a href="/profile/offers">Your Offers</a></h4></li>
                    <li><h4><a href="/profile/listings">Your Listings</a></h4></li>
                    <li><h4><a href="/profile/saved">Saved Products</a></h4></li>
                    <li><h4><a href="/profile/history">History</a></h4></li>
                    <li><h4><a href="/profile/settings">Settings</a></h4></li>
                </ul>
                <ul class="footerbottom">
                    <li class="footerCopy">&copy; 2015 SpaceTrades. All Rights Reserved</li>
                    <li class="footerSocial">
                        <ul>
                            <li><a href="https://facebook.com/SpaceTrades"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/SpaceTrades"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://instagram.com/SpaceTrades"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://youtube.com/SpaceTrades"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="/help/contact"><i class="material-icons">email</i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>