<template name="home">
    <div class="homeCard oneDiv">
        <ul class="homeCardUl">
            {{#if defaultCheck}}
            {{#each listing}}
            {{> card}}
            {{/each}}
            {{else}}
            {{> DefaultHome}}
            {{/if}}
        </ul> 
    </div>
    <ul class="profileUserMore">
        <li>
            <a href="#" class="homeLoadMore"><i class="fa fa-chevron-circle-down"></i></a>
        </li>
    </ul>  
    {{> ModalLocationRadius}}
    {{> ModalJoin}}

    {{#if currentUser}}
    {{> footer}}
    {{else}}
    {{> footerPre}}
    {{/if}}
</template>
