<template name="home">
<!-- TASK - Limit listings on every page load EX: Load more *click* => help center => Home page The user will see the extra listings from the past click -->
<!-- TASK - Include mile radius selector select box 1 2 3 5 10 20 top left-->
    <div class="homeCard oneDiv">
        <ul class="homeCardUl">
            {{#each listing}}
            {{> card}}
            {{/each}}
        </ul> 
    </div>
    <ul class="profileUserMore">
        <li>
            <a href="#" class="homeLoadMore"><i class="fa fa-chevron-circle-down"></i></a>
        </li>
    </ul>  
    <!-- !!! DO NOT REMOVE THIS GIVES HOME CARDS WIDTH = HEIGHT !!! -->
    {{> footer}}
    {{> ModalLocationRadius}}
    {{> ModalJoin}}
</template>
