<!-- This modal can be accessed from Your Listings | Post Auth -->
<template name="ModalReceivedOffers">
	<!-- Modal -->
	<div class="modSentOffer modal" id="receivedOffersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modSentOfferDialog modal-dialog" role="document">
	    <div class="modSendOfferContent modal-content">
	      <div class="modSentOfferBody modal-body">
	      	<div class="profileReceivedOffers">
		        <ul id="profileReceivedModalUl" class="profileReceivedUl">
		        	<h2 class="profileReceivedOffersH2">Offers For: <a href="/listing/{{listingSelected._id}}">{{listingSelected.listing_title}}</a></h2>
		        	{{#each offers}}
		    			{{> receivedOfferCard}}
		        	{{/each}}
		        </ul>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
</template>