<!-- This modal can be accessed from Everywhere | Post Auth -->
<template name="ModalJoin">
  <div class="modJoin modal" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modJoinDialog modal-dialog" role="document">
      <div class="modJoinContent modal-content">
        <div class="modJoinBody modal-body">
       		<div class="">
       			<h1>Sign Up With Facebook</h1>
       			<ul>
       				<li>It's easier to sign up with facebook, we receive your basic information to make things move along faster.</li>
       				<li>Signing into SpaceTrades with facebook makes things easier and more secure.</li>
       				<li>You know you're always on facebook, 1 click and you're on SpaceTrades.</li>
       			</ul>
       			<a href="#" class="login modalJoinLogin">Sign Up</a>
       		</div>
        </div>
      </div>
    </div>
  </div>
</template>