	<template name="receivedOfferCard">
		<li class="profileReceivedOffersLi">
			<a class="profileReceivedOffersHover btn btn-primary btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#receivedOffersModalFull">
				<ul class="profileReceivedOffersInfo">
					<li class="profileReceivedOffersInfoImg"><img src="http://graph.facebook.com/663275057124879/picture/?type=small"></li>
					<li class="profileReceivedOffersInfoPrice"><span class="money">${{offerprice}}</span></li>
					<li class="profileReceivedOffersInfoTime">{{timeSinceCreation}}</li>
					<li class="profileReceivedOffersInfoLocation">{{location}}</li>
				</ul>
			</a>
		</li>
	</template>