<!-- This modal can be accessed from Everywhere | Post Auth -->
<template name="ModalJoin">
  <div class="modJoin modal" id="JoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modJoinDialog modal-dialog" role="document">
      <div class="modJoinContent modal-content">
        <div class="modJoinBody modal-body">
       		<div class="modJoinWrapper">
       			<h1>Sign Up With Facebook</h1>
       			<ul>
       				<li>We only allow Facebook sign up</li>
              <li> Facebook ensures sitewide credibility</li>
       			</ul>
       			<div class="ph-button facebook">
        <b>Sign Up With Facebook</b> 
        <i class="fa fa-facebook large"></i>
      </div>
       		</div>
        </div>
      </div>
    </div>
  </div>
</template>