  <template name="RatingBuyer">
      <ul class="profileUserFeedbackViewCriteria">
        <li>
            <ul class="profileUserFeedbackViewCriteriaOne">
                <li class="profileUserFeedbackViewQuestion">Overall Rating</li>
                <li class="profileUserFeedbackViewStars">
                   <div class="rateit"></div>
               </li>
           </ul>
       </li>
       <li>
        <ul class="profileUserFeedbackViewCriteriaTwo">
            <li class="profileUserFeedbackViewQuestion">Payment Satisfaction</li>
            <li class="profileUserFeedbackViewStars">
               <div class="rateit"></div>
           </li>
       </ul>
   </li>
   <li>
    <ul class="profileUserFeedbackViewCriteriaThree">
        <li class="profileUserFeedbackViewQuestion">Meetup Efficiency</li>
        <li class="profileUserFeedbackViewStars">
            <div class="rateit"></div>
        </li>
    </ul>
</li>
<li>
    <ul class="profileUserFeedbackViewCriteriaFour">
        <li class="profileUserFeedbackViewQuestion">User friendliness</li>
        <li class="profileUserFeedbackViewStars">
           <div class="rateit"></div>
       </li>
   </ul>
</li>
</ul>
</template>