<template name="DefaultProfileActive">
	<div class="defaultProfileDiv oneDiv">
		<h2>You Currently Have No Active Meetups</h2>
		<p>Here's some lorum ipsum about what this page is about and purpose it serves, super interesting isn't it. This writing will help the user understand what this page is for and is only here when there are no active cards. There will be one for each manager.</p>
		<p>Want to know more about Active Meetups?</p>
		<li href="/" class="defaultProfileButton"><a>Find Out More</a></li>
	</div>
</template>