<template name="DefaultProfileHistory">
	<div class="defaultProfileDiv oneDiv">
		<h2><i class="fa fa-anchor"></i>You Currently Have No Meetup History</h2>
		<p>Here's some lorum ipsum about what this page is about and purpose it serves, super interesting isn't it. This writing will help the user understand what this page is for and is only here when there are no active cards. There will be one for each manager.</p>
		<p>Want to know more about Meetup History?</p>
		<li class="defaultProfileButton"><a href="/">Find Out More</a></li>
	</div>
</template>