<template name="profileSavedCard">
    <li class="profileCardLi">
        <p>Available</p> <!-- Available, Not Available -->
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="https://listing-images-spacetrades.s3-us-west-2.amazonaws.com/ykBL2h9RZkQmJLi38/download.jpg" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>Nike Example Max Retro</h4></a></li>
            <li class="money profileCardItem">$350</li>
            <li class="profileCardItem">Condition: Like New</li>
            <li class="profileCardItem">Size: 13</li>
            <li class="managerOfferView managerOfferUnsave"><a href="#" class="ph-button ph-btn-blue">Unsave</a></li>
        </ul>
    </li>
</template>