<template name="profileSavedCard">
    <li class="profileCardLi">
        <p>{{status}}</p> <!-- Available, Not Available -->
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{item_id}}</h4></a></li>
            <li class="money profileCardItem">{{price}}</li>
            <li class="managerOfferView managerOfferUnsave"><a href="#" class="ph-button ph-btn-blue">Unsave</a></li>
        </ul>
    </li>
</template>