<template name="UserProfileSettings">
<!-- TASK - ADD user decription editing -->
<!-- TASK - ADD Blocking-->
<!-- TASK - ADD Followers -->

<!-- src="{{picture}}" -->

<!-- Take Caution When Adding New Classes-->
	<div class="profileSettingsDiv oneDiv"> 
		<ul class="profileSettingsUl">
			<li class="profileSettingsLi">
				<ul class="profileSettingsPhoto">
					<li><h4>Photo</h4></li>
					<!-- Current Image Is Default Value -->					
					<li class="profileSettingsImage"><img id="profileImage" ><input type="file" class="profileSettingsSelectImg"></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsAbout">
					<li><h4>About You</h4></li>
					<li class="abouttext"><textarea maxlength="200" rows="3" class="message profileSettingsAboutInput" placeholder="Edit">{{aboutText}}</textarea></li>
				</ul>
			</li>
			<li class="profileSettingsLi">
				<ul class="profileSettingsEmail">
					<li><h4>Email</h4></li>
					<li><input type="text" class="profileSettingsEmailInput" placeholder="" value="{{email}}"></li>
				</ul>
			</li>
		</ul>
		<div class="profileSettingsButton">
			<input type="submit" class="profileSettingsSubmit" value="Save Changes">
		</div>
	</div>
</template>