<template name="ProfileHistory">
	<div class="profileCard oneDiv">
        <ul class="profileCardUl profileHistoryCardUl">
        <!-- History should be highlighted in nav  -->
        {{#if defaultCheck}}
            {{#each history}}
				{{> profileHistoryCard}}
			{{/each}}
		{{else}}
		{{> DefaultProfileHistory}}
		{{/if}}    
		</ul>    
    </div>
    {{> ModalHistoryDetails}}

    {{> ModalFeedbackPrimaryBuyer}}
    {{> ModalFeedbackPrimarySeller}}
    {{> ModalFeedbackInitialBuyer}}
    {{> ModalFeedbackInitialSeller}}
    {{> ModalFeedbackNeverBuyer}}
    {{> ModalFeedbackNeverSeller}}
    {{> ModalFeedbackUnsuccessfulBuyer}}
    {{> ModalFeedbackUnsuccessfulSeller}}
</template> 