<template name="ManagerCardListing">
	<li class="profileCardLi">
        <p class="managerListingStatus"> {{offers}} offers</p>
        <ul class="profileCardImage">
            <a href="/listing/{{_id}}"><img src="{{img1}}" class="profileCardImg"></a>
        </ul>
        <ul class="profileCardInfo">
            <li><a href="/listing/{{_id}}"><h4>{{listing_title}}</h4></a></li>
            <li class="money profileCardItem">${{price}}</li>
            <li class="profileCardItem">Condition: {{condition}}</li>
            <li class="profileCardItem">Size: {{size}}</li>
            <li class="managerOfferView">
                <button type="button" class="modSentOfferTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#listingManagerModal">Manage</button>
            </li>
        </ul>
    </li>
</template>