<template name="profileManagerListings">
	<div class="profileCard oneDiv">
        <ul class="profileCardUl">
        {{#if defaultCheck}}
            {{#each listing}}
            {{> ManagerCardListing}}
            {{/each}}
            {{else}}
            {{> DefaultProfileListings}}
        {{/if}}
        </ul>
    </div>
    {{> ModalReceivedOffers}}
    {{> ModalReceivedOffersFull}}
    {{> ModalListingManager}}
    {{> ModalEditListing}}
    {{> ModalReceivedAccept}}
    {{> ModalReceivedDecline}}
    
</template>