<template name="ProfileCenterNav">
<div class="helpcenternav oneDiv">
    <nav class="helpnav">
        <ul class="helplogol">
            <h2 class="helplogo">Account</h2>
        </ul>
        <ul class="helpiteml">
            <!-- <li><a href="/profile/offers" class="helpitem">Active Meetup</a></li> -->
            <li><a href="/profile/offers" class="helpitem">Sent Offers</a></li>
            <li><a href="/profile/listings" class="helpitem">Your Listings</a></li>
            <li><a href="/profile/history" class="helpitem">History</a></li>
            <li><a href="/profile/saved" class="helpitem">Saved Products</a></li>
            <li><a href="/profile/settings" class="helpitem">Settings</a></li>
        </ul>
    </nav>
</div>
</template>