
<template name="chatRight">
	<ul class="chatRight">
		<li class="chatTopSection">
			<ul>
			<li><h3><a href="">{{conversation}}</a></h3></li>
				<!-- TASK - Include context of chat so, what items are you chatting about selling and display to right of userprofile -->
	<!-- 			<li>
					<div class="circle" style="background-color:#24ec3d;"></div>
				</li> -->
			</ul>
		</li>
		<li class="chatMessages">

			<!-- TASK - Each for your own messages match your and for alternate user messages -->
			<!-- TASK - Add divider between sidebar and right -->
			<div class="circle" style="background-color: {{online.color}}"></div>
			{{#each messages}}
			<ul class="chatUserSent">
				<li>{{message}}</li>
				<li><a href=""><img src="{{pictureLookup idParam=sender}}"></a></li>
				<span class="timestamp">{{createdAt}}</span>
			</ul>
			{{/each}}
			
			</li>
			<li class="chatBottomSection">
				<ul class="chatInputText">
					<li><input type="text" class="chatText"></li>
				</ul>
				<ul class="chatSend">
					<!-- TASK - ADD attachments PL -->
					<!-- <li><i class=" fa fa-paperclip"></i></li> -->
					<input type="submit" class="contactButton chatSendButton" value="Send">
				</ul>
			</li>
		</ul>
	</template>