<template name="chatLeft">
		<ul class="chatLeft">
			<li class="chatInbox">
				<ul>
					<li class="chatInboxTop">
						<ul>
							<li class="chatInboxTitle"><h3>Inbox</h3></li>
							<li class="chatInboxSearch"><i class="fa fa-search"></i><input type="text" class="chatInboxSeachInput"></li>
						</ul>
					</li>
				</ul> 
			</li>
			{{#each conversations}}
			<li class="chatPeople">
				<ul>
					<li class="chatPerson">
						<ul>
							<li><a href=""><img src="{{pictureLookup idParam=username}}"></a></li>
							<li> <a href="/chat/{{conversations}}" class="profile-link">{{nameLookup idParam=username}}</a></li>
							<li><div class="circle" style="{{online}}"></div></li>
							<!-- TASK - MAYBE - show a checked icon when meetup has been scheduled and hide on expiration -->
							<!-- TASK - USE Message box cloud look around messages -->
							<!-- TASK - ADD smart text autocomplete, locations, price... -->
						</ul>
					</li>
				</ul>
			</li>
			{{/each}}
		</ul>
</template>