
<template name="chatRight">
<!-- TASK - Include down arrow to go down to most recent message -->
<!-- TASK - Include context of chat so, what items are you chatting about selling and display to right of userprofile -->
<!-- TASK - ADD attachments PL -->
<!-- TASK - Each for your own messages match your and for alternate user messages -->
<!-- TASK - Add divider between sidebar and right -->
	<ul class="chatRight">
		<li class="chatTopSection">
			<ul>
				<li><h2><a href="">Mark Zuckerberg<!-- {{conversation}} --></a></h2></li>
				<li>
					<!-- <div class="circle" style="background-color:#24ec3d;"></div> -->
					<div class="circle" style="background-color: {{online.color}}"></div>
				</li>
			</ul>
		</li>
		<li class="chatMessages">
			{{#each messages}}
			<!-- <ul class="chatUserSent">
				<li><a href=""><img src="{{pictureLookup idParam=sender}}"></a></li>
				<li>{{message}}</li>
				<span class="timestamp">{{createdAt}}</span>
			</ul>
 -->
 			<ul class="chatUserSent">
				<li><a href=""><img src="https://scontent-lga3-1.xx.fbcdn.net/hprofile-xft1/v/t1.0-1/p50x50/11046819_726055314180186_3792506880073062985_n.jpg?oh=80665c51e5c74ba007d9635cd32195dd&amp;oe=576973DD"></a></li>
				<li class="chatMessageTempWrap">
					<ul>
						<li class="chatUserNameTime"><h4>Yusuf Bagha</h4></li>
						<span class="timestamp">{{createdAt}}</span>
						<li>
							<ul>
								<li class="chatMessageTemp">{{message}}</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
 			{{/each}}
		</li>
		<li class="chatBottomSection">
			<ul class="chatInputText">
				<li><input type="text" class="chatText"></li>
			</ul>
			<ul class="chatSend">
				<li><i class=" fa fa-paperclip"></i></li>
				<li><input type="submit" class="chatSendButton" value="Send"></li>
			</ul>
		</li>
	</ul>
</template>

