
<template name="chatRight">
<!-- TASK - Include down arrow to go down to most recent message -->
<!-- TASK - Include context of chat so, what items are you chatting about selling and display to right of userprofile -->
<!-- TASK - ADD attachments PL -->
	<ul class="chatRight">
		<li class="chatTopSection">
			<ul>
				<li><h3><a href="">{{conversation}}</a></h3></li>
				<li>
					<div class="circle" style="background-color: {{online.color}}"></div>
				</li>
			</ul>
		</li>
		<li class="chatMessages">
			{{#each messages}}
			
 			<ul class="chatUserSent">
				<li><a href=""><img src="{{pictureLookup idParam=sender}}"></a></li>
				<li class="chatMessageTempWrap">
					<ul>
						<li class="chatUserNameTime"><h4>{{username}}</h4></li>

						<span class="timestamp">{{createdAt}}</span>
						<li>
							<ul>
								<li class="chatMessageTemp">{{message}}</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
 			{{/each}}
		</li>
		<li class="chatBottomSection">
			<ul class="chatInputText">
				<li><input type="text" class="chatText"></li>
			</ul>
			<ul class="chatSend">
				<li><i class=" fa fa-paperclip"></i></li>
				<li><input type="submit" class="chatSendButton" value="Send"></li>
			</ul>
		</li>
	</ul>
</template>

