<template name="chatLeft">
	<ul class="chatLeft">
		<h3 class="chatConvoTab">Inbox</h3>
		<!--  -->
		{{#each conversations}}
		{{#with other}}
		<a href="/chat/{{conversations}}">
		<li class="chatPeople">
			<ul>
				<li class="chatPerson">
					<ul>
							<li><a><img src="{{picturesm}}"></a></li>
							<li><a class="profile-link" href="/profile/{{otherId}}">{{name}}</a></li>
							<li><div class="circle" style="green"></div></li>
					</ul>
				</li>
			</ul>
		</li>
		</a>
		{{/with}} 
		{{/each}}
		<!-- <li><a href=""><img src="{{pictureLookup idParam=username}}"></a></li>
		<li> <a href="/chat/{{conversations}}" class="profile-link">{{nameLookup idParam=username}}</a></li>
		<li><div class="circle" style="{{online}}"></div></li> -->
		<!-- TASK - MAYBE - show a checked icon when meetup has been scheduled and hide on expiration -->
		<!-- TASK - USE Message box cloud look around messages -->
		<!-- TASK - ADD smart text autocomplete, locations, price... -->
	</ul>
</template>