<!-- This modal can be accessed from Item Page, or Your Listings | Post Auth -->
<template name="ModalEditListing">
	<!-- Modal -->
	<div class="modEditListing modal" id="editListingModal">
		<div class="modEditListingDialog modal-dialog" role="document">
			<div class="modEditListingContent modal-content">
				<div class="modEditListingBody modal-body">
					<div class="modEditListingDiv">
						<h2>Edit Listing</h2>
						<ul>
							<li>Title <input type="text" class="modAddListingTitleInput listtitle" id="listtitlebox" placeholder="{{listing_title}}" maxlength="50"></li>
							<li>Price <input type="text" class="listprice" placeholder="{{price}}" maxlength="5"></li>
                            <br>

							<li><label>Quantity</label>
                                <div class="styled-select">
                                    <select class="listquantity">
                                        <option value="1">1</option>option>
                                        <option value="2">2</option>option>
                                        <option value="3">3</option>option>
                                        <option value="4">4</option>option>
                                        <option value="5">5</option>option>
                                        <option value="6">6</option>option>
                                        <option value="7">7</option>option>
                                        <option value="8">8</option>option>
                                        <option value="9">9</option>option>
                                        <option value="10">10 +</option>option>
                                    </select>
                                </div>
                            </li>
                            <li><label>Brand</label>
                                <div class="styled-select">
                                    <select class="brandSelect">
                                         <option value="" disabled selected >Select Brand</option>
                                    </select>
                                </div>
                            </li>
                            <br>
                            <li><label>Condition</label>
                                <div class="styled-select">
                                    <select class="condition">
                                        <option value="New">New</option>
                                        <option value="Like New">Like New</option>
                                        <option value="Used">Used</option>
                                        <option value="Needs Repair">Needs Repair</option>
                                    </select>
                                </div>
                            </li>
                            <li class="listsizeli"><label>Size</label>
                                <div class="styled-select">
                                    <select class="listsize">
                                        <option value="" disabled selected>Select Size</option>option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </li>
                            <!-- <li class="hidden listcapacity"><label>Capacity</label>
                                <div class="styled-select">
                                    <select class="listspace">
                                        <option value="" disabled selected>Select Size</option>option>
                                        <option value="4 GB">4 GB</option>
                                        <option value="8 GB">8 GB</option>
                                        <option value="16 GB">16 GB</option>
                                        <option value="32 GB">32 GB</option>
                                        <option value="64 GB">64 GB</option>
                                        <option value="128 GB">128 GB</option>
                                        <option value="250 GB">250 GB</option>
                                        <option value="500 GB">500 GB</option>
                                        <option value="1 TB">1 TB</option>
                                        <option value="1 TB +">1 TB +</option>
                                    </select> 
                                </div>
                            </li> -->
                            <br>
<!--                             <li><label>Color</label>
                                <input type="text" id="colorpicker"> 
                            </li> -->
                            <br>
                            <div class="modOfferRequestPageOne">
                                <ul class="modOfferRequestPageOneUl">     
                                    <li class="radioWrap timeRadio">
                                        <h2>Trade Offers</h2>
                                        <ul>
                                            <li class="modOfferRequestPaymentCash">
                                                <input type="radio" id="modEditTradeYesRadio" name="offerTime" value="Morning" class="radioWrapElement"/>
                                                <label for="modEditTradeYesRadio">Yes</label>
                                            </li>
                                            <li class="modOfferRequestPaymentPaypal">
                                                <input type="radio" id="modEditTradeNoRadio" name="offerTime" value="Afternoon" class="radioWrapElement"/>
                                                <label for="modEditTradeNoRadio">No</label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="modOfferRequestPageOne">
                                <ul class="modOfferRequestPageOneUl">     
                                    <li class="radioWrap paymentRadio">
                                        <h2>Payment Method</h2>
                                        <ul>
                                            <li class="modOfferRequestPaymentCash">
                                                <input type="radio" id="modEditCashRadio" name="offerPayment" value="Morning" class="radioWrapElement"/>
                                                <label for="modEditCashRadio">Cash</label>
                                            </li>
                                            <li class="modOfferRequestPaymentPaypal">
                                                <input type="radio" id="modEditPaypalRadio" name="offerPayment" value="Afternoon" class="radioWrapElement"/>
                                                <label for="modEditPaypalRadio">Paypal</label>
                                            </li>
                                            <li class="modOfferRequestPaymentPaypal">
                                                <input type="radio" id="modEditEitherRadio" name="offerPayment" value="Night" class="radioWrapElement"/>
                                                <label for="modEditEitherRadio">Either</label>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <li>Description
                        		<textarea class="listdescription" placeholder="Briefly explain any other information helpful to buyers..."></textarea>
                            </li>
                            <li>
                                <button type="button" data-dismiss="modal" class="btn btn-primary modalSubmitBtn modalSubmitAdd"><input type="submit" class="add ph-button" value="Create"></button>
                            </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>