	<template name="modalreceivedOfferCard">
		<a href="offer/{{_id}}" class="btn btn-primary btn-lg profileReceivedOffersHover">
			<li class="profileReceivedOffersLi">
				<ul class="profileReceivedOffersInfo">
					<li class="profileReceivedOffersInfoImg"><img src="{{creator_image}}"></li>
					<li class="profileReceivedOffersInfoPrice"><a href="/profile/{{creator_id}}">{{creator_name}}</a> Offered You <span class="money">${{offerprice}}</span></li>
					<li class="profileReceivedOffersInfoLocation">{{location}}</li>
				</ul>
			</li>
		</a>
	</template>