<template name="ModalListingManager"> 
<form class="modalListingSelected modal multi-step" id="listingManagerModal">
	{{# each listingSelected}}
	<!-- <div class="modal" id="listingManagerModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel"> -->
	  <div class="modSentOfferDialog modal-dialog" role="document">
	    <div class="modSendOfferContent modal-content">
	      <div class="modSentOfferBody modal-body">
	      	<div class="profileReceivedOffers">
		        <ul class="profileReceivedUl">
		            <li class="profileReceivedLi profileViewMeetupLi profileSentOfferLi">
		            	<p class="homeCardOfferRecieved profileSentOfferStatus">Created: {{dateFormatted}}</p>
		                <ul class="profileReceivedCardLeft">
		                    <li class="profileReceivedImage">
		                        <a href="/listing/{{listingId}}"><img src="{{img1}}" class="profileReceivedImg"></a>
		                    </li>
		                </ul>
		                <ul class="profileReceivedCardRight profileViewMeetupRight">
		                    <li><a href="/listing/{{_id}}"><h3>{{listing_title}}</h3></a></li>
		                    <li id="profileReceivedName" class="profileReceivedName">{{offers}} Offers Received</li>
		                    <li class="profileReceivedPrice"><span class="money">${{price}}</span></li>
		                    <li class="profileReceivedPayment"><b>Condition:</b> {{condition}}</li>
		                    <li class="profileReceivedDate"><b>Color:</b> <span style="color: {{color}}">{{color}} </span></li>
		                    <li class="profileReceivedLocation"><b>Size:</b> {{size}}</li>
		                    <li class="modListingManagerButtons">
	                            <ul id="profileListingManagerButtonsUl">
	                                <li class="optionsProClick click-nav">
				                        <ul class="no-js">
				                            <li>
				                                <a class="clicker">Options<i class="fa fa-caret-down"></i></a>
				                                <ul class="optionsItems">
				                                    <li>
						                                <button type="button" class="modEditListingTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#editListingModal">
						                                    <a href=""><i class="fa fa-pencil"></i>Edit</a>
						                                </button>
						                            </li>
				                                     <button type="button" class="modEditListingTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#listingDeleteModal">
						                                    <a href="">DeleteEdit</a>
						                                </button>
				                                </ul>
				                            </li>
				                        </ul>
				                    </li>
				                    <li class="managerOfferViewer managerReceivedOffers">
				                        <button type="button" class="modReceivedOffersTrigger btn btn-primary btn-lg" data-dismiss="modal" data-toggle="modal" data-target="#receivedOffersModal"> View Offers</button>
				                    </li>
	                            </ul>
	                        </li>
		                </ul>
		                <div id="profileReceivedOffersMaps">
		                    {{> googleMap name="listingImage" options=exampleMapOptions}}
		                </div>
		            </li>
		        </ul>
		    </div>
	      </div>
	    </div>
	  </div>
<!-- 	</div> -->
	{{/each}}
	</form>
</template>