<template name="ModalReceivedOffersFull">
<!-- 	<form class="modAddListingModal modal" tabindex="2" id="receivedOffersModalFull"> -->
		<div class="modSentOfferDialog modal-dialog" role="document">
			<div class="modSendOfferContent modal-content">
				<div class="modSentOfferBody modal-body">
					{{#each door}}
					<div class="profileReceivedOffers">
						<ul id="profileReceivedModalUl" class="profileReceivedUl">
							<li class="profileReceivedLi profileViewMeetupLi profileSentOfferLi">
								<p class="homeCardOfferRecieved profileSentOfferStatus"><!-- {{timeSinceCreation}} --></p>
								<ul class="profileReceivedCardLeft">
									<li class="profileReceivedImage">
										<a href="/listing/{{listingId}}"><img src="{{img}}" class="profileReceivedImg"></a>
									</li>
								</ul>
								<ul class="profileReceivedCardRight profileViewMeetupRight">
									<li><a href="/listing/{{listingId}}"><h3>{{listing_title}}</h3></a></li>
									<li id="profileReceivedName" class="profileReceivedName">You received an offer from <a href="/profile/{{creator_id}}">{{creator_name}}</a></li>
									<li class="profileReceivedPrice"><b>Offered Price: </b> <span class="money">${{offerprice}}</span></li>
									<li class="profileReceivedPayment"><b>Payment: </b>{{payment}}</li>
									<li class="profileReceivedDate"><b>Date of Meetup: </b>{{dateFormatted}}</li>
									<li class="profileReceivedLocation"><b>Location: </b>{{location}}</li>
									<li id="profileReceivedButtons">
										<ul id="profileReceivedButtonsUl">
											<li id="profileReceivedAcceptBtn"><a data-toggle="modal" data-target="#receivedAccept">Accept</a></li>
											<li><a data-toggle="modal" data-target="#receivedDecline">Decline</a></li>
										</ul>
									</li>
								</ul>
								<div id="profileReceivedOffersMaps">
									{{> googleMap name="itemoffermap" options=ItemOfferOptions}}
								</div>
							</li>
						</ul>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	<!-- </form> -->
</template>