	<template name="receivedOfferCard">

		<li class="profileReceivedOffersLi">
			<button type="button" class="btn btn-primary btn-lg profileReceivedOffersHover" data-toggle="modal" data-target="#receivedOffersModalFull"></button>
				<ul class="profileReceivedOffersInfo">
					<li class="profileReceivedOffersInfoImg"><img src="{{creator_image}}"></li>
					<li class="profileReceivedOffersInfoPrice"><a href="/profile/{{creator_id}}">{{creator_name}}</a> Offered You <span class="money">${{offerprice}}</span></li>
					<li class="profileReceivedOffersInfoTime">{{timeSinceCreation}}</li>
					<li class="profileReceivedOffersInfoLocation">{{location}}</li>
				</ul>
		</li>

	</template>