<template name="homeheaderpost">
    <nav class="headerNav headerPost">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <button type="button" class="modLocationRadiusTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#locationRadiusModal">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">Brooklyn, NY</li>
                    <li class="headerRadius"><input value="5" maxlength="2" disabled=""><span>Miles From You</span></li>
                </button>
            </ul>
            <ul class="headerBigCat">
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Categories</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="/search" class="catApparel">Apparel</a></li>
                        <li><a href="/search" class="catElectronics">Electronics</a></li>
                        <li><a href="/search" class="catShoes">Shoes</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="headerNameOptions">
                <li>
                    <a href="/profile/{{profile}}">
                        <img src="{{picturesmall}}">
                        <span class="headerUsername">{{usernameCurrent}}</span>
                    </a>
                </li>
            </ul>
            <ul class="headerHomeButton">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper">
                <li class="headerDropDown navGlobal">
                    <a href="#"><i class="fa fa-bars"></i></a>
                    <ul class="headerDropDownNav">
                        <li class="headerDropDownAddListing">
                            <button type="button" class="modAddListingTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#addListingModal">
                                <i class="fa fa-plus"></i>Add Listing
                            </button>
                        </li>
                        <li><a href="/profile/active">Active Meetups</a></li>
                        <li><a href="/profile/offers">Sent Offers</a></li>
                        <li><a href="/profile/listings">Your Listings</a></li>
                        <li><a href="/profile/saved">Saved Products</a></li>
                        <li><a href="/profile/history">History</a></li>
                        <li><a href="/profile/settings">Settings</a></li>
                        <!-- ALL NOTIFICATIONS TRIGGER GOES UNDER THE GLOBE DROPDOWN BUT SINCE IT IS UNFUNCTIONAL I AM PUTTING IT UNDER THE HAMBURGER MENU FOR NOW -->
                        <button type="button" class="modNotificationsTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#notificationsModal">
                            View All Notifications
                        </button>                        
                    </ul>
                </li>
                <li class="headerDropDown navNotifications clickDropper">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Offer From Jack</a></li>
                        <li><a href="#">Offer Accepted By Paul</a></li>
                        <li><a href="#">Your Listing Expired</a></li>
                        <li><a href="#">Saved Listing Ended</a></li>
                    </ul>
                </li> 
                <li class="headerDropDown navMessage clickDropper">
                    <a href="#"><i class="material-icons">chat</i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                        <li><a href="#">Jon<br>Hey Jon Whats Up</a></li>
                    </ul>
                </li> 
                <li class="headerDropDown navGeneral clickDropper">
                    <a href="#"><i class="fa fa-caret-down"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="/help">Help Center</a></li>
                        <li><a href="/advertise">Advertise</a></li>
                        <li><a href="/help/report">Report</a></li>
                        <li><a href="#" class="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
    <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <div class="searchfield job oneDiv">
       <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
      <a href="/search" class="homesearchbtn">Search</a>
</div>

</template>