<template name="homeheaderpre">
    <nav class="headerNav headerHomePost">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <a class="modLocationRadiusTrigger btn btn-primary btn-lg" href="/map">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">{{locationFull}}</li>
               <!--  <li class="headerRadius">{{mapRadius}} <span>  Miles From You</span></li> -->
                </a>
            </ul>
            <ul class="headerCat">
                 <li class="headerDropDown headerDropDownPre navGeneral clickDropper">
                    <span>Apparel</span>
                    <ul class="headerDropDownNav">
                        <li><a href="/search" class="catBags catPre">Bags</a></li>
                        <li><a href="/search" class="catBelts catPre">Belts</a></li>
                        <li><a href="/search" class="catHoodies catPre">Hoodies</a></li>
                        <li><a href="/search" class="catJackets catPre">Jackets</a></li>
                        <li><a href="/search" class="catJeans catPre">Jeans</a></li>
                        <li><a href="/search" class="catShorts catPre">Shorts</a></li>
                        <li><a href="/search" class="catTees catPre">Tees</a></li>
                        <li><a href="/search" class="catOther catPre">Other</a></li>
                    </ul>
                </li>

                <li class="headerDropDown headerDropDownPre navGeneral clickDropper">
                    <span>Electronics</span>
                    <ul class="headerDropDownNav">
                        <li><a href="/search" class="catPhones catPre">Phones</a></li>
                        <li><a href="/search" class="catTablets catPre">Tablets</a></li>
                        <li><a href="/search" class="catComputers catPre">Computers</a></li>
                        <li><a href="/search" class="catGames catPre">Games</a></li>
                        <li><a href="/search" class="catHeadphones catPre">Headphones</a></li>
                        <li><a href="/search" class="catOther catPre">Other</a></li>
                    </ul>
                </li> 
                <li class="headerDropDown headerDropDownPre navGeneral clickDropper">
                    <span>Shoes</span>
                    <ul class="headerDropDownNav">
                        <li><a href="/search" class="catAsics catPre">Asics</a></li>
                        <li><a href="/search" class="catAddidas catPre">Addidas</a></li>
                        <li><a href="/search" class="catConverse catPre">Converse</a></li>
                        <li><a href="/search" class="catNike catPre">Nike</a></li>
                        <li><a href="/search" class="catJordan catPre">Jordan</a></li>
                    </ul>
                </li>
                <li class="headerNotDrop"><a href="#">Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><button type="button" class="modJoinTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#JoinModal">
                Join</button></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </nav>
     <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <div class="searchfield job oneDiv">
       <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
      <a href="/search" class="homesearchbtn">Search</a>
</div>
</template>