<template name="headerpost">
    <nav class="headerNav headerPost">
        <nav class="headerNavMax">
            <ul class="headerSearch">
                <li class="headerSearchRadiusLogo headerSearchNavLogo"><a href="/">SpaceTrades</a></li>
                <li class="headerSearchNavField">
                    <i class="fa fa-search"></i>
                    <input type="search" class="headerNavSearch headerSearchNav" id="headerNavSearch" placeholder="Search&hellip;" />
                </li>  
            </ul>
            <ul class="headerBigCat">
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Categories</span>
                    <ul class="headerDropDownNav hoverDropDown">
                        <li><a href="/search" class="catApparel">Apparel</a></li>
                        <li><a href="/search" class="catElectronics">Electronics</a></li>
                        <li><a href="/search" class="catShoes">Shoes</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="headerNameOptions">
                <li>
                    <a href="/profile/{{profile}}">
                        <img src="{{picturesmall}}">
                        <span class="headerUsername">{{usernameCurrent}}</span>
                    </a>
                </li>
            </ul>
            <ul class="headerHomeButton">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper">
                <li class="headerDropDown navGlobal">
                    <a href="#"><i class="fa fa-bars"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="/add">Add Listing</a></li>
                        <li><a href="/profile/active">Active Meetups</a></li>
                        <li><a href="/profile/offers">Sent Offers</a></li>
                        <li><a href="/profile/listings">Your Listings</a></li>
                        <li><a href="/profile/saved">Saved Products</a></li>
                        <li><a href="/profile/history">History</a></li>
                       
                    </ul>
                </li>
                <li class="headerDropDown navNotifications clickDropper">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <ul class="headerDropDownNav">
                        {{#each Notification}}
                        <li>{{> Notification}}</li>
                        {{/each}}
                         <button type="button" class="modNotificationsTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#notificationsModal">
                            View All Notifications
                        </button> 
                    </ul>
                </li> 
                <li class="headerDropDown navMessages clickDropper">
                    <span class="badge">{{chatCountUnread}}</span><a href="#"><i class="material-icons">Chat</i></a>
                </li> 
                <li class="headerDropDown navGeneral clickDropper">
                    <a href="#"><i class="fa fa-caret-down"></i></a>
                    <ul class="headerDropDownNav">
                        <li><a href="/help">Help Center</a></li>
                        <li><a href="/advertise">Advertise</a></li>
                        <li><a href="/help/report">Report</a></li>
                        <li><a href="/profile/settings">Profile Settings</a></li>
                        <li><a href="#" class="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
</template>
