<template name="headersearchpost">
    <nav class="headerNav headerPost">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <li class="headerSearchRadiusLogo"><a href="/">SpaceTrades</a></li>
                <button type="button" class="modLocationRadiusTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#locationRadiusModal">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">{{locationFull}}</li>
                   <!--  <li class="headerRadius">{{mapRadius}} <span>Miles From You</span></li> -->
                </button>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper headerCatDrop">
                <li class="headerDropDown headerDropDownPre headerCatDropLi">
                    <span>Categories</span>
                    <ul class="headerDropDownNav headerCatDropDown">
                        <a href="/search" class="catApparel"><li>Apparel</li></a>
                        <a href="/search" class="catElectronics"><li>Electronics</li></a>
                        <a href="/search" class="catShoes"><li>Shoes</li></a>
                        <a href="/search" class="catOther"><li>Other</li></a>
                    </ul>
                </li>
            </ul>
            <ul class="headerNameOptions">
                <li>
                    <a href="/profile/{{profile}}">
                        <img src="{{picturesmall}}">
                        <span class="headerUsername">{{usernameCurrent}}</span>
                    </a>
                </li>
            </ul>
            <ul class="headerHomeButton">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper">
                <li class="headerDropDown navGlobal">
                    <a href="#"><i class="fa fa-bars"></i></a>
                    <ul class="headerDropDownNav managerDropdown">
                        <a href="/add"><li>Add Listing</li></a>
                        <a href="/profile/active"><li>Active Meetups</li></a>
                        <a href="/profile/offers"><li>Sent Offers</li></a>
                        <a href="/profile/listings"><li>Your Listings</li></a>
                        <a href="/profile/saved"><li>Saved Products</li></a>
                        <a href="/profile/history"><li>History</li></a>  
                    </ul>
                </li>
                <li class="headerDropDown navNotifications clickDropper">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <ul class="headerDropDownNav notifyDropdown">
                    {{#if hasNotifications}}
                        {{#each Notification}}
                        <li>{{> Notification}}</li>
                        {{/each}}
                         <button type="button" class="modNotificationsTrigger btn btn-primary btn-lg" >
                            View All Notifications
                        </button> 
                        {{/if}}
                    </ul>
                </li> 
                <li class="headerDropDown navMessages clickDropper">
                   <a href="/chat"><i class="material-icons">chat</i></a>
                </li> 
                <li class="headerDropDown navGeneral clickDropper">
                    <a href="#"><i class="fa fa-caret-down"></i></a>
                    <ul class="headerDropDownNav otherDropdown">
                       <a href="/help"><li>Help Center</li></a>
                       <a href="/help"><li>Go Premium</li></a>
                        <a href="/advertise"><li>Advertise</li></a>
                       <a href="/help/report"><li>Report</li></a>
                        <a href="/profile/settings"><li>Profile Settings</li></a>
                        <a href="#" class="logout"><li>Logout</li></a>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
</template>