<template name="headersearchpre">
    <nav class="headerNav headerPre">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <li class="headerSearchRadiusLogo"><a href="/">SpaceTrades</a></li>
                <button type="button" class="modLocationRadiusTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#locationRadiusModal">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">{{locationFull}}</li>
                    <li class="headerRadius">{{mapRadius}}<span> Miles From You</span></li>
                </button>
            </ul>
            <ul class="headerCat">
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Apparel</span>
                    <ul class="headerDropDownNav hoverDropDown headerPreDrop">
                        <li><a href="/search" class="catBags">Bags</a></li>
                        <li><a href="/search" class="catBelts">Belts</a></li>
                        <li><a href="/search" class="catHoodies">Hoodies</a></li>
                        <li><a href="/search" class="catJackets">Jackets</a></li>
                        <li><a href="/search" class="catJeans">Jeans</a></li>
                        <li><a href="/search" class="catShorts">Shorts</a></li>
                        <li><a href="/search" class="catTees">Tees</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>

                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Electronics</span>
                    <ul class="headerDropDownNav hoverDropDown headerPreDrop">
                        <li><a href="/search" class="catPhones">Phones</a></li>
                        <li><a href="/search" class="catTablets">Tablets</a></li>
                        <li><a href="/search" class="catComputers">Computers</a></li>
                        <li><a href="/search" class="catGames">Games</a></li>
                        <li><a href="/search" class="catHeadphones">Headphones</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>
                <li class="headerDropDown hoverDropDown hoverDropper">
                    <span>Shoes</span>
                    <ul class="headerDropDownNav hoverDropDown Shoes headerPreDrop">
                        <li><a href="/search" class="catAsics">Asics</a></li>
                        <li><a href="/search" class="catAddidas">Addidas</a></li>
                        <li><a href="/search" class="catConverse">Converse</a></li>
                        <li><a href="/search" class="catNike">Nike</a></li>
                        <li><a href="/search" class="catJordan">Jordan</a></li>
                    </ul>
                </li>
                <li class="headerNotDrop"><a href="#">Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><button type="button" class="modJoinTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#JoinModal">
                Join</button></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </nav>
 <!--    <div class="searchfield searchfield2">
        <input type="text" class="search search2" placeholder="Brand, Name, Neighborhood, Size, Price...">
        <a href="/search" class="homesearchbtn">Search</a>
    </div> -->
    <div>
    </div>	    
</template>