<template name="homeheaderpre">
    <nav class="headerNav headerHomePost">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <a class="modLocationRadiusTrigger btn btn-primary btn-lg" href="/map">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">{{locationFull}}</li>
               <!--  <li class="headerRadius">{{mapRadius}} <span>  Miles From You</span></li> -->
                </a>
            </ul>
            <ul class="headerCat">
                 <li class="headerDropDown headerDropDownPre navGeneral clickDropper headerDropApparel">
                    <span>Apparel</span>
                    <ul class="headerDropDownNav">
                        <a href="/search" class="catBags catPre"><li>Bags</li></a>
                        <a href="/search" class="catBelts catPre"><li>Belts</li></a>
                        <a href="/search" class="catHoodies catPre"><li>Hoodies</li></a>
                        <a href="/search" class="catJackets catPre"><li>Jackets</li></a>
                        <a href="/search" class="catJeans catPre"><li>Jeans</li></a>
                        <a href="/search" class="catShorts catPre"><li>Shorts</li></a>
                        <a href="/search" class="catTees catPre"><li>Tees</li></a>
                        <a href="/search" class="catOther catPre"><li>Other</li></a>
                    </ul>
                </li>

                <li class="headerDropDown headerDropDownPre navGeneral clickDropper">
                    <span>Electronics</span>
                    <ul class="headerDropDownNav">
                        <a href="/search" class="catPhones catPre"><li>Phones</li></a>
                        <a href="/search" class="catTablets catPre"><li>Tablets</li></a>
                        <a href="/search" class="catComputers catPre"><li>Computers</li></a>
                        <a href="/search" class="catGames catPre"><li>Games</li></a>
                        <a href="/search" class="catHeadphones catPre"><li>Headphones</li></a>
                        <a href="/search" class="catOther catPre"><li>Other</li></a>
                    </ul>
                </li> 
                <li class="headerDropDown headerDropDownPre navGeneral clickDropper headerDropShoes">
                    <span>Shoes</span>
                    <ul class="headerDropDownNav">
                        <a href="/search" class="catAsics catPre"><li>Asics</li></a>
                        <a href="/search" class="catAddidas catPre"><li>Addidas</li></a>
                        <a href="/search" class="catConverse catPre"><li>Converse</li></a>
                        <a href="/search" class="catNike catPre"><li>Nike</li></a>
                        <a href="/search" class="catJordan catPre"><li>Jordan</li></a>
                    </ul>
                </li>
                <li class="headerNotDrop"><a href="#">Other</a></li>
                <li class="headerNotDrop headerHelp"><a href="/help">Help</a></li>
            </ul>
            <ul class="headerAuth">
                <li><button type="button" class="modJoinTrigger btn btn-primary btn-lg" data-toggle="modal" data-target="#JoinModal">
                Join</button></li>
                <li><a href="#" class="login">Login</a></li>
            </ul>
        </nav>
    </nav>
     <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <div class="searchfield job oneDiv">
       <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
      <a href="/search" class="homesearchbtn">Search</a>
</div>
</template>