<template name="homeheaderpost">
    <nav class="headerNav headerPost">
        <nav class="headerNavMax">
            <ul class="headerLocationRadius">
                <a class="modLocationRadiusTrigger btn btn-primary btn-lg" href="/map">
                    <li class="headerCompass"><i class="fa fa-compass"></i></li>
                    <li class="headerLocation">{{locationFull}}</li>
                   <!--  <li class="headerRadius">{{mapRadius}} <span>Miles From You</span></li> -->
                </a>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper headerCatDrop">
                <li class="headerDropDown headerDropDownPre headerCatDropLi">
                    <span>Categories</span>
                    <ul class="headerDropDownNav">
                        <li><a href="/search" class="catApparel">Apparel</a></li>
                        <li><a href="/search" class="catElectronics">Electronics</a></li>
                        <li><a href="/search" class="catShoes">Shoes</a></li>
                        <li><a href="/search" class="catOther">Other</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="headerNameOptions">
                <li>
                    <a href="/profile/{{profile}}">
                        <img src="{{picturesmall}}">
                        <span class="headerUsername">{{usernameCurrent}}</span>
                    </a>
                </li>
            </ul>
            <ul class="headerHomeButton">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="headerPostOptions headerLine clickDropper">
                <li class="headerDropDown navGlobal">
                    <a href="#"><i class="fa fa-bars"></i></a>
                    <ul class="headerDropDownNav managerDropdown">
                        <a href="/add"><li>Add Listing</li></a>
                        <a href="/profile/active"><li>Active Meetups</li></a>
                        <a href="/profile/offers"><li>Sent Offers</li></a>
                        <a href="/profile/listings"><li>Your Listings</li></a>
                        <a href="/profile/saved"><li>Saved Products</li></a>
                        <a href="/profile/history"><li>History</li></a>                    
                    </ul>
                </li>
               <li class="headerDropDown navNotifications clickDropper">
                    <a href="#"><i class="fa fa-globe"></i></a>
                    <ul class="headerDropDownNav notifyDropdown">
                    {{#if hasNotifications}}
                        {{#each Notification}}
                        <li>{{> Notification}}</li>
                        {{/each}}
                         <button type="button" class="modNotificationsTrigger btn btn-primary btn-lg">
                            View All Notifications
                        </button>
                        {{/if}} 
                    </ul>
                </li> 
                <li class="headerDropDown navMessage clickDropper">
                    <!-- Shows Name at top when message received. Click goes to that person name -->
                   <a href="/chat"><i class="material-icons">chat</i></a>
                </li> 
                <li class="headerDropDown navGeneral clickDropper">
                    <a href="#"><i class="fa fa-caret-down"></i></a>
                    <ul class="headerDropDownNav otherDropdown">
                        <a href="/help"><li>Help Center</li></a>
                        <a href="/help"><li>Go Premium</li></a>
                        <a href="/advertise"><li>Advertise</li></a>
                        <a href="/help/report"><li>Report</li></a>
                        <a href="/profile/settings"><li>Profile Settings</li></a>
                        <a href="#" class="logout"><li>Logout</li></a>
                    </ul>
                </li>
            </ul>
        </nav>
    </nav>
    <h1 class="logo"><a href="/">SpaceTrades</a></h1>
    <!-- Teddy Bear System -->
    <div class="searchfield job oneDiv">
     <input type="text" id="search" class="search" placeholder="Brand, Name, Neighborhood, Size, Price...">
     <a href="/search" class="homesearchbtn">Search</a>
 </div>

</template>